<div class="awards-container">
	{% set gingerbread_count = p.award_count("gingerbread", v) * 2 if p.award_count("gingerbread", v) <= 10 else 20 %}
	{% for i in range(gingerbread_count) %}
		<div class="fall-snowflake">
			<img src="/assets/event/images/awards/gingerbread.webp?v=1" class="animate-spin object-contain" style="width: 40px; height: 40px;" alt="animate marsey gingerbread icon" />
		</div>
	{% endfor %}

	{# idk why snow isn't working vvvvvvvvvv #}
	{% if p.award_count("snow", v) %}
		<script defer src="{{'event/js/snow.js'|asset}}"></script>
	{% endif %}

	{% if p.award_count("frostbite", v) %}
		<div class="frost"></div>
		<script defer src="{{'event/js/frostbite.js' | asset}}"></script>
		<script defer src="{{'event/css/frostbite.css' | asset}}"></script>
	{% endif %}

	{% if p.award_count("snowed-in", v) %}
		<canvas id="canvas-snowed-in-overlay"></canvas>
		<canvas id="canvas-snowed-in-lines"></canvas>
		<link rel="stylesheet" href="{{'event/css/snowed-in.css' | asset}}">
		<script defer src="{{'event/js/snowed-in.js'|asset}}"></script>
	{% endif %}
</div>

{% if p.award_count("lights", v) %}
	<link rel="stylesheet" href="{{('event/css/lights.css') | asset}}">
{% endif %}

{% if p.award_count("candycane", v) %}
	<link rel="stylesheet" href="{{('event/css/candycane.css') | asset}}">
{% endif %}

{% if p.award_count("fireplace", v) %}
	<link rel="stylesheet" href="{{('event/css/fireplace.css') | asset}}">
{% endif %}
