{# <script src="{{'event/js/neko.js'|asset}}"></script> #}
{% if request.path == '/' %}
	<script src="{{'event/js/snow.js'|asset}}"></script>
	<script>snow(80);</script>
{% endif %}

<a rel="nofollow noopener noreferrer" href="https://www.youtube.com/watch?v=BuKft9LpL_0" style="text-decoration: none !important">
	{% if random.randint(1,100) != 1 %}
		<link rel="stylesheet" href="{{'event/css/banner.css' | asset}}">
		{% if SITE_NAME == 'rDrama' %}
			{% include "event/banner_rDrama.svg" %}
		{% else %}
			{% include "event/banner.svg" %}
		{% endif %}
	{% else %}
		<img src="/assets/event/images/banner_new.webp" style="width:100%" />
	{% endif %}
</a>
