{% if '/post/' in request.path %}
<!-- Static -->
<a  rel="nofollow noopener noreferrer" href="{% if 'rama' in request.host %}https://youtu.be/3l7X94GLqSQ?t=16{% else %}/{% endif %}">
  <img loading="lazy" class="banner" src="/assets/images/halloween/banner.png" width="100%">
</a>
{% else %}
<!-- Animated -->
<div class="banner-halloween">
  <div class="sky">
    <h1>
      <span class="happy">rdrama presents</span>
      <span class="halloween">HOMOwEEN</span>
    </h1>
    <div class="moon">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="cloud-container">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <a class="marsey-witch" rel="nofollow noopener noreferrer" href="{% if 'rama' in request.host %}https://youtu.be/3l7X94GLqSQ?t=16{% else %}/{% endif %}">
        <img loading="lazy" src="/assets/images/halloween/marsey-witch.png">
      </a>
    </div>
    <div class='stars'></div>
    <div class='twinkling'></div>
    <div class='clouds'></div>
  </div>
</div>

{% block scripts %}
<script src="/assets/js/halloween/banner.js"></script>
{% endblock %}
{% endif %}
