beautifulsoup4
bleach
bleach[css]
Flask
Flask-Caching
Flask-Compress
Flask-Limiter
Flask-Mail
Flask-Socketio
gevent
gevent-websocket
greenlet
gunicorn
lxml
mistletoe
matplotlib
Pillow
pyotp
qrcode
redis
requests
SQLAlchemy
tinycss2
tldextract
psycopg2-binary
pusher_push_notifications
pyenchant
pytest
youtube-dl
yattag
webptools