beautifulsoup4
bleach
bleach[css]
Flask
Flask-Caching
Flask-Compress
Flask-Limiter
Flask-Socketio
gevent
gevent-websocket
gevent_inotifyx
greenlet
gunicorn
imagehash
inotify
lxml
mistletoe
matplotlib
owoify-py
Pillow
pyotp
qrcode
redis
requests
SQLAlchemy
tinycss2
tldextract
user-agents
psycopg2-binary
pusher_push_notifications
pytest
youtube-dl
yattag
webptools
