.casino-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.casino-game {
  flex: 1;
}

/* Slots */
#slots-block {
  max-width: 700px;
}

.casino-slots-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.casino-slots-results .reel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: var(--gray);
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 64px;
}

.casino-slots-outcome {
  visibility: hidden;
  text-align: right;
  margin: 1rem 0;
}

/* Blackjack */
#blackjack-block {
  max-width: 800px;
}

@media screen and (max-width: 600px) {
  .blackjack-table .hand .playing-card {
    width: 60px;
    height: 90px;
  }
}

.casino-blackjack-outcome {
  visibility: hidden;
  text-align: right;
  margin-bottom: 1rem;
}

.blackjack-table {
  max-width: 500px;
}

.blackjack-table .hand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blackjack-table .hand .playing-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 90px;
  border: 2px solid black;
  background-color: var(--gray);
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 30px;
}

.blackjack-table .hand .playing-card.dealt {
  background-color: #ddd;
}

.casino-blackjack-actions {
  text-align: right;
}

/* Lottery */
.casino-lottery {
  margin-top: 5rem;
}

/* Blocks */
.casino-block {
  padding: 1rem;
  border: 4px solid #361506;
  border-radius: 8px;
  background-color: #092711;
  margin: 2rem 0;
}

.casino-block-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.5;
}

.casino-block-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.casino-block-left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

@media screen and (max-width: 600px) {
  .casino-block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.casino-block-game {
  margin-right: 2rem;
}
