/* src/features/activity/Activity.css */
.Activity {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 4rem;
}
.Activity > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.Activity i {
  margin-right: 3rem;
}
.Activity > section:not(:last-child) {
  margin-right: 2rem;
}

/* src/features/chat/ActivityList.css */
.ActivityList {
  margin-left: 2rem;
}
.ActivityList h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ActivityList h4 hr {
  flex: 1;
  margin-right: 1rem;
}
.ActivityList-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.ActivityList-activity-icon {
  margin-right: 1rem;
}
.ActivityList-activity {
  transition: background 0.4s ease-in-out;
  padding: 0 1rem;
}
.ActivityList-activity:hover {
  cursor: pointer;
  background: #ffffff05;
}

/* src/features/chat/Username.css */
.Username {
  display: inline-flex;
  align-items: center;
}
.Username > a {
  font-weight: bold;
  margin-left: 8px;
}

/* src/features/chat/ChatMessage.css */
@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ChatMessage {
  padding: 0.5rem;
  padding-right: 3rem;
  position: relative;
  animation: fading-in 0.3s ease-in-out forwards;
}
.ChatMessage:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.02);
}
.ChatMessage-top {
  display: flex;
  align-items: center;
}
.ChatMessage-timestamp {
  margin-left: 0.5rem;
}
.ChatMessage-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.ChatMessage-content {
  margin-right: 0.5rem;
  word-break: break-all;
  display: inline-block;
}
.ChatMessage-button {
  background: transparent !important;
}
.ChatMessage-delete {
  position: absolute;
  top: 4px;
  right: 4px;
}
.ChatMessageList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ChatMessageList::-webkit-scrollbar {
  display: none;
}
lite-youtube {
  min-width: min(80vw, 500px);
}

/* src/features/chat/QuotedMessage.css */
@keyframes sliding-up {
  from {
    top: 50px;
  }
  to {
    top: 0;
  }
}
.QuotedMessage {
  position: relative;
  padding: 0.5rem 0;
  border-top: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: sliding-up 0.3s forwards;
}
.QuotedMessage-content {
  margin-left: 1rem;
  flex: 1;
  max-width: 420px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

/* src/drawers/BaseDrawer.css */
.BaseDrawer {
  flex: 1;
  padding-right: 2rem;
  overflow: hidden;
}

/* src/features/emoji/EmojiGenres.css */

/* src/features/emoji/EmojiDrawer.css */
.EmojiDrawer-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* src/features/chat/UserInput.css */
.UserInput {
  position: relative;
}
.UserInput-emoji {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
}

/* src/features/chat/UserList.css */
.UserList {
  margin-left: 2rem;
}
.UserList-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UserList-heading h4 {
  margin-right: 2rem;
}
.UserList ul:not(.fluid) {
  max-height: 275px;
  overflow: auto;
}
.UserList ul::-webkit-scrollbar {
  display: none;
}

/* src/features/chat/Chat.css */
.Chat {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 350px;
  max-width: 1200px;
}
.Chat-mobile-top {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.Chat-mobile-top i {
  margin-right: 0.25rem;
  position: relative;
  top: -1px;
}
.Chat-mobile-top span {
  font-size: 18px;
}
.Chat-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media screen and (max-width: 1180px) {
  .Chat-mobile-top {
    display: flex;
  }
  .Chat-side {
    display: none;
  }
}
.Chat-drawer {
  padding-right: 1rem;
}
.Chat-typing {
  height: 18px;
  display: inline-block;
}
.Chat-window {
  width: 100%;
}

/* src/features/chat/ChatHeading.css */
.ChatHeading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ChatHeading i {
  margin-right: 0.5rem;
}

/* src/features/chat/UsersTyping.css */
.UsersTyping {
  height: 18px;
  display: inline-block;
}

/* src/App.css */
.App {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 42px);
  display: flex;
}
@media screen and (min-width: 1000px) {
  .App {
    height: calc(100vh - 12rem);
  }
}
.App-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}
.App-heading {
  flex-basis: 3rem;
  border-bottom: 1px dashed var(--primary);
  display: flex;
  align-items: center;
}
.App-side {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--gray-500);
}
@media screen and (min-width: 1100px) {
  .App-side {
    display: none;
  }
}
.App-content {
  position: relative;
  flex: 1;
}
.App-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  display: flex;
}
.App-input {
  flex-basis: 7rem;
  padding: 0 1rem;
}
