/* src/App.css */
html,
body {
  overscroll-behavior-y: none;
}
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  min-height: -webkit-fill-available;
}
.App {
  position: fixed;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.App-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}
.App-heading {
  flex-basis: 3rem;
  display: flex;
  align-items: center;
}
.App-heading small {
  opacity: 0.2;
  font-size: 10px;
}
.App-side {
  height: 100%;
  flex: 1;
  background: var(--gray-500);
  position: relative;
}
.App-content {
  position: relative;
  flex: 3;
  height: 62vh;
  height: calc(var(--vh, 1vh) * 72);
  max-height: 1000px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.App-content::-webkit-scrollbar {
  display: none;
}
.App-drawer {
  z-index: 2;
  display: flex;
  background: rgb(var(--background));
  height: 100%;
}
.App-center {
  display: flex;
  align-items: flex-start;
}
.App-bottom-wrapper {
  display: flex;
  align-items: flex-start;
}
.App-bottom {
  flex: 3;
}
.App-bottom-dummy {
  flex: 1;
}
.App-bottom-extra {
  padding: .25rem;
}
@media screen and (max-width: 1100px) {
  .App-wrapper {
    margin: 0 auto;
  }
  .App-heading {
    padding: 0 1rem;
  }
  .App-side {
    display: none;
  }
  .App-bottom-dummy {
    display: none;
  }
  .App-bottom-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
lite-youtube {
  min-width: min(80vw, 500px);
}
.btn-secondary {
  border: none !important;
}
.btn-secondary:focus {
  border: none !important;
  box-shadow: none !important;
}

/* src/features/chat/UserList.css */
.UserList {
  padding: 1rem;
  flex: 1;
}
.UserList-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UserList-heading h5 {
  margin-right: 2rem;
}
.UserList ul {
  max-height: calc(var(--vh, 1vh) * 50);
  overflow: auto;
}
.UserList ul::-webkit-scrollbar {
  display: none;
}

/* src/features/chat/ChatHeading.css */
.ChatHeading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ChatHeading i {
  margin-right: 0.5rem;
}

/* src/features/chat/Username.css */
.Username {
  display: inline-flex;
  align-items: center;
}
.Username > a {
  font-weight: bold;
  margin-left: 8px;
}

/* src/features/chat/QuotedMessageLink.css */
.QuotedMessageLink {
  font-size: 10px;
}

/* src/features/chat/ChatMessage.css */
.ChatMessage {
  position: relative;
  padding-right: 1.5rem;
  max-height: 300px;
}
.ChatMessage__isDm {
  background: var(--gray-800);
  border-top: 1px dashed var(--primary);
  border-bottom: 1px dashed var(--primary);
}
.ChatMessage__isOptimistic {
  opacity: 0.5;
}
.ChatMessage p {
  margin: 0;
}
.ChatMessage .btn {
  border: none !important;
}
.ChatMessage-top {
  display: flex;
  align-items: center;
}
.ChatMessage-timestamp {
  margin-left: 0.5rem;
  opacity: 0.5;
  font-size: 10px;
}
.ChatMessage-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  overflow: hidden;
}
.ChatMessage-content {
  margin-right: 0.5rem;
  word-wrap: break-word;
  display: inline-block;
  max-height: 50vh;
}
.ChatMessage-button {
  margin: 0 0.5rem;
}
.ChatMessage-button i {
  margin-right: 0.5rem;
}
.ChatMessage-button__confirmed {
  color: red !important;
}
.ChatMessage-quoted-link {
  padding-left: 2rem;
}
.ChatMessage-actions-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}
.ChatMessage-actions-button button {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}
.ChatMessage-actions-button button i {
  position: relative;
  top: 3px;
  margin-right: 1rem;
}
.ChatMessage-actions {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.85);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 3rem;
  animation: fading-in 0.3s ease-in-out forwards;
}
.ChatMessage-actions button {
  font-size: 10px;
  background: none !important;
}
.ChatMessageList {
  flex: 1;
}
.ChatMessageList-group {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 8px;
}
.ChatMessageList-group:nth-child(even) {
  background: rgba(255, 255, 255, 0.025);
}

/* src/drawers/BaseDrawer.css */
.BaseDrawer {
  flex: 1;
  padding-right: 2rem;
  overflow: hidden;
}

/* src/features/emoji/EmojiGenres.css */

/* src/features/emoji/EmojiDrawer.css */
.EmojiDrawer-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* src/features/chat/UserInput.css */
.UserInput {
  position: relative;
  display: flex;
  align-items: center;
}
.UserInput-input {
  flex: 1;
  margin-right: 2rem;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
}
@media (min-width: 768px) {
  .UserInput-input {
    min-height: 100px !important;
    height: 100px !important;
    max-height: 100px !important;
  }
}
.UserInput-emoji {
  cursor: pointer;
  font-size: 20px;
  transform: rotateY(180deg);
  margin-right: 1rem;
}

/* src/features/chat/UsersTyping.css */
.UsersTyping {
  height: 18px;
  display: inline-block;
  font-size: 10px;
}

/* src/features/chat/QuotedMessage.css */
.QuotedMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.QuotedMessage-content {
  margin-left: 1rem;
  flex: 1;
  max-width: 420px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}
