@charset "UTF-8";

:root {
	--dark: #383838;
	--secondary: #383838;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: #000000;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #383838;
	--gray-400: #303030;
	--gray-500: #000000;
	--gray-600: #000000;
	--gray-700: #000000;
	--gray-800: #000000;
	--gray-900: #000000;
	--background: #000000;
}

* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, [readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}



.sidebar
{
    border-radius: 6px;
    margin-top: 6px;
}

.modal-content {
    background-color: var(--gray-900);
}

.modal .comment-actions .list-group-item {
	background-color: var(--light);
}

.tooltip-inner {
	color: #d8d8d8 !important;
	background-color: #313131 !important;
}

#frontpage .posts .card, #userpage .posts .card, #search .posts .card {
	border-color: #101010;
}

h5.post-title a:visited {
	color: #7a7a7a !important;
}