@import 'midnight.css?v=4033';

:root {
	--light: transparent;
	--gray-600: transparent;
	--gray-700: transparent;
	--gray-800: transparent;
	--gray-900: transparent;
}

.container, #userpage > div.container-fluid, #root > div.App {
	background: rgba(28, 34, 41, 0.90) !important;
}

.fixed-bottom, .popover, .modal-content, .dropdown-menu, .navbar, body, .form-control {
	background-color: #21262d !important;
}

.App-side {
	background: transparent !important;
}
