@import 'midnight.css?v=4033';

:root {
	--light: transparent;
	--gray-600: transparent;
	--gray-700: transparent;
	--gray-800: transparent;
	--gray-900: transparent;
	--background: transparent;
}

.container {
	background: rgba(28, 34, 41, 0.90) !important;
}

#mobile-bottom-navigation-bar, .popover, .modal-content, .dropdown-menu, .navbar, #userpage > div.container-fluid, body {
	background-color: var(--gray-500) !important;
}
