@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

:root {
  /*--primary: #ee5e0a;
  --dark: #1f0339;*/
  --primary: #F66A3C;
  --dark: #140224;
  --secondary: #820263;
  --white: #E1E1E1;
  --black: #CFCFCF;
  --light: #170535;
  --muted: #E1E1E1;
  --gray: #383838;
  --gray-100: #E1E1E1;
  --gray-200: #E1E1E1;
  --gray-300: #291720;
  --gray-400: #303030;
  --gray-500: var(--dark);
  --gray-600: var(--dark);
  --gray-700: var(--dark);
  --gray-800: var(--dark);
  --gray-900: var(--dark);
  --background: var(--dark);
}

* {
	border-color: var(--primary);
}

a:hover.user-name {
	cursor: url('/assets/images/halloween/machete.png') 36 36, auto;
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
	border-width: 2px;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}

#frontpage .post-title a:visited {
	color: #7a7a7a !important;
}

/* Halloween Theming */

.post-title a {
	font-family: 'Griffy';
	font-size: 1.25rem;
}

.arrow-up::before, .arrow-down::before {
	content: '\f720';
	width: 20px;
}

.arrow-down::before {
	display: inline-block;
	transform: rotate(180deg);
}

/* Cob Webs */

body::before {
	content: '';
	position: fixed;
	background-image: url('/assets/images/halloween/cobweb-bl.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: -1.5rem;
	bottom: -1.5rem;
	width: 170px;
	height: 230px;
	z-index: 10001;
	pointer-events: none;
	transform: rotate(180deg);
	opacity: .5;
}

body::after {
	content: '';
	position: fixed;
	background-image: url('/assets/images/halloween/cobweb-tr.png');
	background-size: contain;
	background-repeat: no-repeat;
	right: -1.5rem;
	top: -1.5rem;
	width: 160px;
	height: 160px;
	z-index: 10001;
	pointer-events: none;
	opacity: .45;
}

/* Blood Effect */

.blood::before {
	content: '';
	position: absolute;
	background-image: url('/assets/images/halloween/blood.gif');
	width: 100%;
	height: 55px;
	background-repeat: repeat-x;
	top: 0;
	left: 0;
}

.blood {
	position: relative;
}

.blood .comment-text:not(.ectoplasm) {
	color: #dc3545 !important;
	font-family: 'Nosifer';
}


.sketch {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

/* Haunted Effect */

.haunt > div:not(.modal) {
	animation: haunted 10s infinite;
}

@keyframes haunted {
	0% {
		filter: brightness(20%);
	}
	1% {
		filter: brightness(20%);
	}
	2% {
		filter: sepia(0.8) contrast(1.5) brightness(200%);
	}
	3% {
		filter: sepia(0.8) contrast(1.5) brightness(20%);
	}
	4% {
		filter: brightness(300%);
	}
	7% {
		filter: brightness(1);
	} 
	100% {
    filter: brightness(1);
	}
}

@font-face {
	font-family: "Jo_wrote_a_lovesong";
	src: url("/assets/fonts/Jo_wrote_a_lovesong.woff") format("woff");
  }

/* Spiders */

.spider:nth-child(odd) {
	animation-name: swingFast;
}

.spider:nth-child(2) {
	animation-delay: 250ms;
	animation-duration: 2100ms;
	left: 20%;
}

.spider:nth-child(3) {
	animation-delay: 300ms;
	animation-duration: 1600ms;
	left: 30%;
}

.spider:nth-child(4) {
	animation-delay: 400ms;
	animation-duration: 1800ms;
	left: 40%;
}

.spider:nth-child(5) {
	animation-delay: 240ms;
	animation-duration: 1900ms;
	left: 50%;
}

.spider:nth-child(6) {
	animation-delay: 250ms;
	animation-duration: 2300ms;
	left: 60%;
}

.spider:nth-child(7) {
	animation-delay: 400ms;
	animation-duration: 2100ms;
	left: 70%;
}

.spider:nth-child(8) {
	animation-delay: 4000ms;
	animation-duration: 200ms;
	left: 80%;
}

.spider {
	z-index: 10;
	position: fixed;
	display: inline-block;
	top: 0;
	left: 10%;

	/* 4. Animate */
	animation: swing 2s infinite;
	transform-origin: top;

	/* Bonus */
	transition: 0.8s ease-in-out;
}

.spider:hover .body {
	transform: rotate(20deg);
	transition: 0.4s ease-in-out;
}

.spider:nth-child(odd):hover .body {
	transform: rotate(-10deg);
	transition: 0.2s ease-in-out;
}

.spider .spiderweb {
	width: 2px;
	height: 200px;
	margin-left: 49px;
	background: rgba(255, 255, 255, 0.7);
}

.spider .body {
	width: 100px;
	height: 80px;
	background: #222;
	position: relative;
	border-radius: 50%;
}

.spider .body .eye {
	width: 28px;
	height: 28px;
	position: absolute;
	bottom: 24px;
	background: #fff;
	border-radius: 50%;
}

.spider .body .eye.left {
	left: 20px;
}

.spider .body .eye.right {
	right: 20px;
}

.spider .body .eye:after {
	background: #222;
	width: 7px;
	height: 7px;
	content: "";
	display: block;
	margin: 55%;
	border-radius: 50%;

	/* 3. Animate */
	animation: look 4s infinite;
}

.spider:nth-child(8) .body .eye {
  background-color: #FF0000;
  background: radial-gradient(#FF9B9B, #FF0000);
}

.spider:nth-child(odd) .body .eye:after {
	animation-delay: 1400ms;
	animation-duration: 3600ms;
}

.spider .legs .leg {
	width: 80px;
	height: 40px;
	margin-top: -20px;
	border: 5px solid transparent;
	border-top-color: #333;
	border-radius: 40px 40px 0 0;
}

.spider .legs {
	position: absolute;
	bottom: -10%;
	z-index: -1;
}

.spider .legs.left {
	left: -70%;
}
.spider .legs.right {
	right: -60%;
}

.legs.left .leg:nth-child(1) {
	transform: rotate(10deg);
	margin-left: 10px;
}
.legs.right .leg:nth-child(1) {
	transform: rotate(-10deg);
	margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
	transform: rotate(-20deg);
	margin-left: 20px;
}
.legs.right .leg:nth-child(2) {
	transform: rotate(20deg);
	margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
	transform: rotate(-50deg);
	margin-left: 30px;
}
.legs.right .leg:nth-child(3) {
	transform: rotate(50deg);
	margin-left: -30px;
}

/* 1. Animate */
@keyframes look {
	0%,
	40%,
	100% {
		transform: translateX(0);
	}

	45%,
	95% {
		transform: translateX(-100%);
	}
}

/* 3. Animate */
@keyframes swing {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-24px);
	}
}

/* 3. Animate */
@keyframes swingFast {
	0%,
	100% {
		transform: translateY(0);
	}

	55% {
		transform: translateY(-36px);
	}
}

/* Fog effect */
.fog-effect {
	opacity: 0.8;
}
#fog-effect {
	pointer-events: none;
	position:fixed;
	bottom:0;
	left: 0;
	width:100%;
	height: 100%;
	z-index: 1031;
}

/* Halloween Banner */
#banner-halloween-title.life > tspan {
	opacity: 1;
  }
  #banner-halloween-title-II {
	text-shadow: 0 4px 10px #ff000060;
  }
  #banner-halloween-title.life > #banner-halloween-title-II {
	animation: blinker 0.5s forwards;
  }
  @media (max-width: 767.98px) {
	#banner-halloween-title {
	  transform: scale(1.4) translate(-90px, -120px);
	  animation:none !important;
	}
	#banner-halloween-presenting {
	  transform: scale(1.4) translate(-90px, -120px);
	}
	#banner-halloween-bats {
	  display:none;
	}
  }
  
  @keyframes float {
	0% {
	  transform: translateY(0px);
	}
	50% {
	  transform: translateY(-6px);
	}
	100% {
	  transform: translateY(0px);
	}
  }
  @keyframes blinker {
	10% {
	  opacity: 0;
	}
	,
	30% {
	  opacity: 0.4;
	}
	,
	60% {
	  opacity: 0.2;
	}
	,
	85% {
	  opacity: 0.5;
	}
	,
	100% {
	  opacity: 0.9;
	}
  }

/* Eyes */
.eye {
	position: relative;
	width: 26px;
	height: 26px;
}

/* Candy Corn */
.candy-corn {
	--color3: #FBED21;
	--color2: #F66A3C;
	--color1: #FDFBDA;
	font-family: "Open Sans", sans-serif;
	background: repeating-linear-gradient(
		45deg,
		var(--color1),
		var(--color1) 10px,
		var(--color2) 20px,
		var(--color2) 20px,
		var(--color3) 60px,
		var(--color3) 60px
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 32s linear 0s infinite candycorn-move;
}
  
.candy-corn:not(a) > p {
    color: transparent !important;
}

#post-title > a.candy-corn {
	color: transparent;
}

.candy-corn:hover {
	animation-duration: 10s;
}
  
@keyframes candycorn-move {
	from {
		background-position: 0px;
	}
	to {
		background-position: 1000px;
	}
}

/* Ectoplasm */
.ectoplasm {
	text-shadow: 0 0 20px #3AE63A;
}

.ectoplasm .comment-text > p, .ectoplasm .post-body, h1.ectoplasm {
	font-family: 'Creepster' !important;
	color: #90ee90 !important;
	letter-spacing: 0.15em;
}