/* text */
@font-face{
	font-family: "Plakat-Fraktur";
	src: url("/assets/fonts/event/Plakat-Fraktur-Black.woff") format("woff");
}

@media (max-width: 767.98px) {
	#banner-title {
		transform: scale(1.4) translate(-190px, -60px);
	}
}

/* stars */
.star {
	animation: linear infinite snow;
	animation-delay:-4s;
}

.star1 {animation-duration: 5s;}
.star2 {animation-duration: 4.5s;}
.star3 {animation-duration: 7s;}
.star4 {animation-duration: 6s;}
.star5 {animation-duration: 8s;}

@media (max-width: 767.98px) {
	.star {
		animation: none;
		fill-opacity: 0.5;
	}
	.star1 circle {
		r: 1;
	}
	.star2 circle {
		r: 1.5;
	}
	.star3 circle {
		r: 2;
	}
	.star4 circle {
		r: 2;
	}
	.star5 circle {
		r: 2.5;
	}
}

@keyframes snow {
	from {transform: translateY(-60%)}
	to {transform: translateY(60%)}
}
