{% extends "default.html" %}
{% block pagetype %}userpage{% endblock %}
{% block pagetitle %}@{{u.username}}'s profile{% endblock %}
{% block head_final %}
	{% if u and u.profile_background %}
		{% set displaying_bg = True %}
		<link rel="stylesheet" href="{{('css/transparent.css') | asset}}">
		<style>
			body {
				background-image: url('{{u.profile_background}}') !important;
			}
		</style>
	{% endif %}
	{% if u and u.profilecss and not request.values.get('nocss') %}
		<link rel="stylesheet" href="/{{u.id}}/profilecss">
	{% endif %}
{% endblock %}
{% block content %}
{%- include 'userpage/banner.html' -%}
{%- include 'userpage/header.html' -%}
{% block userpage_content required %}{% endblock %}
{% if FEATURES['USERS_PROFILE_SONG'] and u.song %}
	{% if v and v.id == u.id %}
		<div id="v_username" class="d-none">{{v.username}}</div>
	{% else %}
		<div id="u_username" class="d-none">{{u.username}}</div>
	{% endif %}
{% endif %}

{% if v %}
<div id='tax' class="d-none">{% if v.patron or u.patron or v.alts_patron or u.alts_patron %}0{% else %}0.03{% endif %}</div>
<script defer src="{{'js/userpage_v.js' | asset}}"></script>
<div id="username" class="d-none">{{u.username}}</div>
{% endif %}
<script defer src="{{'js/userpage.js' | asset}}"></script>
{% endblock %}

{% block pagenav %}
{% if listing %}
<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm mb-0">
		{% if page>1 %}
		<li class="page-item">
			<small><a class="page-link" href="?page={{page-1}}&sort={{sort}}&t={{t}}" tabindex="-1">Prev</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Prev</span></li>
		{% endif %}
		{% if next_exists %}
		<li class="page-item">
			<small><a class="page-link" href="?page={{page+1}}&sort={{sort}}&t={{t}}">Next</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Next</span></li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% if not request.path.endswith('/comments') and not request.path.endswith(u.username) %}
	<script defer src="{{'js/vendor/marked.js' | asset}}"></script>
	<script defer src="{{'js/markdown.js' | asset}}"></script>
{% endif %}

{% if v and v.id != u.id and not request.path.endswith('/comments') and not request.path.endswith(u.username) %}
	{% include "modals/emoji.html" %}
{% endif %}
{% endblock %}
{% block GIFpicker %}{% endblock %}
