{%-
set CACHE_VER = {
	'css/main.css': 351,

	'css/4chan.css': 61,
	'css/classic.css': 61,
	'css/classic_dark.css': 61,
	'css/coffee.css': 61,
	'css/dark.css': 61,
	'css/dramblr.css': 61,
	'css/light.css': 61,
	'css/midnight.css': 61,
	'css/reddit.css': 61,
	'css/transparent.css': 61,
	'css/tron.css': 61,
	'css/win98.css': 61,

	'js/award_modal.js': 253,
	'js/bootstrap.js': 260,
	'js/comments+submission_listing.js': 261,
	'js/emoji_modal.js': 282,
	'js/formatting.js': 240,
	'js/header.js': 273,
	'js/lottery.js': 256,
	'js/marked.js': 267,
	'js/submit.js': 263,
	'js/userpage.js': 241,
	'js/userpage_v.js': 245,
	
	'images/badges/': 1021,
}
-%}
{%- macro asset(name, file='') -%}
/assets/{{name}}{{file}}?v={{ CACHE_VER[name] }}
{%- endmacro -%}
