{%-
set CACHE_VER = {
	'css/main.css': 4036,
	'css/catalog.css': 4007,

	'css/4chan.css': 4007,
	'css/classic.css': 4031,
	'css/classic_dark.css': 4031,
	'css/coffee.css': 4007,
	'css/dark.css': 4007,
	'css/dramblr.css': 4008,
	'css/light.css': 4007,
	'css/midnight.css': 4007,
	'css/reddit.css': 4007,
	'css/transparent.css': 4007,
	'css/tron.css': 4007,
	'css/win98.css': 4007,

	'js/award_modal.js': 4001,
	'js/bootstrap.js': 4006,
	'js/clipboard.js': 4000,
	'js/comments.js': 4000,
	'js/comments_admin.js': 4000,
	'js/comments_v.js': 4003,
	'js/comments+submission_listing.js': 4010,
	'js/submission_listing.js': 4000,
	'js/emoji_modal.js': 4004,
	'js/formatting.js': 4000,
	'js/lite-youtube.js': 4000,
	'js/lottery.js': 4000,
	'js/marked.js': 4006,
	'js/search.js': 4000,
	'js/submit.js': 4001,
	'js/userpage.js': 4000,
	'js/userpage_v.js': 4002,
	'js/lozad.js': 4000,
	'js/sort_table.js': 4001,

	'css/chat_done.css': 1007,
	'js/chat_done.js': 1007,
}
-%}

{%- macro asset(name, file='') -%}
	/assets/{{name}}{{file}}?v={{ CACHE_VER[name] }}
{%- endmacro -%}

{%- macro asset_siteimg(name) -%}
	/i/{{SITE_NAME}}/{{name}}?v=3009
{%- endmacro -%}
