{%-
set CACHE_VER = {
	'css/main.css': 406,
	'css/catalog.css': 2,

	'css/4chan.css': 61,
	'css/classic.css': 61,
	'css/classic_dark.css': 61,
	'css/coffee.css': 61,
	'css/dark.css': 61,
	'css/dramblr.css': 61,
	'css/light.css': 61,
	'css/midnight.css': 62,
	'css/reddit.css': 61,
	'css/transparent.css': 61,
	'css/tron.css': 61,
	'css/win98.css': 63,

	'js/award_modal.js': 253,
	'js/bootstrap.js': 275,
	'js/comments+submission_listing.js': 263,
	'js/submission_listing.js': 261,
	'js/emoji_modal.js': 299,
	'js/formatting.js': 240,
	'js/lottery.js': 256,
	'js/marked.js': 280,
	'js/submit.js': 265,
	'js/userpage.js': 242,
	'js/userpage_v.js': 245,
	'js/lozad.js': 260,

	'images/badges/': 1023,
}
-%}

{%- macro asset(name, file='') -%}
/assets/{{name}}{{file}}?v={{ CACHE_VER[name] }}
{%- endmacro -%}

{%- macro asset_siteimg(name) -%}
/i/{{SITE_NAME}}/{{name}}?v=3001
{%- endmacro -%}