{% macro banner(src, href, alt) %}
	<a href="{{href|default(src)}}">
		<img onclick = "expandDesktopImage()" alt="{{alt|default('site banner')}}" src="{{src|default(live_banner())}}">
	</a>
{% endmacro %}

{% macro live_banner() %}
	{% set path = "files/assets/images/" + SITE_NAME %}
	{% if not v and os_path.exists(path + "/cached.webp") %}
		{{ 'cached.webp' | asset_siteimg }}
	{% elif os_path.exists(path + "/banners") %}
		{{ random_image("banners") }}
	{% else %}
		{{ 'banner.webp' | asset_siteimg }}
	{% endif %}
{% endmacro %}

{% macro random_image(assetdir) %}
	{% set path = "assets/images/" + SITE_NAME + "/" + assetdir  %}
	{{ "/" + path + "/" + listdir('files/' + path)|random() + '?v=45' }}
{% endmacro %}
