{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}}</title>

{% endblock %}

{% block content %}
<pre></pre>
<pre></pre>
<h3 class="pb-2">Admin Tools</h3>

{% if v.admin_level > 2 and (SITE_NAME == 'rDrama' or SIDEBAR_THREAD or BANNER_THREAD or BADGE_THREAD or SNAPPY_THREAD) %}
	<h4>Add Stuff</h4>
	<ul>
		{% if SIDEBAR_THREAD %}
			<li><a href="/post/{{SIDEBAR_THREAD}}">Add Sidebar Images</a></li>
		{% endif %}
		{% if BANNER_THREAD %}
			<li><a href="/post/{{BANNER_THREAD}}">Add Banners</a></li>
		{% endif %}
		{% if BADGE_THREAD %}
			<li><a href="/post/{{BADGE_THREAD}}">Add Badges</a></li>
		{% endif %}
		{% if SNAPPY_THREAD %}
			<li><a href="/post/{{SNAPPY_THREAD}}">Add Snappy Quotes</a></li>
		{% endif %}
		{% if SITE_NAME == 'rDrama' %}
			<li><a href="/admin/update/marseys">Update Marseys</a></li>
		{% endif %}
	</ul>
{% endif %}

<h4>Content</h4>
<ul>
	<li><a href="/log">Moderation Log</a></li>
	<li><a href="/admin/image_posts">Image Posts</a></li>
	<li><a href="/admin/reported/posts">Reported Posts/Comments</a></li>
	<li><a href="/admin/removed/posts">Removed Posts/Comments</a></li>
</ul>

<h4>Users</h4>
<ul>
	<li><a href="/admin/users">Users Feed</a></li>
	<li><a href="/admin/shadowbanned">Shadowbanned Users</a></li>
	<li><a href="/banned">Permabanned Users</a></li>
	{% if FEATURES['AWARDS'] -%}
		<li><a href="/agendaposters">Users with Chud Theme</a></li>
		<li><a href="/grassed">Currently Grassed Users</a></li>
	{%- endif %}
	{% if FEATURES['PROCOINS'] and (not AEVANN_ID or v.id == AEVANN_ID) -%}
		<li><a href="/patrons">Patrons / Paypigs</a></li>
	{%- endif %}
	<li><a href="/admin/loggedin">Currently Logged-in Users</a></li>
	<li><a href="/admin/loggedout">Currently Logged-out Users</a></li>
</ul>

<h4>Safety</h4>
<ul>
	<li><a href="/admin/banned_domains">Banned Domains</a></li>
	<li><a href="/admin/alt_votes">Multi Vote Analysis</a></li>
</ul>

{% if FEATURES['BADGES'] or FEATURES['AWARDS'] -%}
<h4>Grant</h4>
<ul>
	{% if FEATURES['AWARDS'] -%}
		<li><a href="/admin/awards">Give User Award</a></li>
	{%- endif %}
	{% if FEATURES['BADGES'] -%}
		<li><a href="/admin/badge_grant">Grant Badges</a></li>
		<li><a href="/admin/badge_remove">Remove Badges</a></li>
	{%- endif %}
</ul>
{%- endif %}

{% if CASINO_ENABLED -%}
<h4>Casino</h4>
<ul>
	<li><a href="/admin/lottery/participants">Participants</a></li>
	<button class="btn btn-primary mt-3" onclick="post_toast(this,'/casino/blackjack/purge');" style="margin-bottom: 2em;">PURGE BAD BLACKJACK GAMES</button>
</ul>
{%- endif %}

<h4>Statistics</h4>
<ul>
	<li><a href="/stats">Content Stats</a></li>
	<li><a href="/weekly_chart">Weekly Stat Chart</a></li>
	<li><a href="/daily_chart">Daily Stat Chart</a></li>
</ul>

<h4>Configuration</h4>
<ul>
	<li><a href="/create_hole">Create {{ HOLE_NAME | capitalize }}</a></li>
	<li><a href="/admin/apps">Apps</a></li>
	{% if FEATURES['CATEGORIES'] -%}
		<li><a href="/admin/categories">Categories</a></li>
	{%- endif %}
</ul>

{% if v.admin_level > 2 %}
	<pre></pre>
	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="signups" {% if site_settings['Signups'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Signups');">
		<label class="custom-control-label" for="signups">Signups</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="login_required" {% if site_settings['login_required'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/login_required');">
		<label class="custom-control-label" for="login_required">Login Required</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="bots" {% if site_settings['Bots'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Bots');">
		<label class="custom-control-label" for="bots">Bots</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="Fart mode" {% if site_settings['Fart mode'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Fart mode');">
		<label class="custom-control-label" for="Fart mode">Fart mode</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="Read-only mode" {% if site_settings['Read-only mode'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Read-only mode');">
		<label class="custom-control-label" for="Read-only mode">Read-only mode</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="under_attack" name="under_attack" {% if under_attack%}checked{% endif %} onchange="post_toast(this,'/admin/under_attack');">
		<label class="custom-control-label" for="under_attack">Under attack mode</label>
	</div>

	<button class="btn btn-primary mt-3" onclick="post_toast(this,'/admin/purge_cache');" style="margin-bottom: 2em;">PURGE CACHE</button>
	<br>
	{% if SITE_NAME == 'PCM' %}
		<button class="btn btn-primary" onclick="post_toast(this,'/kippy');" style="margin-bottom: 2em;">Print 10k Marseybux</button>
	{% endif %}
{% endif %}

<h4>Server Status</h4>
<div>
	Live Revision: <code>{{ gitref }}</code> <br>
</div>

{% endblock %}