{% extends 'default.html' %}
{% block content %}
<h1><u>LGB RESOURCES AND ORGANIZATIONS</u></h1> 
<br>
<p>If you would like to add additional resources, or find any information on this page is out-of-date, please visit our <a href="/post/47/resources-organizations-megathread-meta">Resources & Organizations mega-thread</a> to alert site Admins.</p>
<br>
<br>

<div class="sources-wrapper">
    <div class="sources">
        <input type="radio" id="radio1" name="radio">
        <label class="sources-label" for="radio1">Activist Groups</label>
        <div class="sources-content">
            <p><h2><u>INCLUSIVE</u></h2></p>
            <p><a href="https://saidit.net/s/LGBAlliance/wiki/lgba_orgs">LGB Alliance</a><i> - this link will be updated from SaidIt once we get a proper Wiki on this site</i></p>  
                <dl><ul>
                <li><i>About: </i>LGB Alliance began as a UK-based charity advocating for lesbians, gay men, and bisexuals. It now has chapters around the world.</li>
                </ul></dl>
            <p><a href="https://lgbfightback.org/">LGB Fight Back</a></p>  
                <dl><ul>
                <li><i>About: </i>US organization of lesbians, gay men, and bisexuals who advocate for the interests of the LGB community.</li>
                </ul></dl>
                <br>
            <p><h2><u>EXCLUSIVE</u></h2></p>
            <p><a href="https://www.lglf.org/#/">New Gay Liberation Front</a></p>    
                <dl><ul>
                <li><i>About: </i>US organization that advocates for the rights of lesbians and gay men.</li>
                </ul></dl>
            <p><a href="https://saidit.net/s/GetTheLOut/wiki/gtlo_orgs">Get The L Out</a><i> - this link will be updated from SaidIt once we get a proper Wiki on this site</i></p>
                <dl><ul>
                <li><i>About: </i>GetTheLOut is primarily a UK-based group representing lesbians. There are a few other chapters around the world.</li>
                </ul></dl> 
        </div>
    </div>
    <div class="sources">
        <input type="radio" id="radio2" name="radio">
        <label class="sources-label" for="radio2">News Outlets & Articles</label>
        <div class="sources-content">
            <p><h2><u>LGB-SPECIFIC</u></h2></p>
            <p><a href="https://afterellen.com/">After Ellen</a></p>  
                <dl><ul>
                <li><i>About: </i>News outlet for lesbian and bisexual women.</li>
                <li><i>Example Article: </i><a href="https://afterellen.com/how-to-write-a-love-letter-tips-from-historys-lesbians/">How to Write a Love Letter –Tips From History’s Lesbians</a></li>
                </ul></dl>
            <p><a href="https://lesbianandgaynews.com/">Lesbian and Gay News</a><i> - closed / shut down</i></p>  
                <dl><ul>
                <li><i>About: </i>News outlet by lesbian/gay people, for lesbian/gay people. Does sometimes platform transsexuals (e.g. Rose of Dawn ).</li>
                <li><i>Example Article: </i><a href="https://archive.ph/FFApM">Lesbian women talk about meeting ‘transbians’ on women-only dating sites</a></li>
                </ul></dl>                
                <br>
            <p><h2><u>SUPPORTIVE / RELEVANT / ALLIES</u></h2></p>          
            <p><a href="https://www.segm.org/">Society for Evidence-Based Gender Medicine</a></p>
                <dl><ul>
                <li><i>About: </i>Organization of physical and mental health practitioners, researchers and experts who are concerned about the lack of scientific evidence for popular treatments of gender dysphoria.</li>
                <li><i>Example Article: </i><a href="https://www.segm.org/typology_of_gender_detransition">A Typology of Gender Detransition and Its Implications for Healthcare Providers</a></li>
                </ul></dl>            
            <p><a href="https://grahamlinehan.substack.com/">The Glinner Update</a></p>  
                <dl><ul>
                <li><i>About: </i>Newsletter put out by Graham Linehan (the TV writer), an ally who is against transgender ideology.</li>
                <li><i>Example Article: </i><a href="https://grahamlinehan.substack.com/p/these-are-not-lesbians">These are not lesbians</a></li>
                </ul></dl>
            <p><a href="https://www.transgendertrend.com/">Transgender Trend</a></p>
                <dl><ul>
                <li><i>About: </i>UK-based group of "parents, professionals and academics" who are concerned about the growing trend of transgender identification.</li>
                <li><i>Example Article: </i><a href="https://www.transgendertrend.com/the-tavistocks-experiment-with-puberty-blockers-part-5-the-belated-results/">
The Tavistock’s experiment with puberty blockers, part 5: the belated results</a></li>
                </ul></dl>
                <br>
            <p><h2><u>INDIVIDUAL ARTICLES / VIDEOS</u></h2></p>          
                <dl><ul>
                <li><b>Channel 4</b> V segment about the Tavistock: <a href="https://www.channel4.com/news/children-have-been-very-seriously-damaged-by-nhs-gender-clinic-says-former-tavistock-staff-governor">'Children have been very seriously damaged' by NHS gender clinic, says former Tavistock staff governor</a></li>
                <li><b>Economist</b> article about the Keira Bell verdict: <a href="https://www.economist.com/international/2020/12/12/an-english-ruling-on-transgender-teens-could-have-global-repercussions">An English Ruling on Transgender Teens Could Have Global Repercussions</a> (free version <a href="https://www.segm.org/Keira_Bell_ruling_global_repercussions">available on SEGM website</a> )</li>
                <li><b>BBC </b> article about LGB people being forced to transition in Iran: <a href="https://www.bbc.com/news/magazine-29832690">The gay people pushed to change their gender</a></li>
                <li><b>BBC </b> article about Tavistock wait times, quoted LGB Alliance (and later got lambasted by trans rights activists for it): <a href="https://www.bbc.com/news/health-55015959">Trans teen in legal action over gender clinic wait</a></li>
                <li><b>The Telegraph</b> article about LGB Alliance: <a href="https://archive.vn/cFamJ">Lesbians facing 'extinction' as transgenderism becomes pervasive, campaigners warn</a></li>
                <li><b>KHN (Kaiser Health News)</b> article about Lupron, a harmful puberty blocker drug (one of many) which is prescribed to teenagers who want to medically "transition": <a href="https://khn.org/news/women-fear-drug-they-used-to-halt-puberty-led-to-health-problems/">Women Fear Drug They Used To Halt Puberty Led To Health Problems</a></li>
                <li><b>Seattle Times</b> article about the Keira Bell court ruling: <a href="https://www.seattletimes.com/seattle-news/health/uk-court-rules-against-clinic-in-puberty-blocking-drugs-case/">UK court rules against clinic in puberty blocking drugs case</a></li>
                <li><b>The New York Times</b> article (old, from 1979) by Thomas Szasz (academic/psychiatrist): <a href="https://www.nytimes.com/1979/06/10/archives/male-and-female-created-he-them-transexual.html"> Male and Female Created He Them</a></li> 
                </ul></dl>                
        </div>
    </div>
    <div class="sources">
        <input type="radio" id="radio3" name="radio">
        <label class="sources-label" for="radio3">YouTube</label>
        <div class="sources-content">
            <p><h2><u>LGB-SPECIFIC</u></h2></p>
            <p><a href="https://www.youtube.com/c/ArtyMorty/about">Arty Morty</a></p>  
                <dl><ul>
                <li><i>About: </i>Gay man in Canada who does videos and interviews about transgender ideology, and the differences between the trans rights movement and the gay rights movement.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=Z0imz7OFktE">Trans Rights Are Not Like Gay Rights! Trans is NOT the New Gay</a></li>
                </ul></dl>
            <p><a href="https://www.youtube.com/c/GNCCentric/about">GNC Centric</a></p>  
                <dl><ul>
                <li><i>About: </i>Lesbian and detransitioner (formerly FtM) who posts videos about her experience and about transgender ideology.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=hnkuEsGFcUY">How a lesbian can believe she is a gay trans man...</a></li>
                </ul></dl>
            <p><a href="https://www.youtube.com/c/MagdalenBerns/about">Magdalen Berns</a></p>  
                <dl><ul>
                <li><i>About: </i>Lesbian and feminist who is critical of identity politics, the destruction of women's rights due to transgender activism, and more. Sadly, Magdalen passed away in 2019 but her family has kept her channel active.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=dQ35T3H7Arg">The Cotton Ceiling: A Post Modern Affront to Lesbianism</a></li>
                </ul></dl>
            <p><a href="https://www.youtube.com/user/Perzikyoghurt/about">Peachyoghurt Genderfree</a></p>  
                <dl><ul>
                <li><i>About: </i>Lesbian who is against the enforcement of gender (sex stereotypes), including the transing of children.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=7jSJQDc2y-g">Understanding Transgender Issues: Puberty Blockers (documentary)</a></li>
                </ul></dl>
                <br>
            <p><h2><u>SUPPORTIVE / RELEVANT / ALLIES</u></h2></p>          
            <p><a href="https://www.youtube.com/c/BenjaminABoyce/about">Benjamin Boyce</a></p>  
                <dl><ul>
                <li><i>About: </i>Does videos that are critical of "queer theory" (and of other strains of "critical theory", which is the intellectual parent of queer theory). Also interviews detransitioners, many of whom are LGB.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=xP7nLI_Hizo">GNC_Centric: Banned But Not Broken</a></li>
                </ul></dl>           
            <p><a href="https://www.youtube.com/channel/UCYj9xEuFEQORfVK3k1kPxQw/about">You're Kiddin', Right?</a></p>  
                <dl><ul>
                <li><i>About: </i>Ally who is against transgender ideology.</li>
                <li><i>Example Video: </i><a href="https://www.youtube.com/watch?v=Zm_mv6fsfiY">DEAR TRANS DOGMATISTS, STOP TELLING WOMEN TO INVADE GAY MEN'S SPACES!</a></li>
                </ul></dl>
                <br>
            <p><h2><u>INDIVIDUAL VIDEOS</u></h2></p>          
                <dl><ul>
                <li><b>Library of Congress</b> video about a gay rights demonstration in 1970: <a href="https://www.youtube.com/watch?v=OevqwHmeEFI">Gay and Proud</a></li>
                <li><b>New York Times</b> video about Stonewall, the event: <a href="https://www.youtube.com/watch?v=S7jnzOMxb14">The Stonewall You Know Is a Myth. And That’s O.K. | NYT Celebrating Pride</a></li>
                <li><b>MADtv</b> video about a "lesbian" who is a man: <a href="https://www.youtube.com/watch?v=bgcLfohtFbE">MADtv Lesbian Coffeehouse</a></li>
                <li><b>Aba & Preach</b> video about pressure to date trans people: <a href="https://www.youtube.com/watch?v=vVY_j-eHWEI">If youre not open to dating a transgender person you're....</a></li>
                </ul></dl>           
        </div>
    </div>
    <div class="sources">
        <input type="radio" id="radio4" name="radio">
        <label class="sources-label" for="radio4">Facebook</label>
        <div class="sources-content">
            <p><h2><u>LGB-SPECIFIC</u></h2></p>
            <p><a href="https://www.facebook.com/BoxerCeiling/">The Boxer Ceiling</a></p>  
                <dl><ul>
                <li><i>About: </i>Catalogues hate and harassment directed at gay men by the trans rights movement.</li>
                </ul></dl>
                <br>
            <p><h2><u>SUPPORTIVE / RELEVANT / ALLIES</u></h2></p>          
            <p><a href="#">Placeholder Name</a></p>  
                <dl><ul>
                <li><i>About: </i> placeholder text</li>
                </ul></dl>           
        </div>
    </div>
</div>

<style>
    #main-content-col {
        margin: 2rem 1rem;
    }

    /******** Hides the checkbox/radio button */

    .sources-wrapper input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .sources-wrapper input[type='radio'] {
        display: none;
    }

    /******** SOURCE TITLES */

    .sources {
        color: var(--black);
        margin-bottom: 3rem;
    }
    .sources-label {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: 1rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }

    /******** SOURCE CONTENT */

    .sources-content {
        max-height: 0;
        padding: 0 1em;
        background: transparent !important;
        transition: all 0.35s;
        display: none;
    }
    .sources-wrapper input:checked ~ .sources-content {
        max-height: 100%;
        padding: 1em;
        display: block;
        transition: all 0.35s;
    }
</style>
{% endblock %}
