{% extends 'default.html' %}
{% block content %}

<h1><u>RULES AND FAQS</u></h1> 

<h2>All rules are subject to Admin and Moderator discretion.</h2>    

<p>We will not spell out every edge case for you. Common sense and accountability are required. That said, we do have a list of common FAQs below.</p>        

<p>You may be banned immediately for rule violations, or may be given warnings and temporarily muted from participation. You can appeal any action by <a href="/contact">messaging Admins</a>. An appeal does not guarantee a ban/mute will be overturned. An appeal also does not mean you will get an explanation or response - trolls and instigators will be ignored.</p> 

<p><b>DO NOT send private chats or messages directly to Admins or Moderators about rules or site issues.</b> Admins are also users like yourselves. Chat and messages are private and personal, and are not the appropriate venue to discuss actions taken on behalf of this site.</p>

<p>If you have additional questions or concerns about these rules, please visit our <a href="/h/help_and_support/post/18/rules-faqs-megathread">Rules and FAQs mega-thread</a>.</p> 
<br>
<br>

<div class="faqs">
    <div class="faq">
        <input type="radio" id="radio1" name="radio">
        <label class="faq-label" for="radio1">1. General Guidelines / Civility</label>
        <div class="faq-content">
            <p><i>All LGB are welcome here, regardless of background or ideology.</i></p>
            <p><i>Be respectful of each other's differences. Discuss and debate ideas, not individuals.</i></p>
            <p><i>No slap-fights or name-calling.</i></p>
                <br>
                <dl><ul>
                <li><b>There are right-wing sources being posted here, I thought LGB were on the left?</b></li>
                    <br>
                    <dd><p>LGB are not a monolith of political beliefs. We are non-partisan, and support users of all foundations - left, right, or otherwise. You may disagree personally with another user's beliefs, but they are allowed to have different core values.</p>
                    <p>Right-wing/conservative LGB people are welcome here. Left-wing/progressive people are welcome here. Anyone from any political party is welcome here, as long as they follow the rules and can have composed conversations about the issues at hand.</p>
                    <p>If we say right-wingers can't be part of this site and LGB, we're saying the same thing the TQ+ movement tells us: "we'll revoke your gay card because you're not playing by our specific rules". You can feel how you want to feel about the right and/or conservatives, but the LGB among them do have a seat at this table.</p></dd>
                    <br>
                <li><b>Why can't I stand up for myself if someone's calling me names, they started it!</b></li>
                    <br>
                    <dd><p>We ask you to consider the LGB community as a whole, and how you want LGB represented.</p>
                    <dd><p>You may critique a topic or behavior, but remember there is a real person on the other side of the screen. Take the high road, and remove yourself from the conversation if you cannot disagree respectfully.</p>
                    <dd><p>If you have an issue with a user or a particular stance, take it up with them privately. Public fighting and taunting will be removed, and repeat offendors will be banned.</p></dd>
                </ul></dl>
        </div>
    </div>
    <div class="faq">
        <input type="radio" id="radio2" name="radio">
        <label class="faq-label" for="radio2">2. Appropriate Content</label>
        <div class="faq-content">
            <p><i>Why LGB and TQ+ should no longer be part of the same organization.</i></p>
            <p><i>LGB news, concerns, history, and/or personal affairs.</i></p>
            <p><i>Other topics must demonstrate applicability towards LGB or "dropping the T".</i></p>
                <br>
                <dl><ul>
                <li><b>Why was my post about mens/womens issues removed?</b></li>
                    <br>
                    <dd><p>The most likely reason is because it focused on how trans people are broadly impacting men/women, without mentioning LGB at all.</p>
                    <p>This is an LGB site first and foremost. We are separatists, and others may find this site seeking understanding of our stance, with no prior knowledge of the LGBTQ+ climate.</p>
                    <p>We support both men's and women's rights <b>as they relate to LGB</b>. We're not a platform for supporting men's or women's rights generally, such as "gender critical" or "the red pill".</p>
                    <p>Please be sure to demonstrate why/how LGB should take note of what's presented and "join hands across the aisle" of our respective groups, or the post will be removed.</p></dd>
                    <br>
                <li><b>Why was my post about politics removed?</b></li>
                    <br>
                    <dd><p>The most likely reason is because it focused on how trans people are broadly impacting society, without mentioning LGB at all.</p>
                    <p>We're not here to discuss trans rights being changed legally - unless those changes have a direct impact on LGB.</p>
                    <p>While some politics are naturally involved in a civil rights movement, we are not a political organization. We are not pro- or anti-politics, so please remember to center LGB or "dropping the T" in your posts.</p></dd>
                </ul></dl>
        </div>
    </div>
    <div class="faq">
        <input type="radio" id="radio3" name="radio">
        <label class="faq-label" for="radio3">3. Off-Topic Posts/Comments</label>
        <div class="faq-content">
            <p><i>No anti-trans memes/mockery. Posts about "trans people behaving badly" are not allowed unless it shows a clear and direct impact on LGB.</i></p>
            <p><i>We're not here for AMAs or outside debate - no whataboutism or "why do you want to" or "Keep The T!" posts.</i></p>
            <p><i>Straight/trans allies may post as long as content is LGB-relevant. No validation threads.</i></p>
            <p><i>No agenda-pushing, dividing the community, or derailing.</i></p>
                <br>
                <dl><ul>
                <li><b>Trans and/or straight people are allowed here? I thought this was LGB only!</b></li>
                    <br>
                    <dd><p>Allies are allowed to share here as long as they follow our rules. There are trans people who support the separation, as do straight people.</p>
                    <p>We will not allow this to become a forum about them and their needs though. We do not allow "I'm trans, ask me anything!" or "I'm straight, I have a few questions" types of posts.</p>
                    <p>We don't have any questions, we're not here to debate, and we're not here to validate you for supporting us. These kinds of posts will be removed, and repeat offenders will be banned.</p></dd>
                    <br>
                <li><b>What do you mean by "agenda-pushing" and "dividing the community"?</b></li>
                    <br>
                    <dd><p>While certainly not an all-encompassing list, some examples are:</p>
                    <br>
                    <p>- Posting about trans actions which impact groups other than LGB.</p>
                    <p>- Asserting your political or ideological belief as the only "real" truth.</p>
                    <p>- Asking questions that pit members of LGB against each other.</p>
                    <p>- Promoting TQ+ or GSRM, or other similar dogma. </p>
                    <p>- Adding a comment to a thread which has no bearing or relation to the post.</p>
                    <br>
                    <p>Always keep the goal of LGB representation in mind, and consider our solidarity as a community.</p></dd>
                    <br>
                <li><b>No "whataboutism"? But I'm queer and have something to say that you need to hear! You're not allowing free speech!</b></li>
                    <br>
                    <dd><p>We don't particularly care what you think about your freedom of speech in our space. Get out if you don't like it.</p></dd>
                </ul></dl>
        </div>
    </div>
    <div class="faq">
        <input type="radio" id="radio4" name="radio">
        <label class="faq-label" for="radio4">4. Disallowed Language</label>
        <div class="faq-content">
            <p><i>No implying that men/women are defined by gender. Men are adult human males, and women are adult human females.</i></p>
            <p><i>No implying that sexuality is defined by gender. Sexuality is an orientation, not an identity.</i></p>
            <p><i>No homophobia/biphobia or accusations of bigotry.</i></p>
            <p><i>No racism or anti-semitism.</i></p>
            <p><i>No slurs, crudity, or shock/gore.</i></p>
                <br>
                <dl><ul>
                <li><b>Aren't you erasing trans people? They can be gay too!</b></li>
                    <br>
                    <dd><p>Of course they can. But if a trans person feels they're lesbian/gay due to their gender identity, then we refute that.</p>
                    <p>A male who likes other males and transitions is still gay, he is merely a homosexual trans (HSTS) male presenting as female. A female who likes other females and transitions is still a lesbian, she is merely a homosexual trans female presenting as male.</p>
                    <p>We'll say it louder for the people in the back... <b>SEXUAL ORIENTATION IS BASED ON BIOLOGICAL SEX, NOT GENDER IDENTITY. WE DO NOT BELIEVE HUMANS CAN CHANGE SEX.</b></p></dd>
                    <br>
                <li><b>What kind of slurs aren't allowed?</b></li>
                    <br>
                    <dd><p>If you have to ask this, you may need to re-read rule 1.</p>
                    <p>We do not allow trancel, troon/troom, or any other slang devised to mock trans people. Language like that is better suited for <a href="https://cringetopia.org">Cringetopia</a>.</p>
                    <p>Use of the word "tranny" will be reviewed on a case-by-case basis. Quoting someone else, referring to yourself, or discussing the usage is okay. Using the term towards someone else is not. Not everyone has accepted and made peace with it or reclaimed it, and we will respect that.</p></dd>
                    <br>
                <li><b>What do you mean by "crudity" or "shock/gore"?</b></li>
                    <br>
                    <dd><p>Do you remember r/NeoVaginaDisasters? Pepperidge Farms remembers.</p>
                    <p>Nothing of that sort is allowed. That also includes written phrases like "pus-filled axe wound" or "sliced and flayed flesh hotdog".</p>
                    <p>Remember there is a real person on the other side, with actual feelings, who made a choice to transition and is now living with it. It's a slippery slope from "expression of truth" into disgust and/or hate speech, and it's not our place to shame people into regret.</p></dd>
                </ul></dl>
        </div>
    </div>
    <div class="faq">
        <input type="radio" id="radio5" name="radio">
        <label class="faq-label" for="radio5">5. SITEWIDE RULES</label>
        <div class="faq-content">
            <p><i>Don't post anything illegal.</i></p>
            <p><i>No pornography or nudity.</i></p>
            <p><i>No sexualizing minors.</i></p>
            <p><i>No doxxing.</i></p>
                <br>
                <dl><ul>
                <li><b>What's illegal?</b></li>
                    <br>
                    <dd><p>This can be considered as, but not limited to:</p>
                    <br>
                    <p>- Piracy</p>
                    <p>- Advocating for or calls to violence</p>
                    <p>- Defamation/libel</p>
                    <p>- Production of counterfeit currency</p>
                    <p>- Copyright infringement</p>
                    <p>- Child, elder, or animal abuse</p>
                    <p>- Buying/selling anything (we are not a licensed marketplace or retailer)</p>
                    <br>
                    <p>Whatever you're thinking of - if you walk out of your house doing it, will you get arrested? Don't do it here then. And for things you can do in secret inside, don't do that either.</p></dd>
                    <br>
                <li><b>What if pornography/nudity is demonstrative, like medical photos or someone's blog of their transition?</b></li>
                    <br>
                    <dd><p>This will be reviewed on a case-by-case basis, and in conjunction with the rest of our rules.</p>
                    <p>If appropriate content, it must be in the form of a direct link, and publicly hosted on another site (no archives). Posts must be marked 18+ (NSFW).</p>
                    <p>We do not allow it to be on our site in the form of GIFs, images, backgrounds, PFPs, etc.</p></dd>
                    <br>
                <li><b>What counts as sexualizing minors?</b></li>
                    <br>
                    <dd><p><a href="https://tips.fbi.gov"><img src="/e/pedobear.webp" width="100" height="100"></a></p></dd>
                    <br>
                <li><b>With doxxing, what if the person is a public figure and/or the information is already available online?</b></li>
                    <br>
                    <dd><p>This will be reviewed on a case-by-case basis, and in conjunction with the rest of our rules.</p>
                    <p>If appropriate content, it must be in the form of a direct link, and publicly hosted on another site (no archives).</p>
                    <p>In general, we don't see much need for this sort of content. You might find <a href="https://kiwifarms.net">Kiwi Farms</a> more to your liking, if this is your thing.</p></dd>
                </ul></dl>
        </div>
    </div>
</div>

<style>
    #main-content-col {
        margin: 2rem 1rem;
    }

    /******** Hides the checkbox/radio button */ 

    .faqs input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .faqs input[type='radio'] {
        display: none;
    }

    /******** FAQ titles */ 

    .faq {
        color: var(--black);
        margin-bottom: 3rem;
    }
    .faq-label {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: 1rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }

    /******** FAQ content */ 

    .faq-content {
        max-height: 0;
        padding: 0 1em;
        background: transparent !important;
        transition: all 0.35s;
        display: none;
    }
    .faqs input:checked ~ .faq-content {
        max-height: 100%;
        padding: 1em;
        display: block;
        transition: all 0.35s;
    }
</style>
{% endblock %}
