{%- extends 'login/authforms.html' -%}
{% block pagetitle %}Login{% endblock %}
{% block pagetype %}login{% endblock %}
{% block template_config %}
	{% set root_scope.js = true %}
	{% set root_scope.include_user_css = false %}
	{% set root_scope.include_seo = false %}
	{% set root_scope.include_cf_2fa_verify = false %}
{% endblock %}
{% block authtitle %}Welcome back.{% endblock %}
{% block authtext %}Glad to have you back!{% endblock %}
{% block content %}
<div id="login-form">
	{%- set error_text -%}
		Incorrect username, email address, or password.<br>
		<a href="/forgot" class="alert-link">Forgot password?</a>
	{%- endset -%}
	{% if failed %}{{macros.alert(error_text, true)}}{% endif %}
	<form action="/login" method="post" class="mt-md-3" id="login">
			<label for="username" class="mt-3">Username or Email Address</label>
			<input autocomplete="off" class="form-control" id="username"
			type="text" name="username" required="">
			<input type="hidden" name="redirect" value="{{redirect}}">
			<label for="password" class="mt-3">Password</label>
			<input autocomplete="off" class="form-control" id="password"
			type="password" name="password" required="">
			<small class="d-block my-3"><a href="/forgot">Forgot password?</a></small>
			<button type="submit" class="btn btn-primary login w-100 mt-3" id="login_button">Sign In</button>
			<div class="text-center text-muted text-small mt-5 mb-3">
				Don't have an account? <a href="/signup{{'?redirect='+redirect if redirect else ''}}" class="font-weight-bold toggle-login">Sign up</a>
			</div>
	</form>
</div>
{% endblock %}
