{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>Users exiled from /h/{{sub}}</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Exiled by</th>
		<th>On</th>
		<th></th>
	</tr>
</thead>
{% for user, exile in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{% include "user_in_table.html" %}</td>
		<td>
			{% with user=exile.exiler %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</td>
		<td {% if exile.created_utc %}data-time="{{exile.created_utc}}"{% endif %}></td>
		<td>
			{% if v.mods(sub.name) %}
				<form action="/h/{{sub}}/unexile/{{user.id}}" method="post">
					<input type="hidden" name="formkey" value="{{v.formkey}}">
					<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" onclick="disable(this)" value="Unexile">
				</form>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}