{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>{{HOLE_NAME|capitalize}} List</h5>
<pre></pre>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th onclick="sort_table(2)">Posts</th>
				<th onclick="sort_table(3)">Followers</th>
				<th onclick="sort_table(4)">Blockers</th>
				<th onclick="sort_table(5)">Created On</th>
			</tr>
		</thead>

		{% for sub, count in subs %}
			<tr>
				<td>{{loop.index}}</td>
				<td><a href="/h/{{sub}}">{{sub}} {% if sub.name in v.all_blocks %}<span class="text-danger">[blocked, visit it to unblock it]</span>{% endif %}</a></td>
				<td><a href="/h/{{sub}}" >{{count}}</a></td>
				<td><a href="/h/{{sub}}/followers">{{sub.follow_num}}</a></td>
				<td><a href="/h/{{sub}}/blockers">{{sub.block_num}}</a></td>
				<td data-time="{{sub.created_utc}}"></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script defer src="{{'js/sort_table.js' | asset}}"></script>

{% endblock %}
