{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>{{HOLE_NAME|capitalize}} List</h5>
<pre></pre>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th role="button" onclick="sort_table(2)">Posts</th>
			</tr>
		</thead>

		{% for sub, count in subs %}
			<tr>
				<td {% if sub.stealth %}class="text-stealth"{% endif %}>{{loop.index}}</td>
				<td><a href="/h/{{sub.name}}" {% if sub.stealth %}class="text-stealth"{% endif %}>{{sub.name}}</a></td>
				<td><a href="/h/{{sub.name}}" {% if sub.stealth %}class="text-stealth"{% endif %}>{{count}}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script src="/assets/js/sort_table.js?v=244"></script>

{% endblock %}