{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>{{HOLE_NAME|capitalize}} List</h5>
<pre></pre>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th role="button" onclick="sort_table(2)">Posts</th>
			</tr>
		</thead>

		{% for sub, count in subs %}
			{% if sub.name in v.all_blocks %}
				{% set blocked = True %}
			{% endif %}

			<tr {% if blocked %}data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hidden from main feed"{% endif %}>
				<td {% if blocked %}class="text-danger"{% endif %}>{{loop.index}}</td>
				<td><a href="/h/{{sub.name}}" {% if blocked %}class="text-danger"{% endif %}>{{sub.name}}</a></td>
				<td><a href="/h/{{sub.name}}" {% if blocked %}class="text-danger"{% endif %}>{{count}}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script src="/assets/js/sort_table.js?v=244"></script>

{% endblock %}