.App {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 42px);
  display: flex;
}

@media screen and (min-width: 1000px) {
  .App {
    height: calc(100vh - 12rem);
  }
}

.App-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.App-heading {
  flex-basis: 3rem;
  border-bottom: 1px dashed var(--primary);
  display: flex;
  align-items: center;
}

.App-side {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--gray-500);
}

@media screen and (min-width: 1100px) {
  .App-side {
    display: none;
  }
}

.App-content {
  position: relative;
  flex: 1;
}

.App-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  display: flex;
}

.App-input {
  flex-basis: 7rem;
  padding: 0 1rem;
}
