<script defer src="{{'js/award_modal.js' | asset}}"></script>

<div class="modal fade" id="awardModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered awardmodal pt-5">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Give Award</h5>
				<button type="button" class="close" data-bs-dismiss="modal">
					<span><i class="far fa-times"></i></span>
				</button>
			</div>
			<div id="awardModalBody" class="modal-body mb-3">
				<div class="awards-wrapper" style="text-align:center">
					{% for award in v.user_awards %}
						<div data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{award.description}}" id="{{award.kind}}" data-nonce="{{g.nonce}}" data-onclick="pick('{{award.kind}}', {{(award.price*v.discount)|int}}, {{v.coins}}, {{v.marseybux}})">
							<i class="{{award.icon}} {{award.color}}"></i>
							<div class="pt-1 award-name">{{award.title}}</div>
							<div class="text-muted award-owned"><span id="{{award.kind}}-owned">{{award.owned}}</span> owned</div>
						</div>
					{% endfor %}
				</div>
				<label id="notelabel" for="note" class="pt-4">Note (optional):</label>
				<input autocomplete="off" id="kind" hidden>
				<textarea autocomplete="off" id="note" maxlength="200" class="form-control" placeholder="Note to include in award notification..."></textarea>

				<input autocomplete="off" id="giveaward" class="awardbtn btn btn-primary mt-3" style="float:right" type="submit" data-nonce="{{g.nonce}}" data-onclick="giveaward(this)" value="Give Award" data-bs-dismiss="modal" disabled>

				<button type="button" id="buy1" class="awardbtn btn btn-primary mt-3 mx-3 {% if not FEATURES['MARSEYBUX'] %}d-none{% endif %}" disabled style="float:right" data-areyousure="buy(true)" data-nonce="{{g.nonce}}" data-onclick="areyousure(this)">Buy with marseybux</button>

				<button type="button" id="buy2" class="awardbtn btn btn-primary mt-3" disabled style="float:right" data-areyousure="buy()" data-nonce="{{g.nonce}}" data-onclick="areyousure(this)">Buy</button>
			</div>
		</div>
	</div>

	<div class="toast" id="toast-post-success2" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
		<div class="toast-body bg-success text-center text-white">
			<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text2">Action successful!</span>
		</div>
	</div>
	<div class="toast" id="toast-post-error2" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
		<div class="toast-body bg-danger text-center text-white">
			<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text2">Error, please try again later.</span>
		</div>
	</div>
</div>
