<div class="modal desktop-expanded-image-modal" id="expandImageModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl modal-dialog-centered mx-auto expandedimage" role="document">
		<div class="modal-content bg-transparent shadow-none">
			<div class="modal-body text-center p-0">
				<div class="d-inline-block position-relative">
					<a href="/" rel="nofollow noopener" target="_blank" id="desktop-expanded-image-wrap-link">
						<img loading="lazy" alt="expanded image" src="" class="img-fluid rounded" id="desktop-expanded-image">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
