{% extends "settings2.html" %}

{% block pagetitle %}Admins{% endblock %}

{% block content %}

<pre class="d-none d-md-inline-block"></pre>
<h5 style="font-weight:bold;">Admins</h5>
<pre></pre>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th onclick="sort_table(2)" style="text-align:right;">Truescore</th>
				<th onclick="sort_table(3)" style="text-align:right;">Mod actions</th>
			</tr>
		</thead>

		{% for user in admins %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{% include "user_in_table.html" %}</td>
				<td style="text-align:right;">{{user.truecoins}}</td>
				<td style="text-align:right;"><a href="/log?admin={{user.username}}">{{user.modaction_num}}</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script defer src="{{asset('js/sort_table.js')}}"></script>

{% endblock %}
