{% extends "default.html" %}
{% block title %}
<title>{{SITE_NAME}} - App</title>
{% endblock %}

{% block content %}
<div class="ml-3 mt-4">
	<b>How to download {{SITE_NAME}} mobile app</b>

	<div class="font-weight-bold mt-4 mb-2">First step:</div>
	<img onclick="expandDesktopImage()" alt="First step" style="height:30vh" src="/i/{{SITE_NAME}}/app1.webp">

	<div class="font-weight-bold mt-4 mb-2">Second step:</div>
	<img onclick="expandDesktopImage()" alt="Second step" style="height:30vh" src="/i/{{SITE_NAME}}/app2.webp">
</div>

{% endblock %}
