{% extends "settings2.html" %}

{% block content %}
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Ban reason</th>
		<th>Banned by</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{% include "user_in_table.html" %}</td>
		<td>{% if user.ban_reason %}{{user.ban_reason}}{% endif %}</td>
		<td>
			{% with user=user.banned_by %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
