{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>@{{u.username}}'s blockers</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<td>Blocking Since</td>
	</tr>
</thead>
<tbody id="blockers-table">
{% for block, user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{% include "user_in_table.html" %}</td>
		<td {% if block.created_utc > 1599343262 %}data-time="{{block.created_utc}}"{% endif %}></td>
	</tr>
{% endfor %}
</tbody>
</table>

<script defer src="/assets/js/blockers.js?v=4000"></script>

{% endblock %}