{% extends "default.html" %}

{# Title (~25char max), Description (~80char max),
Icon (fa-foo-bar), Color (#ff0000), URL (/post/12345/) #}
{%- set GAME_INDEX = [] -%}

{%- if SITE_NAME == 'rDrama' -%}
	{%- do GAME_INDEX.extend([
		(
			'Slots',
			'Today\'s your lucky day',
			'fa-dollar-sign', '#666',
			'/casino/slots',
		),
		(
			'Blackjack',
			'Twenty one ways to change your life',
			'fa-cards', '#333',
			'/casino/blackjack',
		),
		(
			'Lottershe',
			'Can\'t win if you don\'t play.',
			'fa-ticket', '#888',
			'/lottershe',
		)
	])-%}
{%- endif -%}

{% block content %}
<h2 style="text-transform: uppercase; text-align: center; letter-spacing: 3px; margin-top: 2rem;">rDrama.net Casino</h2>
<div id="directory--wrapper">
	{% for game in GAME_INDEX %}
	<a role="button" class="directory--link" href="{{game[4]}}">
		<div class="directory--link-content">
			<i class="directory--link--icon fas {{game[2]}}" style="color:{{game[3]}}"></i>
			<div class="directory--link--title">{{game[0]|safe}}</div>
			<div class="directory--link--description">{{game[1]|safe}}</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}