{%- extends 'root.html' -%}
{% if IS_LOCALHOST %}
	{% set csp="script-src 'self' 'unsafe-inline' rdrama.net; connect-src 'self'; object-src 'none';" %}
{% else %}
	{% set csp=none %}
{% endif %}
{% block pagetitle %}Chat{% endblock %}
{% block pagetype %}chat{% endblock %}
{% block body %}
	{% include "header.html" %}
	{% include "modals/expanded_image.html" %}
	{% include "modals/emoji.html" %}
	<div
		id="root"
		data-id="{{v.id}}"
		data-username="{{v.username}}"
		data-admin="{{v.admin_level >= PERMS['POST_COMMENT_MODERATION_TOOLS_VISIBLE']}}"
		data-censored="{{v.slurreplacer}}"
		data-sitename="{{SITE_NAME}}"
		data-themecolor="{{v.themecolor}}"
		data-namecolor="{{v.namecolor}}"
		data-avatar="{{v.profile_url}}"
		data-hat="{{v.hat_active}}">
	</div>
	<script>window.global = window</script>
	{% if IS_LOCALHOST %}
		<script defer src="https://rdrama.net/assets/js/chat_done.js"></script>
	{% else %}
		<script defer src="{{'js/chat_done.js' | asset}}"></script>
	{% endif %}
	<script defer src="{{'js/vendor/lozad.js' | asset}}"></script>
	<script defer src="{{'js/vendor/lite-youtube.js' | asset}}"></script>
{% endblock %}
