{%- import 'util/helpers.html' as help -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<script defer src="{{'js/bootstrap.js' | asset}}"></script>
	<meta name="description" content="{{DESCRIPTION}}">
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'{% if SITE == 'localhost' %} rdrama.net{% endif %}; connect-src 'self'; object-src 'none';">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">

	<link id="favicon" rel="icon" type="image/webp" href="{{'icon.webp' | asset_siteimg}}">
	<title>Chat</title>

	<style>:root{--primary:#{{v.themecolor}}}</style>
	<link rel="stylesheet" href="{{'css/main.css' | asset}}">
	<link rel="stylesheet" href="{{('css/'~v.theme~'.css') | asset}}">
	{% if v.css %}
		<style>
			{{v.css | safe}}
		</style>
	{% endif %}
	{% if SITE == 'localhost' %}
		<link rel="stylesheet" href="https://rdrama.net/assets/css/chat_done.css">
	{% else %}
		<link rel="stylesheet" href="{{'css/chat_done.css' | asset}}">
	{% endif %}
</head>

<body>
	{% include "header.html" %}
	{% include "expanded_image_modal.html" %}
	{% include "emoji_modal.html" %}

	<div
		id="root"
		data-id="{{v.id}}"
		data-username="{{v.username}}"
		data-admin="{{v.admin_level >= PERMS['ADMIN_MOP_VISIBLE']}}"
		data-censored="{{v.slurreplacer}}"
		data-sitename="{{SITE_NAME}}"
		data-themecolor="{{v.themecolor}}"
		data-namecolor="{{v.namecolor}}"
		data-avatar="{{v.profile_url}}"
		data-hat="{{v.hat_active}}">
	</div>
	<script>window.global = window</script>
	{% if SITE == 'localhost' %}
		<script defer src="https://rdrama.net/assets/js/chat_done.js"></script>
	{% else %}
		<script defer src="{{'js/chat_done.js' | asset}}"></script>
	{% endif %}
	<script defer src="{{'js/lozad.js' | asset}}"></script>
	<script defer src="{{'js/lite-youtube.js' | asset}}"></script>
</body>
