{% extends "settings2.html" %}
{% block pagetitle %}Chuds{% endblock %}
{% block content %}

<h5 class="my-4">Users who are permachudded or have more than 30 days to be unchudded</h5>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Unchud in</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{% include "user_in_table.html" %}</td>
		<td>{{user.unchud_in}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
