{%- from 'util/assetcache.html' import asset, asset_siteimg with context -%}
{%- import 'util/helpers.html' as help -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<script defer src="{{asset('js/bootstrap.js')}}"></script>

	<meta name="description" content="{{DESCRIPTION}}">

	{% if request.path == '/' %}
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' tls-use1.fpapi.io api.fpjs.io {% if PUSHER_ID != 'blahblahblah' %}{{PUSHER_ID}}.pushnotifications.pusher.com{% endif %}; object-src 'none';">
	{% else %}
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ajax.cloudflare.com; connect-src 'self'; object-src 'none';">
	{% endif %}

	{% if v %}
		<style>:root{--primary:#{{v.themecolor}}}</style>
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<!--<link rel="stylesheet" href="{{asset('css/' + v.theme + '.css')}}">-->
		<link rel="stylesheet" href="{{asset('css/midnight.css')}}">
		<link rel="stylesheet" href="/assets/css/awards.css?v=4000">
		<link rel="stylesheet" href="/assets/css/spooky.css">
		{% if v.agendaposter %}
			<style>
				html {
					cursor:url('/i/dildo.webp?v=2000'), auto;
				}
			</style>
		{% elif v.css %}
			<style>
				{{v.css | safe}}
			</style>
		{% endif %}

		{% if v.earlylife %}
			<style>
				.nav-item .text-small.font-weight-bold::before {
					content: "((("
				}
				.nav-item .text-small.font-weight-bold::after {
					content: ")))"
				}
			</style>
		{% endif %}
	{% else %}
		<style>:root{--primary:#{{DEFAULT_COLOR}}</style>
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<link rel="stylesheet" href="/assets/css/{{DEFAULT_THEME}}.css?v=4000">
		<link rel="stylesheet" href="/assets/css/awards.css?v=4000">
	{% endif %}

	{% if request.path.endswith('/catalog') %}
		<link rel="stylesheet" href="{{asset('css/catalog.css')}}">
	{% endif %}

	{% if sub and sub.css and not request.path.endswith('settings') and not request.values.get('nocss') %}
		<link rel="stylesheet" href="/h/{{sub}}/css" type="text/css">
	{% endif %}

	{% if v and v.themecolor == '30409f' %}
		<style>
			p a {
				color: #2a96f3;
			}
		</style>
	{% endif %}

	{% if SITE_NAME == 'rDrama' %}
		<style>
			.mod:before {
				content: '(((';
			}

			.mod:after {
				content: ')))';
			}
		</style>
	{% endif %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="{{asset_siteimg('site_preview.webp')}}">

	<link rel="icon" type="image/webp" href="{{asset_siteimg('icon.webp')}}">
	{% block title %}
	<title>{{SITE_NAME}}</title>

	<meta property="og:type" content="article">
	<meta property="og:title" content="{{SITE_NAME}}">
	<meta property="og:site_name" content="{{SITE}}">
	<meta property="og:image" content="{{asset_siteimg('site_preview.webp')}}">
	<meta property="og:url" content="{{request.full_path}}">
	<meta property="og:description" name="description" content="{{SITE_NAME}} - {{DESCRIPTION}}">
	<meta property="og:author" name="author" content="{{SITE_FULL}}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{SITE_FULL}}">
	<meta name="twitter:title" content="{{SITE_NAME}}">
	<meta name="twitter:creator" content="{{SITE_FULL}}">
	<meta name="twitter:description" content="{{SITE_NAME}} - {{DESCRIPTION}}">
	<meta name="twitter:image" content="{{asset_siteimg('site_preview.webp')}}">
	<meta name="twitter:url" content="{{request.full_path}}">
	{% endblock %}

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="{{asset_siteimg('icon.webp')}}">
		<link rel="manifest" href="/assets/manifest_{{SITE_NAME}}.json?v=6">
		<link rel="mask-icon" href="{{asset_siteimg('icon.webp')}}">
		<link rel="shortcut icon" href="{{asset_siteimg('icon.webp')}}">
		<meta name="apple-mobile-web-app-title" content="{{SITE_NAME}}">
		<meta name="application-name" content="{{SITE_NAME}}">
		<meta name="msapplication-TileColor" content="#{% if v %}{{v.themecolor}}{% else %}{{DEFAULT_COLOR}}{% endif %}">
		<meta name="msapplication-config" content="/assets/browserconfig.xml?v=3009">
		<meta name="theme-color" content="#{% if v %}{{v.themecolor}}{% else %}{{DEFAULT_COLOR}}{% endif %}">



		<link
		rel="apple-touch-startup-image"
		sizes="320x480"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="640x960"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-icon"
		sizes="640x1136"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-icon"
		sizes="750x1334"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1004"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1024"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="828x1792"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x748"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x768"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1125x2436"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2208"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2688"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1334x750"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2008"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2048"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1668x2224"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1792x828"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1496"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1536"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x2732"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2208x1242"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2224x1668"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2436x1125"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2668x1242"
		href="{{asset_siteimg('icon.webp')}}"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2737x2048"
		href="{{asset_siteimg('icon.webp')}}"
		>

		{% block fixedMobileBarJS %}
		{% endblock %}

		{% if 'slackernews' in request.path %}
			<meta name="cf-2fa-verify" content="ea6d12c0fb87b3b">
		{% elif SITE == 'rdrama.net' %}
			<meta name="cf-2fa-verify" content="4f40ca1ca249313">
		{% elif SITE == 'watchpeopledie.co' %}
			<meta name="cf-2fa-verify" content="372aba5b9338e00">
		{% elif SITE == 'pcmemes.net' %}
			<meta name="cf-2fa-verify" content="bf22ffe56e4bcda">
		{% endif %}




 </head>

 <body id="{% if request.path != '/comments' %}{% block pagetype %}frontpage{% endblock %}{% endif %}" {% if SITE_NAME == 'rDrama' and v and (v.is_banned or v.agendaposter) %}style="overflow-x: hidden;background:url(/assets/images/backgrounds/anime/1.webp?v=3) center center fixed; background-color: var(--background)"{% elif v and v.background %}style="{% if path != '/formatting' %}overflow-x: hidden; {% endif %} background:url(/assets/images/backgrounds/{{v.background}}?v=3) center center fixed; background-color: var(--background){% if 'anime' not in v.background %};background-size: cover{% endif %}"{% endif %}>

{% block Banner %}
	{% if '@' not in request.path %}
		{% if sub and SITE_NAME != 'WPD' %}
			<a href="{{sub.banner_url}}">
				<img alt="/h/{{sub}} banner" onclick="expandDesktopImage()" src="{{sub.banner_url}}" width=100% style="object-fit:cover;max-height:min(42vh,30vw)!important">
			</a>
		{% elif SITE_NAME == 'rDrama' %}
			<!--
			<a href="https://secure.transequality.org/site/Donation2?df_id=1480">
				{% if v and (v.is_banned or v.agendaposter) %}
					<img alt="site banner" src="/i/{{SITE_NAME}}/banner2.webp?v=2000" width="100%">
				{% else %}
					{% set path = "assets/images/" + SITE_NAME + "/banners" %}
					{% set image = "/" + path + "/" + listdir('files/' + path)|random() + '?v=25' %}
					<img alt="site banner" src="{% if v %}{{image}}{% else %}{{asset_siteimg('cached.webp')}}{% endif %}" width="100%">
				{% endif %}
			</a>
			-->
			{% include "halloween/banner.html" %}
		{% else %}
			{% if SITE_NAME == 'WPD' %}
				{% if v %}
					{% set banner = asset_siteimg('banner.webp') %}
				{% else %}
					{% set banner = asset_siteimg('cached.webp') %}
				{% endif %}
			{% elif SITE_NAME == 'PCM' %}
				{% set banner = asset_siteimg('banners/great-value-v2.webp') %}
			{% else %}
				{% set banner = asset_siteimg('banner.webp') %}
			{% endif %}

			<a href="{{banner}}">
				<img alt="site banner" onclick="expandDesktopImage()" src="{{banner}}" width="100%">
			</a>
		{% endif %}
	{% endif %}
{% endblock %}

{% include "header.html" %}

{% block mobileUserBanner %}
{% endblock %}

{% block mobileBanner %}
{% endblock %}

{% block postNav %}
{% endblock %}

<div class="container">
	<div class="row justify-content-around" id="main-content-row">

		<div class="col h-100 {% block customPadding %}{% if request.path.startswith('/@') %}user-gutters{% else %}custom-gutters{% endif %}{% endblock %}" id="main-content-col">

			{% block desktopUserBanner %}
			{% endblock %}

			{% block desktopBanner %}
			{% endblock %}

			{% block PseudoSubmitForm %}
			{% endblock %}

			{% block searchText %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block pagenav %}
			{% endblock %}

		</div>
		{% block sidebar %}
			{% if has_sidebar and (home or p) %}
				{% include "sidebar_" + SITE_NAME + ".html" %}
			{% endif %}
		{% endblock %}
	</div>
</div>

{% block mobilenavbar %}
	{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block GIFtoast %}
{% endblock %}

{% block GIFpicker %}
{% endblock %}


<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text">Action successful!</span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text">Error, please try again later.</span>
	</div>
</div>

<script defer src="{{asset('js/lozad.js')}}"></script>

{% if v %}
	<script defer src="{{asset('js/formatting.js')}}"></script>
{% endif %}

<script defer src="/assets/js/lite-youtube.js?v=4000"></script>

{% if v and v.spider %}
	<script defer src="/assets/js/critters.js?v=4000"></script>
	<script defer src="/assets/js/spider.js?v=4000"></script>
{% endif %}
</body>

</html>
