{%- import 'util/helpers.html' as help -%}
{%- import 'html_head.html' as html_head with context -%}
<!DOCTYPE html>
<html lang="en">
{% if request.path == '/' %}
	{% set csp=CONTENT_SECURITY_POLICY_HOME %}
{% endif %}
{% if not 'post/' in request.path and not '@' in request.path %}
	{{html_head.html_head(true, true, true, csp, none, "", "", true, 'post/' in request.path)}}
{% else %}
{# this should really be fixed at some point, prolly after 10/31 #}
<head>
	{{html_head.javascript()}}
	{{html_head.stylesheets(true, '')}}
	{{html_head.meta_tags_1(csp, none, true)}}
	<link rel="icon" type="image/webp" href="{{'icon.webp' | asset_siteimg}}">
	{% block title %}
	<title>{{SITE_NAME}}</title>
	{{html_head.meta_tags_2(SITE_NAME, SITE_FULL)}}
	{% endblock %}
	{{html_head.seo()}}
	{{html_head.cf_2fa_verify()}}
 </head>
{% endif %}


 <body id="{% if request.path != '/comments' %}{% block pagetype %}frontpage{% endblock %}{% endif %}" {% if SITE_NAME == 'rDrama' and v and (v.is_banned or v.agendaposter) %}style="overflow-x: hidden;background:url(/assets/images/backgrounds/anime/1.webp?v=3) center center fixed; background-color: var(--background)"{% elif v and v.background %}style="{% if path != '/formatting' %}overflow-x: hidden; {% endif %} background:url(/assets/images/backgrounds/{{v.background}}?v=3) center center fixed; background-color: var(--background){% if 'anime' not in v.background %};background-size: cover{% endif %}"{% endif %}>

	{% if not (v and v.poorcel) %}
		{% block javascript %}
		<script>
			let upsidedown = localStorage.getItem('setting_upsidedown')
			if(upsidedown == 'true'){
				let script = document.createElement("script"),
					styles = document.createElement("link")

				styles.setAttribute("rel", "stylesheet")
				styles.setAttribute("href", "{{'css/halloween/upsidedown.css' | asset}}")
				document.head.appendChild(styles)

				script.setAttribute("src", "{{'js/halloween/upsidedown.js' | asset}}")
				document.head.appendChild(script)
			}
		</script>
		{% endblock %}
		<canvas id="canvas"></canvas>
	{% endif %}
	
	{% set jumpscare_path = "/halloween/jumpscares" %}
	{% set audio_src = "/assets/media" + jumpscare_path + "/" + listdir('files/assets/media' + jumpscare_path)|random() + '?v=45' %}
	<script>
		const jumpscare_audio = new Audio("{{audio_src}}");
	</script>
	
	{% set image_src = "/assets/images" + jumpscare_path + "/" + listdir('files/assets/images' + jumpscare_path)|random() + '?v=45' %}
	<img src="{{image_src}}" id="jump-scare-img" style="display: none;"/>
	<script src="{{'js/halloween/jumpscare.js' | asset}}"></script>
	
	{% if v and v.jumpscare %}
		{% set roll = range(1,11) | random %}
		<script defer>
			setTimeout(function () {
				roll = {{roll}}
				if(roll == 10){
					const xhr = new XMLHttpRequest();
					
					xhr.open("POST", "/jumpscare");
					xhr.setRequestHeader('xhr', 'xhr');
					form = new FormData();
					form.append("formkey", formkey());
					
					xhr.send(form)
					scare()
				}
			}, 3000);
		</script>
	{% endif %}

{% block Banner %}
	{% include "expanded_image_modal.html" %}

	{% if '@' not in request.path %}	
		{% if sub and SITE_NAME != 'WPD' %}
			<a href="{{sub.banner_url}}">
				<img alt="/h/{{sub}} banner" onclick="expandDesktopImage()" src="{{sub.banner_url}}" width=100% style="object-fit:cover;max-height:min(42vh,30vw)!important">
			</a>
		{% elif SITE_NAME == 'rDrama' %}
			{% include "halloween/banner.html" %}
		{% else %}
			{% if SITE_NAME == 'WPD' %}
				{% if v %}
					{% set banner = 'banner.webp' | asset_siteimg %}
				{% else %}
					{% set banner = 'cached.webp' | asset_siteimg %}
				{% endif %}
			{% elif SITE_NAME == 'PCM' %}
				{% set banner = 'banners/great-value-v2.webp' | asset_siteimg %}
			{% else %}
				{% set banner = 'banner.webp' | asset_siteimg %}
			{% endif %}

			<a href="{{banner}}">
				<img alt="site banner" onclick="expandDesktopImage()" src="{{banner}}" width="100%">
			</a>
		{% endif %}
	{% endif %}
{% endblock %}

{% include "header.html" %}

{% block mobileUserBanner %}
{% endblock %}

<div class="container">
	<div class="row justify-content-around" id="main-content-row">

		<div class="col h-100 {% block customPadding %}{% if request.path.startswith('/@') %}user-gutters{% else %}custom-gutters{% endif %}{% endblock %}" id="main-content-col">

			{% block desktopUserBanner %}
			{% endblock %}

			{% block desktopBanner %}
			{% endblock %}

			{% block PseudoSubmitForm %}
			{% endblock %}

			{% block searchText %}
			{% endblock %}

			{% block hauntBg %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block pagenav %}
			{% endblock %}

		</div>
		{% block sidebar %}
			{% if has_sidebar and (home or p) %}
				{% include "sidebar_" + SITE_NAME + ".html" %}
			{% endif %}
		{% endblock %}
	</div>
</div>

{% block mobilenavbar %}
	{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block GIFtoast %}
{% endblock %}

{% block GIFpicker %}
{% endblock %}


<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text">Action successful!</span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text">Error, please try again later.</span>
	</div>
</div>

<script defer src="{{'js/lozad.js' | asset}}"></script>

{% if v %}
	<script defer src="{{'js/formatting.js' | asset}}"></script>
{% endif %}

<script defer src="{{'js/lite-youtube.js' | asset}}"></script>

{% if v and v.spider %}
	<script defer src="{{'js/critters.js' | asset}}"></script>
	<script defer src="{{'js/spider.js' | asset}}"></script>
{% endif %}

{% if not(v and v.poorcel) %}
<script defer src="{{'js/halloween/eye-tracking.js' | asset}}" ></script>
{% endif %}
</body>

</html>
