{% extends "default.html" %}

{% block title %}
	<title>{{SITE_NAME}} - Donate</title>
{% endblock %}

{% block content %}
	<h1 class="py-3">Donate</h1>
	<div class="overflow-x-auto">
		<table class="table table-striped mb-5">
			<tbody>
				<tr>
					<td>Gumroad</td>
					<td><a href="{{GUMROAD_LINK}}">{{GUMROAD_LINK}}</a></td>
				</tr>
				<tr>
					<td>Ethereum/Brave Attention Token</td>
					<td>0xBBf1043A60C6894Db17b3118CA960FFDF84c9eea</td>
				</tr>
				<tr>
					<td>Bitcoin</td>
					<td>bc1qs5hamvytnkllgml89flzhcyt3l4a3u4gs8lvvp</td>
				</tr>
				<tr>
					<td>Monero</td>
					<td>44hdEpAYXkB2VwkWz6LR9zZhcaG8zrUzn21aPy1HSdcsjT51fPdpMV8hkf5QQdHKs9VsAs3so5Vq5easdBbzmcifGcqfxfw</td>
				</tr>
				<tr>
					<td>NFTs</td>
					<td><a href="https://opensea.io/collection/marsey">https://opensea.io/collection/marsey</a></td>
				</tr>
				<tr>
					<td>Merch</td>
					<td><a href="https://redbubble.com/people/rdramanet/explore?sortOrder=top%20selling">https://redbubble.com/people/rdramanet/explore?sortOrder=top%20selling</a></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}