<div id="form" class="d-none"></div>
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
	<style>
		#emojiTabs {height: 80%;}
		@media (max-width: 650px) {
			#emojiTabs {height: 100%;}
			#emojiModalInternalDivIDK {margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;}
		
			#emoji-modal-tabs-container {
				overflow-x: auto;
			}

			#emoji-modal-tabs {
				white-space: nowrap;
				flex-wrap: nowrap;
			}

			#emoji-modal-tabs li {
				display: inline-block;
			}
		}
	</style>
	<div id="emojiModalInternalDivIDK" class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-2 py-5 emoji-modal" role="document">
		<div class="modal-content" id="emojiTabs">
			<div class="modal-header">
				<div id="emoji-modal-tabs-container">
					<ul class="nav nav-pills py-2" id="emoji-modal-tabs">
						<li class="nav-item">
							<a class="nav-link active emojitab" data-class-name="favorite" data-bs-toggle="tab" href="#" onclick="switchEmojiTab(event)">⭐ Favorite ⭐</a>
						</li>
					</ul>
				</div>
				<button class="close" data-bs-dismiss="modal" aria-label="Close">
					<i class="fas fa-times text-muted"></i>
				</button>
			</div>

			<div class="px-3">
				<input disabled autocomplete="off" class="form-control px-2" type="text" id="emoji_search" placeholder="Search.." onchange="start_search()" {% if not (v and v.poor) %}oninput="start_search()"{% endif %}>
			</div>
			<div class="px-3 d-flex flex-row">
				<fieldset class="py-2 pr-2 pl-1">
					<div class="mr-2" style="display: inline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Makes the emoji larger">
						<input type="checkbox" id="emoji-sel-0" value="#" class="emoji-suffix">
						<label class="emoji-option" for="emoji-sel-0">Large</label>
					</div>

					<div class="mr-2" style="display: inline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mirror the emoji along the Y axis">
						<input type="checkbox" id="emoji-sel-1" value="!" class="emoji-suffix">
						<label class="emoji-option" for="emoji-sel-1">Mirror</label>
					</div>

					<div style="display: inline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Adds a hand that pats the emoji">
						<input type="checkbox" id="emoji-sel-2" value="pat" class="emoji-postfix">
						<label class="emoji-option" for="emoji-sel-2">Pat</label>
					</div>
				</fieldset>
			</div>

			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="emoji-modal-body">
					<div id="no-emojis-found" class="tab-content py-3 pl-2" hidden>
						No results... Next time be better with your query. 💅
					</div>
					<div id="emojis-work" class="tab-content py-3 pl-2">
						I am working as hard as I can, sweaty... 🚴
					</div>
					<div id="emoji-new-user" class="tab-content py-3 pl-2" hidden>
						👋 Hello! This is the first time you're using the emoji system on this device 📱.<br>
						I've took the liberty to populate this tab with a selection of Anton's emojis 😽. Next time you'll find the ones you used the most in there 📚
					</div>
					<div id="tab-content" class="tab-content d-flex flex-wrap py-3 pl-2" hidden>
						<style>
							.emoji2 {
								/*background: None!important;*/
								width:60px; 
								height: 85px;
								overflow: hidden;
								border: none
							}
						</style>
						<template id="emoji-button-template">
							<button class="btn m-1 px-0 emoji2" data-bs-toggle="tooltip" delay:="0">
								<img loading="lazy" width=60>
							</button>
						</template>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{asset('js/emoji_modal.js')}}"></script>
