<div class="modal desktop-expanded-image-modal" id="expandImageModal" tabindex="-1" role="dialog" aria-labelledby="expandImageModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered mx-auto expandedimage" role="document">
		<div class="modal-content bg-transparent shadow-none">
			<div class="modal-body text-center p-0">
				<div class="d-inline-block position-relative">
					<div style="height:10vh" data-bs-dismiss="modal"></div>

					<a href="/" rel="nofollow noopener noreferrer" target="_blank" id="desktop-expanded-image-wrap-link">
						<img loading="lazy" alt="expanded image" referrerpolicy="no-referrer" src="" class="img-fluid rounded" id="desktop-expanded-image" style="min-width: 250px;min-width: max(250px,50vw)">
					</a>

					<div style="height:50vh" data-bs-dismiss="modal"></div>
				</div>
			</div>
		</div>
	</div>
</div>