{% extends "default.html" %}

{% block title %}
<title>Hats</title>
{% endblock %}

{% block pagetype %}message{% endblock %}

{% block Banner %}
	<header class="container pb-1 text-center">
		<img class="mt-5" alt="hats banner" src="/i/hats.webp?v=1" width="50%">
		<h5 class="mt-4">Number of hats you bought: {{v.num_of_owned_hats}}</h5>
		<h5 class="mt-4">Number of hats you designed: {{v.num_of_designed_hats}}</h5>
		<h5 class="mt-4">Coins you spent on hats: {{v.coins_spent_on_hats}}</h5>
	</header>
{% endblock %}

{% block content %}
	<pre>
	</pre>

	<div class="overflow-x-auto"><table class="table table-striped shop">
		<thead class="bg-primary text-white">
			<tr>
				<th scope="col">Hat</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				{% if SITE == 'rdrama.net' %}
					<th scope="col">Author</th>
					<th scope="col" onclick="sort_table(4)">Number Sold</th>
					<th scope="col" onclick="sort_table(5)">Price</th>
				{% else %}
					<th scope="col" onclick="sort_table(3)">Number Sold</th>
					<th scope="col" onclick="sort_table(4)">Price</th>
				{% endif %}
				<th scope="col">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for hat, user in hats %}
				<tr>
					<td><img loading="lazy" alt="{{hat.name}}" src="/i/hats/{{hat.name}}.webp?v=1"></td>
					<td>{{hat.name}}</td>
					<td>{{hat.censored_description(v)}}</td>
					{% if SITE == 'rdrama.net' %}
						<td><a style="color:#{{user.name_color}}" href="/@{{user.username}}"><img loading="lazy" src="{{user.profile_url}}" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span></a></td>
					{% endif %}
					<td>{{hat.number_sold}}</td>
					<td>{{hat.price}}</td>
					<td class="shop-table-actions">
						{% if hat.id not in owned_hat_ids %}
							<div id="if-not-owned-{{hat.id}}">
								<a id="buy1-{{hat.id}}" class="btn btn-success {% if v.coins < hat.price %}disabled{% endif %}" role="button" onclick="this.classList.add('d-none');document.getElementById('buy1-go-{{hat.id}}').classList.remove('d-none')"><span class="m-auto">Buy</span></a>

								<a id="buy1-go-{{hat.id}}" class="d-none btn btn-success {% if v.coins < hat.price %}disabled{% endif %}" role="button" onclick="post_toast(this, '/buy_hat/{{hat.id}}', 'if-not-owned-{{hat.id}}', 'if-owned-{{hat.id}}', 'd-none')"><span class="m-auto">Are you sure?</span></a>

								{% if FEATURES['PROCOINS'] %}
									<a id="buy2-{{hat.id}}" class="marseybux btn btn-success {% if v.procoins < hat.price %}disabled{% endif %}" role="button" onclick="this.classList.add('d-none');document.getElementById('buy2-go-{{hat.id}}').classList.remove('d-none')"><span class="m-auto">Buy with MBux</span></a>

									<a id="buy2-go-{{hat.id}}" class="d-none marseybux btn btn-success {% if v.procoins < hat.price %}disabled{% endif %}" role="button" onclick="post_toast(this, '/buy_hat/{{hat.id}}?mb=true', 'if-not-owned-{{hat.id}}', 'if-owned-{{hat.id}}', 'd-none')"><span class="m-auto">Are you sure?</span></a>
								{% endif %}
							</div>
						{% endif %}

						<div id="if-owned-{{hat.id}}" {% if hat.id not in owned_hat_ids %}class="d-none"{% endif %}>
							{% if hat.id == v.equipped_hat.id %}
								<a class="unequip btn btn-success" role="button" onclick="post_toast(this,'/unequip_hat', true)"><span class="m-auto">Unequip</span></a>
							{% else %}
								<a class="equip btn btn-success" role="button" onclick="post_toast(this,'/equip_hat/{{hat.id}}', true)"><span class="m-auto">Equip</span></a>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<pre>





	</pre>
	<script src="{{asset('js/sort_table.js')}}"></script>
{% endblock %}