{% extends "default.html" %}

{% block title %}
	{% if sub %}

		{% if sub.bannerurl %}
			{% set preview = sub.bannerurl %}
		{% elif sub.sidebarurl %}
			{% set preview = sub.sidebarurl %}
		{% else %}
			{% set preview = sub.banner_url %}
		{% endif %}

		<title>{{SITE_NAME}}</title>
		
		<meta property="og:type" content="article">
		<meta property="og:title" content="/h/{{sub.name}}">
		<meta property="og:site_name" content="{{SITE}}">
		<meta property="og:image" content="{{preview}}">
		<meta property="og:url" content="{{request.full_path}}">
		<meta property="og:author" name="author" content="{{SITE_FULL}}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{SITE_FULL}}">
		<meta name="twitter:title" content="/h/{{sub.name}}">
		<meta name="twitter:creator" content="{{SITE_FULL}}">
		<meta name="twitter:image" content="{{preview}}">
		<meta name="twitter:url" content="{{request.full_path}}">

		{% if sub.sidebar %}
			<meta property="og:description" name="description" content="{{sub.sidebar}}">
			<meta name="twitter:description" content="{{sub.sidebar}}">
		{% endif %}
	{% else %}
		{{super()}}
	{% endif %}
{% endblock %}

{% block desktopBanner %}

<div class="row" style="overflow: visible;padding-top:5px;">
	<div class="col">
		<a class="btn btn-primary btn-block mt-3" href="/submit"><i class="fas fa-feather-alt mr-2"></i>Create post</a>

		{% if sub %}
			{% if v %}
				{%- set hole_prefix = '/h/' if not HOLE_STYLE_FLAIR else '' -%}

				{% if sub.stealth %}
					<a id="subscribe-sub" class="btn btn-primary btn-block {% if v.subscribes(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/subscribe','subscribe-sub','unsubscribe-sub','d-none')"><i class="fas fa-eye mr-2"></i>Show posts in main feed</a>
					<a id="unsubscribe-sub" class="btn btn-primary btn-block {% if not v.subscribes(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/unsubscribe','subscribe-sub','unsubscribe-sub','d-none')"><i class="fas fa-eye-slash mr-2"></i>Hide posts from main feed</a>					
				{% else %}
					<a id="block-sub" class="btn btn-primary btn-block mt-3 {% if v.blocks(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/block','block-sub','unblock-sub','d-none')"><i class="fas fa-eye-slash mr-2"></i>Hide posts from main feed</a>
					<a id="unblock-sub" class="btn btn-primary btn-block mt-3 {% if not v.blocks(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/unblock','block-sub','unblock-sub','d-none')"><i class="fas fa-eye mr-2"></i>Show posts in main feed</a>
				{% endif %}

				<a id="follow-sub" class="btn btn-primary btn-follow {% if v.follows(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/follow','follow-sub','unfollow-sub','d-none')"><i class="fas fa-bell mr-2"></i>Notify me of new posts</a>
				<a id="unfollow-sub" class="btn btn-primary btn-follow {% if not v.follows(sub.name) %}d-none{% endif %}" onclick="post_toast(this,'/h/{{sub.name}}/unfollow','follow-sub','unfollow-sub','d-none')"><i class="fas fa-bell-slash mr-2"></i>Don't notify me of new posts</a>
			{% else %}
				<a class="btn btn-primary btn-block" href="/login"><i class="fas fa-eye-slash mr-2"></i>Hide posts from main feed</a>
				<a class="btn btn-primary btn-block" href="/login"><i class="fas fa-bell mr-2"></i>Notify me of new posts</a>
			{% endif %}
		{% endif %}

		<div class="d-flex justify-content-between align-items-center pt-3 pb-2 sorting" style="float:right">

			{% block navbar %}
			<div class="d-flex align-items-center">
				{% if request.path=='/catalog' %}
					<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Catalog View" class="btn btn-primary text-primary mx-2 d-none d-md-block" href="/?sort={{sort}}&t={{t}}&ccmode=false"><i class="fas fa-columns-3 mr-2 "></i>Catalog</a>
				{% else %}
					<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Catalog View" class="btn btn-secondary mx-2 d-none d-md-block" href="/catalog?sort={{sort}}&t={{t}}&ccmode=false"><i class="fas fa-columns-3 mr-2 "></i>Catalog</a>
				{% endif %}

				{% if pins %}
					<a class="btn btn-primary text-primary mx-2 smol-fp" href="/toggle_pins/{{sort}}"><i class="fas fas fa-thumbtack fa-rotate--45 mr-2 "></i>Pins</a>
				{% else %}
					<a class="btn btn-secondary mx-2 smol-fp" href="/toggle_pins/{{sort}}"><i class="fas fas fa-thumbtack fa-rotate--45 mr-2 "></i>Pins</a>
				{% endif %}

				{% if v and SITE_NAME == 'rDrama' and FEATURES['COUNTRY_CLUB'] %}
					{% if v.paid_dues %}
						{% if ccmode=="true" %}
							<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Only show country club posts" class="btn btn-primary text-primary mx-2 smol-fp" href="?sort={{sort}}&t={{t}}&ccmode=false"><i class="fas fa-golf-club mr-2 "></i>CC</a>
						{% else %}
							<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Only show country club posts" class="btn btn-secondary mx-2 smol-fp" href="?sort={{sort}}&t={{t}}&ccmode=true"><i class="fas fa-golf-club mr-2 "></i>CC</a>
						{% endif %}
					{% endif %}
				{% endif %}

				<div class="dropdown dropdown-actions mx-2">
					<button class="btn btn-secondary dropdown-toggle smol-fp" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% if t=="hour" %}<i class="fas fa-clock mr-2 "></i>
						{% elif t=="day" %}<i class="fas fa-calendar-day mr-2 "></i>
						{% elif t=="week" %}<i class="fas fa-calendar-week mr-2 "></i>
						{% elif t=="month" %}<i class="fas fa-calendar-alt mr-2 "></i>
						{% elif t=="year" %}<i class="fas fa-calendar mr-2 "></i>
						{% elif t=="all" %}<i class="fas fa-infinity mr-2 "></i>
						{% endif %}
						{{t | capitalize}}
					</button>
					<div class="dropdown-menu smol-fp" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px;">
						{% if t != "hour" %}<a class="dropdown-item" href="?sort={{sort}}&t=hour&ccmode={{ccmode}}"><i class="fas fa-clock mr-2 "></i>Hour</a>{% endif %}
						{% if t != "day" %}<a class="dropdown-item" href="?sort={{sort}}&t=day&ccmode={{ccmode}}"><i class="fas fa-calendar-day mr-2 "></i>Day</a>{% endif %}
						{% if t != "week" %}<a class="dropdown-item" href="?sort={{sort}}&t=week&ccmode={{ccmode}}"><i class="fas fa-calendar-week mr-2 "></i>Week</a>{% endif %}
						{% if t != "month" %}<a class="dropdown-item" href="?sort={{sort}}&t=month&ccmode={{ccmode}}"><i class="fas fa-calendar-alt mr-2 "></i>Month</a>{% endif %}
						{% if t != "year" %}<a class="dropdown-item" href="?sort={{sort}}&t=year&ccmode={{ccmode}}"><i class="fas fa-calendar mr-2 "></i>Year</a>{% endif %}
						{% if t != "all" %}<a class="dropdown-item" href="?sort={{sort}}&t=all&ccmode={{ccmode}}"><i class="fas fa-infinity mr-2 "></i>All</a>{% endif %}
					</div>
				</div>

				<div class="dropdown dropdown-actions ml-2">
					<button class="btn btn-secondary dropdown-toggle smol-fp" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% if sort=="hot" %}<i class="fas fa-fire mr-2 "></i>{% endif %}
						{% if sort=="bump" %}<i class="fas fa-arrow-up mr-2 "></i>{% endif %}
						{% if sort=="top" %}<i class="fas fa-arrow-alt-circle-up mr-2 "></i>{% endif %}
						{% if sort=="bottom" %}<i class="fas fa-arrow-alt-circle-down mr-2 "></i>{% endif %}
						{% if sort=="new" %}<i class="fas fa-sparkles mr-2 "></i>{% endif %}
						{% if sort=="old" %}<i class="fas fa-book mr-2 "></i>{% endif %}
						{% if sort=="controversial" %}<i class="fas fa-bullhorn mr-2 "></i>{% endif %}
						{% if sort=="comments" %}<i class="fas fa-comments mr-2 "></i>{% endif %}
						{{sort | capitalize}}
					</button>
					<div class="dropdown-menu smol-fp" aria-labelledby="dropdownMenuButton2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px;">
						{% if sort != "hot" %}<a class="dropdown-item" href="?sort=hot&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-fire mr-2 "></i>Hot</a>{% endif %}
						{% if sort != "bump" %}<a class="dropdown-item" href="?sort=bump&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-arrow-up mr-2 "></i>Bump</a>{% endif %}
						{% if sort != "top" %}<a class="dropdown-item" href="?sort=top&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-arrow-alt-circle-up mr-2 "></i>Top</a>{% endif %}
						{% if sort != "bottom" %}<a class="dropdown-item" href="?sort=bottom&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-arrow-alt-circle-down mr-2 "></i>Bottom</a>{% endif %}
						{% if sort != "new" %}<a class="dropdown-item" href="?sort=new&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-sparkles mr-2 "></i>New</a>{% endif %}
						{% if sort != "old" %}<a class="dropdown-item" href="?sort=old&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-book mr-2 "></i>Old</a>{% endif %}
						{% if sort != "controversial" %}<a class="dropdown-item" href="?sort=controversial&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-bullhorn mr-2 "></i>Controversial</a>{% endif %}
						{% if sort != "comments" %}<a class="dropdown-item" href="?sort=comments&t={{t}}&ccmode={{ccmode}}"><i class="fas fa-comments mr-2 "></i>Comments</a>{% endif %}
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}

{% block PseudoSubmitForm %}
{% endblock %}

{% block content %}

<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

	<div class="col-12 {% if request.path=='/catalog' %}catalog{% endif %}">

		<div class="posts" id="posts">

			{% include "submission_listing.html" %}

		</div>
	</div>
</div>

{% endblock %}

{% block pagenav %}
{% if listing %}
<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm mb-0">
		{% if page>1 %}
		<li class="page-item">
			<small><a class="page-link" href="?sort={{sort}}&page={{page-1}}&t={{t}}&ccmode={{ccmode}}" tabindex="-1">Prev</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Prev</span></li>
		{% endif %}
		{% if next_exists %}
		<li class="page-item">
			<small><a class="page-link" href="?sort={{sort}}&page={{page+1}}&t={{t}}&ccmode={{ccmode}}">Next</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Next</span></li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% if PUSHER_ID != 'blahblahblah' and v %}
	<div class="d-none" id="strid">{{SITE}}{{v.id}}</div>
	<div class="d-none" id="pusherid">{{PUSHER_ID}}</div>
	<script src="/assets/js/pusher.js?v=244"></script>
	<script>
		if (typeof Android != 'undefined') {
			Android.Subscribe('{{SITE}}{{v.id}}');
		}
	</script>
{% endif %}

{% if request.path in ('/','/logged_out') and time.time() > session.get('tooltip_last_dismissed',0)+60*60*24*30 and not g.webview %}
	<style>
		.beg-icon {
			color: #919191;
			float: left;
			font-size: 10px;
			margin-top: 0.25rem;
			margin-right: 0.25rem;
		}
	</style>

	<div id="mobile-prompt-container" class="fixed-top">
		<div id="mobile-prompt" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-container="#mobile-prompt-container" data-bs-placement="top" data-bs-trigger="click" data-bs-html="true" title="<i class='beg-icon fas fa-x'></i>Install the {{SITE_NAME}} webapp by saving this page to your home screen!"></div>
	</div>

	<script>
		if (!("standalone" in window.navigator) && !(window.navigator.standalone)) {
			if (window.innerWidth <= 737) {
				const tt = bootstrap.Tooltip.getOrCreateInstance(document.getElementById('mobile-prompt'))
				tt.show()
				document.getElementsByClassName('tooltip')[0].onclick = function(event){
					tt.hide()
					var xhr = new XMLHttpRequest();
					xhr.withCredentials=true;
					xhr.open("POST", '/dismiss_mobile_tip', true);
					xhr.send();
				}
			}
		} 
	</script>

	<style>
		#mobile-prompt + .bs-tooltip-bottom {
			transform: None !important;
			inset: 0px 0px auto auto !important;
		}
	</style>
{% endif %}

{% if v and FP %}
	{% if not v.fp %}
		<script>
			function fp(fp) {
				const xhr = new XMLHttpRequest();
				xhr.open("POST", '/fp/'+fp);
				xhr.setRequestHeader('xhr', 'xhr');
				const form = new FormData()
				form.append("formkey", formkey());
				xhr.send(form);
			};

			const fpPromise = new Promise((resolve, reject) => {
				const script = document.createElement('script');
				script.onload = resolve;
				script.onerror = reject;
				script.async = true;
				script.src = "/assets/js/fp.js?v=240";
				document.head.appendChild(script);
			})
				.then(() => FingerprintJS.load({token: '{{FP}}'}));

			fpPromise
				.then(fp => fp.get())
				.then(result => {if (result.visitorId != '{{v.fp}}') fp(result.visitorId);})
		</script>
	{% endif %}
{% endif %}

{% endblock %}
