{% macro html_head(js, include_seo, include_user_css, csp, title, include_2fa_verify) %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="{{csp | default(CONTENT_SECURITY_POLICY_DEFAULT, true) | safe}}">
	{{ page_meta(title) }}
	{{ stylesheets(include_user_css) }}
	{{ javascript() if js}}
	{{ seo() if include_seo }}
	{{ cf_2fa_verify() if include_2fa_verify }}
</head>
{% endmacro %}

{% macro cf_2fa_verify() %}
	{% if SITE == 'rdrama.net' %}
		<meta name="cf-2fa-verify" content="4f40ca1ca249313">
	{% elif SITE == 'watchpeopledie.tv' %}
		<meta name="cf-2fa-verify" content="372aba5b9338e00">
	{% elif SITE == 'pcmemes.net' %}
		<meta name="cf-2fa-verify" content="bf22ffe56e4bcda">
	{% endif %}
{% endmacro %}

{% macro javascript() %}
	<script defer src="{{'js/bootstrap.js' | asset}}"></script>
	<script defer src="{{'js/core.js' | asset}}"></script>
{% endmacro %}

{% macro page_meta (title=SITE_NAME) %}

	{% if 'post/' in request.path and p %}
		{% set title = [p.plaintitle(v), ' - ', title] | join %}

		{% if not v_forbid_deleted -%}
			{% set image = p.thumb_url if p.has_thumb %}
			{% set image = p.realurl(v) if p.is_image %}
			{% set video = p.realurl(v) if p.is_video %}
			{% set audio = p.realurl(v) if p.is_audio %}
		{% endif %}

		{% if comment_info and not comment_info.is_banned and not comment_info.deleted_utc %}
			{% set p, title = comment_info, ['@', comment_info.author_name, ' comments on ',
			'"', title, '"'] | join %}
		{% endif %}

		{% set author, description, a_author, published, modified, url =
		'@'+p.author_name, p.plainbody(v), '@'+p.author_name,
		p.created_datetime, p.edited_string, p.permalink %}

	{% elif '@' in request.path and u %}
		{% set author, a_author, published, url, title, image, section =
		'@'+u.username, '@'+u.username, u.created_date,
		u.url, u.username, u.banner_url,
		[u.username, "'s profile - ", SITE_NAME] | join %}

		{% set description %}
			"{{u.coins}} coins - Joined {{u.created_date}} -
			{% if u.stored_subscriber_count >=1 and not u.is_private %}
				{{u.stored_subscriber_count}} Followers -
			{% endif %}
			{% if not u.is_private %}
				{{0 if u.shadowbanned else u.post_count}}
					Posts -
				{{0 if u.shadowbanned else u.comment_count}}
					Comments
			{% endif %}
			{% if u.bio %}
				- {{u.bio}}
			{% endif %}"
		{% endset %}

	{% elif sub %}
		{% set title, description =
		'/h/'+sub.name, sub.sidebar if sub.sidebar %}
	{% endif %}

	<title>{{title}}</title>
	<link rel="icon" type="image/webp" href="{{'icon.webp' | asset_siteimg}}">
	{{ meta_tags(title, author, description, image,
	video, audio, a_author, published, modified, section, url) }}
{% endmacro %}

{% macro meta_tags(title, author, description, image, video, audio, a_author, published, modified, section, url ) %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="thumbnail" content="{{'site_preview.webp' | asset_siteimg}}">
	<meta name="description" content="{{DESCRIPTION}}">

	<meta property="og:type" content="article">
	<meta property="og:site_name" content="{{SITE}}">
	<meta property="og:url" content="{{request.full_path}}">

	<meta property="og:title" content="{{title}}">
	<meta property="og:author" name="author" content="{{author | default(SITE_FULL, true)}}">
	<meta property="og:description" name="description" content="{{description | default(SITE_NAME + ' - ' + DESCRIPTION)}}">
	<meta property="og:image" content="{{image | default('site_preview.webp' | asset_siteimg)}}">
	<meta property="og:video" content="{{video}}">
	<meta property="og:audio" content="{{audio}}">

	<meta property="og:article:author" content="{{a_author}}">
	<meta property="og:article:published_time" content="{{published}}">
	<meta property="og:article:modified_time" content="{{modified}}">
	<meta property="og:article:section" content="{{section}}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{SITE_FULL}}">

	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:creator" content="{{author | default(SITE_FULL)}}">
	<meta name="twitter:description" content="{{description | default(SITE_NAME + ' - ' + DESCRIPTION)}}">
	<meta name="twitter:image" content="{{image | default('site_preview.webp' | asset_siteimg)}}">
	<meta name="twitter:url" content="{{url}}">
{% endmacro %}

{% macro stylesheets(include_user_css) %}
	<link rel="stylesheet" href="{{'css/main.css' | asset}}">
	<link id="favicon" rel="icon" type="image/webp" href="{{'icon.webp' | asset_siteimg}}">
	{% if v %}
		<style>:root{--primary:#{{v.themecolor}}}</style>
		{% if v.agendaposter %}
			<style>
				html {
					cursor:url('/i/dildo.webp?v=2000'), auto;
				}
			</style>
		{% endif %}
		{% if include_user_css %}
			<link rel="stylesheet" href="{{('css/'~v.theme~'.css') | asset}}">
			{% if v.css and not request.path.startswith('/settings/css') %}
				<style>
					{{v.css | safe}}
				</style>
			{% endif %}
			{% if v.themecolor == '30409f' %}
				<style>
					p a {
						color: #2a96f3;
					}
				</style>
			{% endif %}
		{% else %}
			{{default_theme()}}
		{% endif %}
	{% else %}
		{{default_theme()}}
	{% endif %}
	<link rel="stylesheet" href="{{'css/awards.css' | asset}}">

	{% if sub and sub.css and not request.path.endswith('settings') and not request.values.get('nocss') %}
		<link rel="stylesheet" href="/h/{{sub}}/css" type="text/css">
	{% endif %}

	{% if SITE_NAME == 'rDrama' %}
		<link rel="stylesheet" href="{{'css/rDrama.css' | asset}}">
	{% endif %}

	{% if 'chat' in request.path %}
		{% if SITE == 'localhost' %}
			<link rel="stylesheet" href="https://rdrama.net/assets/css/chat_done.css">
		{% else %}
			<link rel="stylesheet" href="{{'css/chat_done.css' | asset}}">
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro default_theme() %}
	<style>:root{--primary:#{{DEFAULT_COLOR}}}</style>
	<link rel="stylesheet" href="{{('css/'~DEFAULT_THEME~'.css') | asset}}">
{% endmacro %}

{% macro seo() %}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="{{'icon.webp' | asset_siteimg}}">
	<link rel="manifest" href="/assets/manifest_{{SITE_NAME}}.json?v=6">
	<link rel="mask-icon" href="{{'icon.webp' | asset_siteimg}}">
	<link rel="shortcut icon" href="{{'icon.webp' | asset_siteimg}}">
	<meta name="apple-mobile-web-app-title" content="{{SITE_NAME}}">
	<meta name="application-name" content="{{SITE_NAME}}">
	<meta name="msapplication-TileColor" content="#{% if v %}{{v.themecolor}}{% else %}{{DEFAULT_COLOR}}{% endif %}">
	<meta name="msapplication-config" content="/assets/browserconfig.xml?v=3009">
	<meta name="theme-color" content="#{% if v %}{{v.themecolor}}{% else %}{{DEFAULT_COLOR}}{% endif %}">

	<link
	rel="apple-touch-startup-image"
	sizes="320x480"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="640x960"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-icon"
	sizes="640x1136"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-icon"
	sizes="750x1334"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="768x1004"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="768x1024"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="828x1792"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1024x748"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1024x768"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1125x2436"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1242x2208"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1242x2688"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1334x750"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1536x2008"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1536x2048"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1668x2224"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="1792x828"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2048x1496"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2048x1536"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2048x2732"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2208x1242"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2224x1668"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2436x1125"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2668x1242"
	href="{{'icon.webp' | asset_siteimg}}"
	>
	<link
	rel="apple-touch-startup-image"
	sizes="2737x2048"
	href="{{'icon.webp' | asset_siteimg}}"
	>
{% endmacro %}
