{% extends "settings2.html" %}

{% block pagetitle %}Leaderboard{% endblock %}

{% block content %}
<pre class="d-none d-md-inline-block"></pre>
<div id="leaderboard-contents" style="text-align: center; margin-bottom: 1.5rem; font-size: 1.2rem;">
	<a href="#leaderboard-coins">Coins</a> &bull;
	<a href="#leaderboard-spent">Spent in Shop</a> &bull;
	<a href="#leaderboard-truescore">Truescore</a> &bull;
	<a href="#leaderboard-followers">Followers</a> &bull;
	<a href="#leaderboard-posts">Posts</a> &bull;
	<a href="#leaderboard-comments">Comments</a> &bull;
	<a href="#leaderboard-awards">Awards</a> &bull;
	<a href="#leaderboard-downvotes">Downvotes</a> &bull;
	<a href="#leaderboard-badges">Badges</a> &bull;
	{% if users6 %}<a href="#leaderboard-based">Based</a> &bull; {% endif -%}
	{%- if users12 %}<a href="#leaderboard-marseys">Marseys</a> &bull; {% endif -%}
	{%- if users13 %}<a href="#leaderboard-upgiven">Upvotes Given</a> &bull; {% endif -%}
	<a href="#leaderboard-winnings">Winnings</a> &bull;
	<a href="#leaderboard-losses">Losses</a> &bull;
	<a href="#leaderboard-blocked">Blocked</a> &bull;
	<a href="#leaderboard-owned-hats">Owned Hats</a> &bull;
	<a href="#leaderboard-designed-hats">Designed Hats</a>
</div>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-coins">Top 25 by coins</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Coins</th>
	</tr>
</thead>
{% for user in users1 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.coins}}</td>
	</tr>
{% endfor %}
{% if pos1 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos1}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.coins}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-spent">Top 25 by coins spent in shop</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Coins</th>
	</tr>
</thead>

{% for user in users7 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.coins_spent}}</td>
	</tr>
{% endfor %}
{% if pos7 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos7}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.coins_spent}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-truescore">Top 25 by truescore</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Truescore</th>
		</tr>
	</thead>
	<tbody id="followers-table">
	{% for user in users10 %}
		<tr {% if v.id == user.id %}class="self"{% endif %}>
			<td>{{loop.index}}</td>
			<td>
				<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{user.profile_url}}" class="pp20">
						{% if user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
				</a>
			</td>
			<td>{{user.truecoins}}</td>
		</tr>
	{% endfor %}
	{% if pos10 > 25 %}
		<tr style="border-top:2px solid var(--primary)">
			<td>{{pos10}}</td>
			<td>
				<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{v.profile_url}}" class="pp20">
						{% if v.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
				</a>
			</td>
			<td>{{v.truecoins}}</td>
		</tr>
	{% endif %}
	</tbody>
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-followers">Top 25 by followers</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Followers</th>
	</tr>
</thead>
{% for user in users2 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.stored_subscriber_count}}</td>
	</tr>
{% endfor %}
{% if pos2 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos2}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.stored_subscriber_count}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-posts">Top 25 by post count</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Posts</th>
	</tr>
</thead>
{% for user in users3 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.post_count}}</td>
	</tr>
{% endfor %}
{% if pos3 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos3}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.post_count}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-comments">Top 25 by comment count</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Comments</th>
	</tr>
</thead>
{% for user in users4 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.comment_count}}</td>
	</tr>
{% endfor %}
{% if pos4 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos4}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.comment_count}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-awards">Top 25 by received awards</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Awards</th>
	</tr>
</thead>
{% for user in users5 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.received_award_count}}</td>
	</tr>
{% endfor %}
{% if pos5 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos5}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.received_award_count}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-downvotes">Top 25 by received downvotes</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Downvotes</th>
		</tr>
	</thead>
	<tbody id="followers-table">
	{% for user in users9 %}
		<tr {% if v.id == user[0].id %}class="self"{% endif %}>
			<td>{{loop.index}}</td>
			<td>
				<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{user.profile_url}}" class="pp20">
						{% if user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
				</a>
			</td>
			<td>{{user[1]}}</td>
		</tr>
	{% endfor %}
	{% if pos9 and (pos9[0] > 25 or not pos9[1]) %}
		<tr style="border-top:2px solid var(--primary)">
			<td>{{pos9[0]}}</td>
			<td>
				<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{v.profile_url}}" class="pp20">
						{% if v.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
				</a>
			</td>
			<td>{{pos9[1]}}</td>
		</tr>
	{% endif %}
	</tbody>
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-badges">Top 25 by badges</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Badges</th>
		</tr>
	</thead>
	<tbody id="followers-table">
	{% for user in users11 %}
		<tr {% if v.id == user[0].id %}class="self"{% endif %}>
			<td>{{loop.index}}</td>
			<td>
				<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{user.profile_url}}" class="pp20">
						{% if user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
				</a>
			</td>
			<td>{{user[1]}}</td>
		</tr>
	{% endfor %}
	{% if pos11 and (pos11[0] > 25 or not pos11[1]) %}
		<tr style="border-top:2px solid var(--primary)">
			<td>{{pos11[0]}}</td>
			<td>
				<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{v.profile_url}}" class="pp20">
						{% if v.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
				</a>
			</td>
			<td>{{pos11[1]}}</td>
		</tr>
	{% endif %}
	</tbody>
</table>



{% if users6 %}

	<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-based">Top 25 by based count</a></h5>

	<div class="overflow-x-auto"><table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Based count</th>
		</tr>
	</thead>
	{% for user in users6 %}
		<tr {% if v.id == user.id %}class="self"{% endif %}>
			<td>{{loop.index}}</td>
			<td>
				<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{user.profile_url}}" class="pp20">
						{% if user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
				</a>
			</td>
			<td>{{user.basedcount}}</td>
		</tr>
	{% endfor %}
	{% if pos6 > 25 %}
		<tr style="border-top:2px solid var(--primary)">
			<td>{{pos6}}</td>
			<td>
				<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
					<div class="profile-pic-20-wrapper">
						<img loading="lazy" src="{{v.profile_url}}" class="pp20">
						{% if v.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
						{%- endif %}
					</div>
					<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
				</a>
			</td>
			<td>{{v.basedcount}}</td>
		</tr>
	{% endif %}
	</table>
{% endif %}

{% if users12 %}

	<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-marseys">Top 25 by marseys made</a></h5>

	<div class="overflow-x-auto"><table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Marseys</th>
			</tr>
		</thead>
		<tbody id="followers-table">
		{% for user in users12 %}
			<tr {% if v.id == user[0].id %}class="self"{% endif %}>
				<td>{{loop.index}}</td>
				<td>
					<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{user.profile_url}}" class="pp20">
							{% if user.hat_active -%}
								<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
					</a>
				</td>
				<td>{{user[1]}}</td>
			</tr>
		{% endfor %}
		{% if pos12 and (pos12[0] > 25 or not pos12[1]) %}
			<tr style="border-top:2px solid var(--primary)">
				<td>{{pos12[0]}}</td>
				<td>
					<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{v.profile_url}}" class="pp20">
							{% if v.hat_active -%}
								<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
					</a>
				</td>
				<td>{{pos12[1]}}</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endif %}

{% if users13 %}

	<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-upgiven">Top 25 by upvotes given</a></h5>

	<div class="overflow-x-auto"><table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Upvotes</th>
			</tr>
		</thead>
		<tbody id="followers-table">
		{% for user in users13 %}
			<tr {% if v.id == user[0].id %}class="self"{% endif %}>
				<td>{{loop.index}}</td>
				<td>
					<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{user.profile_url}}" class="pp20">
							{% if user.hat_active -%}
								<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
					</a>
				</td>
				<td>{{user[1]}}</td>
			</tr>
		{% endfor %}
		{% if pos13 and (pos13[0] > 25 or not pos13[1]) %}
			<tr style="border-top:2px solid var(--primary)">
				<td>{{pos13[0]}}</td>
				<td>
					<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{v.profile_url}}" class="pp20">
							{% if v.hat_active -%}
								<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
					</a>
				</td>
				<td>{{pos13[1]}}</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endif %}

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-winnings">Top 25 by winnings</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Winnings</th>
	</tr>
</thead>
{% for user in users14 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.winnings}}</td>
	</tr>
{% endfor %}
{% if pos14 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos14}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.winnings}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-losses">Bottom 25 by winnings</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Winnings</th>
	</tr>
</thead>
{% for user in users15 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.winnings}}</td>
	</tr>
{% endfor %}
{% if pos15 > 25 %}
	<tr style="border-top:2px solid var(--primary)">
		<td>{{pos15}}</td>
		<td>
			<a style="color:#{{v.name_color}};font-weight:bold" href="/@{{v.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{v.profile_url}}" class="pp20">
					{% if v.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{v.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{v.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if v.patron %}class="patron" style="background-color:#{{v.name_color}}"{% endif %}>{{v.username}}</span>
			</a>
		</td>
		<td>{{v.winnings}}</td>
	</tr>
{% endif %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-blocked">Top 25 Most Blocked</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Blocked By</th>
	</tr>
</thead>
{% for user in usersBlk %}
	<tr {% if v.id == user.target_id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{user.n}}</td>
	</tr>
{% endfor %}
</table>


<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-owned-hats">Top 25 by Owned Hats</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Owned Hats</th>
	</tr>
</thead>
{% for user,num in users16 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{num}}</td>
	</tr>
{% endfor %}
</table>

<h5 class="font-weight-bolder text-center pt-2 pb-3"><a id="leaderboard-designed-hats">Top 25 by Designed Hats</a></h5>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Designed Hats</th>
	</tr>
</thead>
{% for user,num in users17 %}
	<tr {% if v.id == user.id %}class="self"{% endif %}>
		<td>{{loop.index}}</td>
		<td>
			<a style="color:#{{user.name_color}};font-weight:bold" href="/@{{user.username}}">
				<div class="profile-pic-20-wrapper">
					<img loading="lazy" src="{{user.profile_url}}" class="pp20">
					{% if user.hat_active -%}
						<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{user.hat_active}}?v=2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{user.hat_tooltip(v)}}">
					{%- endif %}
				</div>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.name_color}}"{% endif %}>{{user.username}}</span>
			</a>
		</td>
		<td>{{num}}</td>
	</tr>
{% endfor %}
</table>


<a id="leader--top-btn" href="#leaderboard-contents" role="button"
		style="position: fixed; bottom: 5rem; right: 2rem; font-size: 3rem;">
	<i class="fas fa-arrow-alt-circle-up"></i>
</a>
{% endblock %}
