{% extends "default.html" %}

{% block title %}
	<title>{{SITE_NAME}} - Live</title>
{% endblock %}

{% block content %}
	<style>
		tr:hover {
			border: 2.5px solid var(--primary);
		}
		img.thumb {
			border-radius: 4px;
		}
	</style>
	<script>
		function go_to(e, link) {
			if (!e.target.classList.contains('donttrigger'))
				window.open(link, '_blank');
		}
	</script>

	{% if error %}
	<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
		<i class="fas fa-exclamation-circle my-auto"></i>
		<span>
			{{error}}
		</span>
		<button class="close" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="far fa-times"></i></span>
		</button>
	</div>
	{% endif %}
	{% if msg %}
	<div class="alert alert-success alert-dismissible fade show my-3" role="alert">
		<i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
		<span>
			{{msg}}
		</span>
		<button class="close" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="far fa-times"></i></span>
		</button>
	</div>
	{% endif %}

	<div class="px-2">
		<h1 class="py-3"><i class="fas fa-circle mr-3" style="color:red"></i>Live</h1>
		<div class="overflow-x-auto">
			<table class="table table-striped mb-5">
				<tbody>
					{% for id, link, thumb, name, title, viewers in live %}
						<tr onclick="go_to(event,'{{link}}')">
							<td width="48"><img loading="lazy" class="thumb" src="{{thumb}}" alt="{{name}} thumbnail" referrerpolicy="no-referrer" width="48"></td>
							<td>{{name}}</td>
							<td>{{title}}</td>
							<td>{{viewers}} watching</td>
							{% if v and v.admin_level > 1 %}
								<td>
									<form action="/live/remove" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input type="hidden" name="id" value="{{id}}">
										<input autocomplete="off" class="btn btn-primary ml-auto donttrigger" onclick="this.nextElementSibling.classList.remove('d-none');this.classList.add('d-none')" value="Remove" style="width:75px">
										<input autocomplete="off" class="btn btn-primary ml-auto d-none donttrigger" type="submit" onclick="disable(this)" value="Are you sure?">
									</form>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<h1 class="py-3"><i class="fas fa-circle mr-3" style="color:gray"></i>Offline</h1>
		<div class="overflow-x-auto">
			<table class="table table-striped mb-5">
				<tbody>
					{% for id, link, thumb, name, minutes, actual, views in offline %}
						<tr onclick="go_to(event,'{{link}}')">
							<td width="48"><img loading="lazy" class="thumb" src="{{thumb}}" alt="{{name}} thumbnail" referrerpolicy="no-referrer" width="48"></td>
							<td>{{name}}</td>
							<td>{{actual}} ago</td>
							<td>{{views}} views</td>
							{% if v and v.admin_level > 1 %}
								<td>
									<form action="/live/remove" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input type="hidden" name="id" value="{{id}}">
										<input autocomplete="off" class="btn btn-primary ml-auto donttrigger" onclick="this.nextElementSibling.classList.remove('d-none');this.classList.add('d-none')" value="Remove" style="width:75px">
										<input autocomplete="off" class="btn btn-primary ml-auto d-none donttrigger" type="submit" onclick="disable(this)" value="Are you sure?">
									</form>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% if v and v.admin_level > 1 %}
			<form action="/live/add" method="post">
				<input type="hidden" name="formkey" value="{{v.formkey}}">
				<input class="form-control" style="display:inline;width:350px" autocomplete="off" type="text" name="id" class="form-control" placeholder="Enter channel id or name.." maxlength="24" required>
				<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" onclick="disable(this)" value="Add Youtube Channel" style="margin-bottom:5px">
			</form>
		{% endif %}
	</div>
<pre>


</pre>
{% endblock %}