{%- import 'util/helpers.html' as help -%}
{%- import 'html_head.html' as html_head with context -%}
<!DOCTYPE html>
<html lang="en">
    {{html_head.html_head(true, false, false, none, 'Login', '', '', false, false, true)}}
    <body id="login">
		<div id="register-form-container">
            <div id="register-form">
                <div class="form-header">
			        <h1 class="form-header-text">Welcome back.</h1>
			        <p class="form-header-text-alt">Glad to have you back!</p>
                </div>

			    <form action="/login" method="post" class="mt-md-3" id="signup">

				    {% if error %}<span class="text-danger">{{error}}</span><br>{% endif %}

				    <input type="hidden" name="formkey" value="{{formkey}}">
				    <input type="hidden" name="now" value="{{now}}">

				    {% if redirect %}<input type="hidden" name="redirect" value="{{redirect}}">{% endif %}
				    {% if ref_user %}
				    <input type="hidden" name="referred_by" value="{{ref_user.id}}">{% endif %}

				    <label for="username-register" class="form-group">
                        <span class="form-title">Username</span>
                        <input autocomplete="off" class="form-block" id="username-register"
					           aria-describedby="usernameHelpRegister" type="text" name="username" pattern="[a-zA-Z0-9_\-]{3,25}" min="3" max="25" required="">
				        <small id="usernameHelpRegister"></small>
                    </label>

				    <label for="password-register" class="form-group">
                        <span class="form-title">Password</span>
                    
				        <input autocomplete="off" class="form-block" id="password-register"
					           aria-describedby="passwordHelpReigster" type="password" name="password" required="">
                        <small>
                            <a href="/forgot">Forgot password?</a>
                        </small>
                    </label>

				    <button class="btn btn-primary form-block" id="register_button">Login</button>

				    <div class="account-already-have">
                        Don't have an account? <a href="/signup{{'?redirect='+redirect if redirect else ''}}" class="font-weight-bold toggle-login">Sign up</a>

				    </div>
			    </form>
            </div>
		</div>

		<div class="splash-wrapper">
			<img alt="cover" loading="lazy" class="splash-img" src="{{'cover.webp' | asset_siteimg}}"></img>
		</div>
    </body>
</html>


