<div
  class="modal fade"
  id="lotteryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="lotteryModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog lottery-modal--dialog" role="document">
    <div class="modal-content lottery-modal--content">
      <button
        class="close lottery-modal--close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
      <div class="lottery-modal--wrapper">
        <div class="lottery-modal--image">
          <img src="/assets/images/rDrama/lotterymodal.webp?v=2" />
          <img
            id="lotteryTicketPulled"
            src="/assets/images/rDrama/lotterymodalactive.gif?v=2"
            style="display: none"
          />
        </div>
        <div class="lottery-modal--stats">
          <div class="lottery-modal--stat">
            <div class="lottery-modal--stat-keys">
              <div>Grand Prize</div>
              <div>Session Ends</div>
              <div>Unique Participants</div>
              <div>Tickets Sold (Session)</div>
              <div>Tickets Sold (Total)</div>
            </div>
            <div class="lottery-modal--stat-values">
              <div>0</div>
              <div>0:00:00</div>
              <div>0</div>
              <div>0</div>
              <div>0</div>
            </div>
          </div>
          <div class="lottery-modal--stat">
            <div class="lottery-modal--stat-keys">
              <div>Tickets Owned (Session)</div>
              <div>Tickets Owned (Total)</div>
              <div>Total Earnings</div>
            </div>
            <div class="lottery-modal--stat-values">
              <div>0</div>
              <div>0</div>
              <div>0</div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-success lottery-modal--action"
            id="purchaseTicket"
          >
            Purchase 1 for
            <img
              alt="coins"
              class="mr-1 ml-1"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              height="13"
              src="/assets/images/rDrama/coins.webp?v=2"
              title=""
              aria-label="coins"
              data-bs-original-title="coins"
            />

            10
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/lottery_modal.js?v=249" data-cfasync="false"></script>
