{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Marsey</th>
		<th><a href="?sort=usage">Usage</a></th>
		{% if SITE in ('rdrama.net','devrama.xyz') %}<th><a href="?sort=author">Author</a></th>{% endif %}
	</tr>
</thead>
<tbody id="marseys-table">
{% if SITE in ('rdrama.net','devrama.xyz') %}
	{% for marsey, author in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":#{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp"></td>
			<td>{{marsey.count}}</td>
			{% if SITE in ('rdrama.net','devrama.xyz') %}
				<td><a style="color:#{{author.name_color}};font-weight:bold" href="/@{{author.username}}"><img loading="lazy" src="{{author.profile_url}}" class="pp20"><span {% if author.patron %}class="patron" style="background-color:#{{author.name_color}}"{% endif %}>{{author.username}}</span></a></td>
			{% endif %}
		</tr>
	{% endfor %}
{% else %}
	{% for marsey in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":#{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp"></td>
			<td>{{marsey.count}}</td>
		</tr>
	{% endfor %}
{% endif %}

</tbody>
</table>

{% endblock %}