{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Marsey</th>
		<th>Usage</th>
		{% if SITE == 'rdrama.net' %}
			<th><a href="?sort=author">Author</a></th>
			<th>Original File</th>
		{% endif %}
	</tr>
</thead>
<tbody id="marseys-table">
{% if SITE == 'rdrama.net' %}
	{% for marsey, user in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":#{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp"></td>
			<td>{{marsey.count}}</td>
			<td>{% include "user_in_table.html" %}</td>
			<td>
				{% if marsey.og %}
					<a href="/asset_submissions/marseys/original/{{marsey.og}}">{{marsey.og}}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% else %}
	{% for marsey in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":#{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp"></td>
			<td>{{marsey.count}}</td>
		</tr>
	{% endfor %}
{% endif %}

</tbody>
</table>

{% endblock %}