{% extends "default.html" %}

{# Title (~25char max), Description (~80char max), 
	Icon (fa-foo-bar), Color (#ff0000), URL (/post/12345/) #}
{%- set MEGATHREAD_INDEX = [] -%}

{%- if SITE_NAME == 'rDrama' -%}
{%- do MEGATHREAD_INDEX.extend([
	(
		'Bugs / Suggestions',
		'Something broken? Improvements?',
		'fa-bug', '#6b8e23',
		'/post/18459',
	),
	(
		'Submit Marseys',
		'For original Marseys or other emoji.',
		'fa-cat', '#ffa500',
		'/post/16583',
	),
	(
		'Submit Sidebar Art',
		'Original rDrama-themed works.',
		'fa-sidebar', '#f5fffa',
		'/post/75878',
	),
	(
		'Submit Banner Art',
		'Original chud-repellant works.',
		'fa-panorama', '#87cefa',
		'/post/35835',
	),
	(
		'Submit Snappy Quotes',
		'Sentient.',
		'fa-robot', '#adff2f',
		'/post/33652',
	),
	(
		'Marsey Commissions',
		'Request a Marsey to be made.',
		'fa-coins', '#ffd700',
		'/post/37677',
	),
	(
		'Gambling Spam',
		'Goomble without bothering people.',
		'fa-dice-six', '#c9d1d9',
		'/post/39413',
	),
])-%}
{%- elif SITE_NAME == 'LGBDropTheT' -%}
{%- do MEGATHREAD_INDEX.extend([
	(
		'Rules & FAQs',
		'Commonly-Asked Questions',
		'fa-circle-info', '#4bc2ea',
		'/kb/rulesfaqs',
	),
	(
		'Help & Support',
		'User Guides, Suggestions, Tech Issues',
		'fa-comment-question', '#70e572',
		'/h/help_and_support',
	),
	(
		'Resources & Organizations',
		'LGB and "Drop The T" Support',
		'fa-sitemap', '#4bc2ea',
		'/kb/resourcesorgs',
	),
	(
		'Artwork & Design Suggestions',
		'Emotes, Icons, Banners, and More',
		'fa-panorama', '#e9ef2f',
		'/h/off_topic_social/post/40/artwork-design-suggestions-megathread',
	),
	(
		'Banned From / Censorship',
		'Megathread: Share Your Woes & Commiserate',
		'fa-ban', '#ed3d2d',
		'/post/27/banned-from-and-censorship-megathread',
	),
	(
		'Gambling Mega-Thread',
		'Goomble without bothering people.',
		'fa-dice-six', '#c9d1d9',
		'/h/off_topic_social/post/25/gambling-megathread',
	),
])-%}
{%- endif -%}

{% block content %}
<div id="directory--wrapper">
{% for thread in MEGATHREAD_INDEX %}
<a role="button" class="directory--link" href="{{thread[4]}}">
	<div class="directory--link-content">
		<i class="directory--link--icon fas {{thread[2]}}" style="color:{{thread[3]}}"></i>
		<div class="directory--link--title">{{thread[0]|safe}}</div>
		<div class="directory--link--description">{{thread[1]|safe}}</div>
	</div>
</a>
{% endfor %}
</div>
{% endblock %}
