{% extends "default.html" %}
{% block content %}
<style>
	.asset-submission {
		max-width: 150px !important;
		max-height: 150px !important;
	}
</style>
<pre>

	
</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Image</th>
	</tr>
</thead>
<tbody>
	{% for image in images %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{image}}</td>
			<td><img class="asset-submission" loading="lazy" alt="{{name}}" src="/asset_submissions/{{type}}/original/{{image}}"></td>
		</tr>
	{% endfor %}

</tbody>
</table>

{% endblock %}