{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}}</title>

{% endblock %}

{% block content %}

{% if thing %}

<pre>
	
</pre>

<h3>{{thing.body_html | safe}} - {{ups | length}} {% if thing.exclusive == 2 %}bets{% else %}votes{% endif %}</h3>
<div class="overflow-x-auto mt-5">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>User</th>
				<th onclick="sort_table(1)">User Truescore</th>
				<th onclick="sort_table(2)">Vote Time</th>
			</tr>
		</thead>

		{% for vote in ups %}
			<tr>
				<td>{{loop.index}}</td>
				<td>
					{% with user=vote.user %}
						{% include "user_in_table.html" %}
					{% endwith %}
				</td>
				<td>{{"{:,}".format(vote.user.truecoins)}}</td>
				<td data-time="{{vote.created_utc}}"></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script defer src="{{asset('js/sort_table.js')}}"></script>

{% endif %}


{% endblock %}