<div style="display:none" id="popover">
	<div class="popover-user-profile" role="tooltip">
		<img loading="lazy" class="pop-banner w-100 h-64 object-cover">
		<div class="d-flex align-items-end px-3 mt-n6 mb-3">
			<div class="profile-pic-72-wrapper">
				<img loading="lazy" class="pop-picture profile-pic-72 rounded img-thumbnail shadow-sm">
				<img class="pop-hat profile-pic-72-hat hat" loading="lazy">
			</div>
			<div class="px-3 text-truncate">
			<h5 class="pop-username text-truncate text-black"></h5>
			</div>
		</div>

		{% if FEATURES['USERS_PROFILE_BODYTEXT'] -%}
		<div class="px-3">
			<span class="pop-bio popover-bio text-black"></span>
		</div>
		{%- endif %}

		{% if FEATURES['BADGES'] -%}
		<div class="pop-badges ml-3 mr-3 my-2">
		</div>
		{%- endif %}

	<div class="border-top d-flex align-items-center p-3 gap-3 smol">
		<span>
		<strong class="pop-postcount text-black"></strong>
		<span class="text-black">posts</span>
		</span>
		<span class="ml-3">
		<strong class="pop-commentcount text-black"></strong>
		<span class="text-black">comments</span>
		</span>
		<span class="ml-3">
			<strong class="pop-coins text-black"></strong>
			<span class="text-black">coins</span>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %} class="pop-viewmore ml-auto text-decoration-none">
		View
		<i class="fas fa-arrow-right fa-sm px-1"></i>
		</a>
	</div>
	</div>
</div>
