<h3>Rules</h3>
<ol>
<li>Do not post anything illegal under US law.
<ul>
<li>Do not threaten or advocate violence.</li>
<li>Do not sexualize minors.</li>
<li>Do not post animal cruelty/abuse.</li>
<li>Do not request illegal content.</li>
</ul>
</li>
<li>No doxing. No witch hunts.</li>
<li>Posts must include videos of people dying.
<ul>
<li>The <i>Discussion</i>, <i>Social</i>, and <i>Music</i> flairs are intentionally off-topic and do not require people dying.</li>
<li>Videos that only include aftermath of a serious accident/incident or current event may be allowed.</li>
<li>No animal death unless there's also a human dying in the video.</li>
</ul>
</li>
<li>Titles should be as descriptive as possible.
<ul>
<li>Additional context, images, or sources are always encouraged and appreciated. No joke titles please.</li>
<li>If there is a child hurt or killed, please put "Child Warning" in the title.</li>
</ul>
</li>
<li>No explicit racism or bigotry.
<ul>
<li>Humor is fine, but comments that are just low effort shock value spam may be removed. Feel free to express your opinions but please try to express them in a reasonable manner.</li>
</ul>
</li>
<li>No reposts within <b>60 days</b>.</li>
</ol>