<p>Drama: any incident, scene, gaffe, rumor, opinion, or disagreement that is blown entirely out of proportion.</p>
<p><strong>Do your part to keep our community healthy by blowing everything out of proportion and making literally everything as dramatic as possible.</strong></p>
<p><a href="http://rdrama.net" rel="nofollow noopener" target="_blank">rdrama.net</a> caters to drama in all forms such as: <strong>Real life, videos, photos, gossip, rumors, news sites, Reddit, and Beyond™</strong>. There isn't drama we won't touch, and we want it all.</p>
<h3>What we want:</h3>
<ul>
<li><p>Arguments.</p></li>
<li><p>Gossip.</p></li>
<li><p>Scandals.</p></li>
<li><p>Lolcows.</p></li>
<li><p>Assholes.</p></li>
<li><p>Trainwrecks.</p></li>
<li><p>Meltdowns.</p></li>
<li><p>Dramatic news articles.</p></li>
<li><p>Dramatic rumours (with context).</p></li>
<li><p>Dramatic everything from <strong>anywhere</strong></p></li>
</ul>
<h3>A couple things to remember:</h3>
<ul>
<li><p><strong><a href="https://rdrama.net//post/19711/a-short-guide-on-how-to">NO RIGHTWING AGENDAPOSTING.</a></strong></p></li>
<li><p>Don't post anything illegal.</p></li>
<li><p>No sexualizing minors.</p></li>
<li><p>No doxing.</p></li>
<li><p>Using alts to game dramacoin will get you banned.</p></li>
<li><p>Supporting free speech is an immediate ban.</p></li>
<li><p><strong>Absolutely NO anti-CCP sentiment.</strong></p></li>
<li><p><strong>Absolutely NO homophobia, transphobia or furphobia.</strong></p></li>
<li><p><strong>Absolutely NO misgendering.</strong></p></li>
<li><p><strong>Absolutely NO antisemitism.</strong></p></li>
<li><p><strong>Absolutely NO vaccine misinformation.</strong></p></li>
<li><p>You are encouraged to post drama you are involved in.</p></li>
<li><p>This is a mod playground.</p></li>
<li><p>Participation implies enthusiastic consent to being mod abused by unstable alcoholic bullies.</p></li>
</ul>
<h3>Related subreddits:</h3>
<ul>
<li><p><a href="https://old.reddit.com/r/AgainstHateSubreddits" rel="nofollow noopener" target="_blank">/r/AgainstHateSubreddits</a></p></li>
<li><p><a href="https://old.reddit.com/r/SubredditDrama" rel="nofollow noopener" target="_blank">/r/SubredditDrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/HobbyDrama" rel="nofollow noopener" target="_blank">/r/HobbyDrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/internetdrama" rel="nofollow noopener" target="_blank">/r/internetdrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/youtubedrama" rel="nofollow noopener" target="_blank">/r/youtubedrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/facebookdrama" rel="nofollow noopener" target="_blank">/r/facebookdrama</a></p></li>
<li><p><a href="https://old.reddit.com/r/theElon" rel="nofollow noopener" target="_blank">/r/theElon</a></p></li>
<li><p><a href="https://old.reddit.com/r/BanVideoGames" rel="nofollow noopener" target="_blank">/r/BanVideoGames</a></p></li>
<li><p><a href="https://old.reddit.com/r/LoveForLandlords" rel="nofollow noopener" target="_blank">/r/LoveForLandlords</a></p></li>
<li><p><a href="https://old.reddit.com/r/LoveForAnimesexuals" rel="nofollow noopener" target="_blank">/r/LoveForAnimesexuals</a></p></li>
<li><p><a href="https://old.reddit.com/r/LoveForScalpers" rel="nofollow noopener" target="_blank">/r/LoveForScalpers</a></p></li>
<li><p><a href="https://old.reddit.com/r/MelvinCapitalLove" rel="nofollow noopener" target="_blank">/r/MelvinCapitalLove</a></p></li>
<li><p><a href="https://old.reddit.com/r/banime" rel="nofollow noopener" target="_blank">/r/banime</a></p></li>
<li><p><a href="https://old.reddit.com/r/LoveForAmazon" rel="nofollow noopener" target="_blank">/r/LoveForAmazon</a></p></li>
<li><p><a href="https://old.reddit.com/r/LoveForDronePilots" rel="nofollow noopener" target="_blank">/r/LoveForDronePilots</a></p></li>
</ul>
<h3>Off-site drama whoring websites:</h3>
<ul>
<li><p><a href="https://ohnotheydidnt.livejournal.com" rel="nofollow noopener" target="_blank">ONTD</a></p></li>
<li><p><a href="https://radaronline.com" rel="nofollow noopener" target="_blank">Radar Online</a></p></li>
<li><p><a href="https://tmz.com" rel="nofollow noopener" target="_blank">TMZ</a></p></li>
<li><p><a href="https://encyclopediadramatica.online" rel="nofollow noopener" target="_blank">Encyclopedia Dramatica</a></p></li>
<li><p><a href="https://4chan.org" rel="nofollow noopener" target="_blank">4Chan</a></p></li>
<li><p><a href="https://twitter.com" rel="nofollow noopener" target="_blank">Twitter</a></p></li>
<li><p><a href="https://8kun.top" rel="nofollow noopener" target="_blank">8Chan</a></p></li>
<li><p><a href="https://lolcow.farm" rel="nofollow noopener" target="_blank">Lolcow.farm</a></p></li>
<li><p><a href="https://lmgtfy.com/?q=local+news+website" rel="nofollow noopener" target="_blank">Your local shitty news website</a></p></li>
</ul>
<br>
<p><sup><em>This is an entertainment comedy website. Any and all posts and comments are parody with no basis in reality.</em></sup></p>
<p style="color: hotpink;">𝐜𝐚𝐫𝐩 𝐰𝐨𝐳 𝐞𝐫𝐞</p>
