{% extends "default.html" %}
{%- set SHOP_FLAVOR = {
		'rDrama': 'Stir drama.',
		'PCM': 'Watch IP2.',
		'WPD': 'Watch people die.',
	}[SITE_NAME]
-%}

{% block title %}
<title>Shop</title>
{% endblock %}

{% block pagetype %}message{% endblock %}

{% block Banner %}
	<header class="container pb-1 text-center">
		<img alt="shop banner" src="/i/shop.webp" width="50%">
		<h3 class="mt-4">{{SHOP_FLAVOR}} Earn coins.</h5>
		<h5 class="mt-4">Total sales: {{sales}} coins</h5>
		<h5 class="mt-4">Coins spent by you: {{v.coins_spent}} coins</h5>
		<h5 class="mt-4">Lootboxes bought by you: {{v.lootboxes_bought}} lootbox{{'es' if v.lootboxes_bought != 1}}</h5>
		<h5 class="mt-4">Your current coins: {{v.coins}}</h5>
		{% if FEATURES['PROCOINS'] %}
			<h5 class="mt-4">Your current marseybux: {{v.procoins}}</h3>
		{% endif %}

		<h5 class="mt-5"><a href="/hats">Buy hats here!</a></h5>
	</header>
{% endblock %}

{% block content %}
	<pre>
	</pre>

	<div class="overflow-x-auto"><table class="table table-striped shop">
		<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Icon</th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
					<th scope="col" onclick="sort_table(3)">Owned</th>
					<th scope="col">Buy</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
		{% for a in awards %}
			<tr>
				<td class="shop-table-icon"><i class="{{a['icon']}} {{a['color']}}" style="font-size: 30px"></i></td>
				<td class="shop-table-title">{{a['title']}}</td>
				{% if a['baseprice'] != a['price'] %}
					<td class="shop-table-price">
						<strike>{{a['baseprice']}}</strike> <em class="text-success">{{a['price']}}</em>
					</td>
				{% else %}
					<td class="shop-table-price">{{a['price']}}</td>
				{% endif %}
				<td class="shop-table-owned">{{a['owned']}}</td>
				{% set kind = a['kind'] %}
				<td class="shop-table-actions">
					{% if kind != "benefactor" %}
						<a id="buy1-{{loop.index}}" class="btn btn-success {% if v.coins < a['price'] %}disabled{% endif %}" role="button" onclick="this.classList.add('d-none');document.getElementById('buy1-go-{{loop.index}}').classList.remove('d-none')"><span class="m-auto">Buy</span></a>
						<a id="buy1-go-{{loop.index}}" class="d-none btn btn-success {% if v.coins < a['price'] %}disabled{% endif %}" role="button" onclick="post_toast(this,'/buy/{{kind}}')"><span class="m-auto">Are you sure?</span></a>
					{% endif %}
					{% if FEATURES['PROCOINS'] %}
						{% if kind != "grass" %}
							<a id="buy2-{{loop.index}}" class="marseybux btn btn-success {% if v.procoins < a['price'] %}disabled{% endif %}" role="button" onclick="this.classList.add('d-none');document.getElementById('buy2-go-{{loop.index}}').classList.remove('d-none')"><span class="m-auto">Buy with MBux</span></a>
							<a id="buy2-go-{{loop.index}}" class="d-none marseybux btn btn-success {% if v.procoins < a['price'] %}disabled{% endif %}" role="button" onclick="post_toast(this,'/buy/{{kind}}?mb=true')"><span class="m-auto">Are you sure?</span></a>
						{% endif %}
					{% endif %}
				</td>
				<td class="shop-table-description">{{a['description']}}</td>
			</tr>
		{% endfor %}
	</table>
	<pre>





	</pre>
	<script src="/assets/js/sort_table.js?v=244"></script>
{% endblock %}
