<div class="col sidebar text-left {% if '/sidebar' not in request.path %}d-none d-lg-block{% endif %} pt-3 pb-5 bg-white" id="sidebar-content">

	{% if sub %}
		{% set image=sub.sidebar_url %}
	{% else %}
		{% set image='/i/' + SITE_NAME + '/sidebar.webp?v=2000' %}
	{% endif %}

	<a href="{{image}}">
		<img class="mb-4" alt="sidebar image" role="button" onclick="expandDesktopImage()" loading="lazy" src="{{image}}" width=100%>
	</a>

	<p class="text-center text-md mb-4">
		<a class="sidebar-link" href="/admins" data-bs-toggle="tooltip" data-bs-placement="top" title="Admins"><i class="fas fa-crown"></i></a>
		<a class="sidebar-link" href="/log" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderation Log"><i class="fas fa-scroll-old"></i></a>
		<a class="sidebar-link" href="/random_post/" data-bs-toggle="tooltip" data-bs-placement="top" title="Random Post"><i class="fas fa-random"></i></a>
		<a class="sidebar-link" href="/comments" data-bs-toggle="tooltip" data-bs-placement="top" title="All Comments"><i class="fas fa-comment-dots"></i></a>
	</p>

	{% if sub %}
		{% if sub.sidebar_html %}
			<div class="mb-4">{{sub.sidebar_html|safe}}</div>
		{% endif %}
		{% if v and v.mods(sub.name) %}
			<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/followers">{{HOLE_NAME|upper}} FOLLOWERS</a>
			<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/blockers">{{HOLE_NAME|upper}} BLOCKERS</a>
		{% endif %}
	{% endif %}

	<div id="sidebar-wpd--flairs">
		<a href="/h/accident">Accident</a>
		<a href="/h/suicide">Suicide</a>
		<a href="/h/animal">Animal</a>
		<a href="/h/beating">Beating</a>
		<a href="/h/bladed">Bladed</a>
		<a href="/h/beheading">Beheading</a>
		<a href="/h/vehicle">Vehicle</a>
		<a href="/h/medical">Medical</a>
		<a href="/h/shooting">Shooting</a>
		<a href="/h/falling">Falling</a>
		<a href="/h/explosions">Explosions</a>
		<a href="/h/industrial">Industrial</a>
		<a href="/h/electricity">Electricity</a>
		<a href="/h/burning">Burning</a>
		<a href="/h/drowning">Drowning</a>
		<a href="/h/cartel">Cartel</a>
		<a href="/h/isis">ISIS</a>
		<a href="/h/execution">Execution</a>
		<a href="/h/maiming">Maiming</a>
		<a href="/h/police">Police</a>
		<a href="/h/combat">Combat</a>
		<a href="/h/child">Child</a>
		<a href="/h/misc">Misc</a>
		<a href="/h/request">Request</a>
		<a href="/h/meta">Meta</a>
	</div>

	<div id="sidebar--rules">
		<h3 id="sidebar--rules--head" class="sidebar--heading">Rules</h3>
		<ol id="sidebar--rules--list">
			<li>Do not post anything illegal under US law.
				<ul>
					<li>Do not request illegal content.</li>
					<li>Do not threaten or advocate violence.</li>
					<li>Do not sexualize minors.</li>
				</ul>
			</li>
			<li>No doxing. No witch hunts.</li>
			<li>Posts must include videos of people dying.
				<ul>
					<li>Videos that only include aftermath of a serious accident/incident or current event may be allowed.</li>
					<li>No animal death unless there’s also a human dying in the video.</li>
				</ul>
			</li>
			<li>Titles should be as descriptive as possible.
				<ul>
					<li>Additional context, images, or sources are always encouraged and appreciated. No joke titles please.</li>
					<li>If there is a child or animal, please add it as a descriptor.</li>
				</ul>
			</li>
			<li>No explicit racism or bigotry.
				<ul>
					<li>Humor is fine, but comments that are just low effort shock value spam may be removed. Feel free to express your opinions but please try to express them in a reasonable manner.</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
