<div class="col sidebar text-left {% if '/sidebar' not in request.path %}d-none d-lg-block{% endif %} pt-3" {% if request.path != '/sidebar' %}id="sidebar-content"{% endif %}>

	<p class="text-center text-md mb-4">
		<a class="sidebar-link" href="/log" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderation Log"><i class="fas fa-scroll-old"></i></a>
		<a class="sidebar-link" href="/transfers" data-bs-toggle="tooltip" data-bs-placement="top" title="Transfers"><i class="fas fa-arrow-right-arrow-left"></i></a>
		<a class="sidebar-link" href="/random_post" data-bs-toggle="tooltip" data-bs-placement="top" title="Random Post"><i class="fas fa-random"></i></a>
		<a class="sidebar-link" href="/comments" data-bs-toggle="tooltip" data-bs-placement="top" title="All Comments"><i class="fas fa-comment-dots"></i></a>
	</p>

	{% if sub %}
		{% if sub.sidebar_html %}
			<div class="mb-4">{{sub.sidebar_html|safe}}</div>
		{% endif %}
		{% if v and v.mods(sub.name) %}
			<a class="btn btn-primary btn-block" href="/h/{{sub}}/settings">{{HOLE_NAME|upper}} SETTINGS</a>
		{% endif %}
		<a class="btn btn-primary btn-block" href="/h/{{sub}}/mods">{{HOLE_NAME|upper}} MODS</a>
		<a class="btn btn-primary btn-block" href="/h/{{sub}}/exilees">{{HOLE_NAME|upper}} EXILEES</a>
	{% endif %}
	
	{% if v and v.can_create_hole -%}
		<a class="btn btn-primary btn-block" href="/create_hole">CREATE {{HOLE_NAME|upper}}</a>
	{%- endif %}
	<a class="btn btn-primary btn-block" href="/holes">BROWSE {{HOLE_NAME|upper}}S</a>
	<a class="btn btn-primary btn-block mt-5" href="/">
		<span style="display: block;font-size: 1.35rem;">STREAM LIST</span>
		<span style="display: block;font-size: 0.85rem;">Coming Sometime 2022</span>
	</a>
	<a class="btn btn-primary btn-block" href="/post/4103">BUGS/SUGGESTIONS MEGATHREAD</a>
	<a class="btn btn-primary btn-block" href="/post/9694" >OFFICIAL CONSPIRACY THEORY THREAD</a>
	<a class="btn btn-primary btn-block" href="/post/10415">OFFICIAL GAMBLING THREAD</a>
	<a class="btn btn-primary btn-block" href="https://imgur.com/a/UFGJybS">PCM Watermark Collection</a>
	<a class="btn btn-primary btn-block" href="https://imgur.com/a/HxBfECG">TRS</a>
	<a class="btn btn-primary btn-block" href="https://imgur.com/a/Wkw11eX">Current RV Cutouts</a>
	<a class="btn btn-primary btn-block" href="https://imgur.com/a/B3XHKnD">PCM Shitposter Cutouts (1/?)</a>
	<a class="btn btn-primary btn-block" href="https://imgur.com/a/2wDZddF">PCM Shitposter Cutouts (2/?)</a>
	<p class="mt-4"> Rules: No doxing, No CP or other clearly illegal shit. Thanks.</p>
	<p class="mt-4"> This website has nothing to do with Political Compass Memes.</p>
	
	{% if sub %}
		{% set image=sub.sidebar_url %}
	{% else %}
		{% set image='/i/' + SITE_NAME + '/sidebar.webp?v=3009' %}
	{% endif %}
	
	{% if request.path != '/sidebar' %}
		<a href="{{image}}">
			<img class="mb-4" alt="sidebar image" onclick="expandDesktopImage()" loading="lazy" src="{{image}}" width=100%>
		</a>
	{% endif %}
</div>