{%- import 'util/helpers.html' as help -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<script defer src="{{'js/bootstrap.js' | asset}}"></script>
	<script defer src="{{'js/core.js' | asset}}"></script>

	<meta name="description" content="{{DESCRIPTION}}">
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; connect-src 'self'; object-src 'none';">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="">
	<link rel="icon" type="image/webp" href="{{'icon.webp' | asset_siteimg}}">

	{% if SITE == 'pcmemes.net' %}
		{% set cc='Splash Mountain' %}
	{% else %}
		{% set cc='Country Club' %}
	{% endif %}

	{% block title %}
		<title>Create a post - {{SITE_NAME}}</title>
	{% endblock %}

	{% block stylesheets %}
		{% if v %}
			<style>:root{--primary:#{{v.themecolor}}}</style>
			<link rel="stylesheet" href="{{'css/main.css' | asset}}">
			<link rel="stylesheet" href="{{('css/'~v.theme~'.css') | asset}}">
			{% if v.agendaposter %}
				<style>
					html {
						cursor:url('/i/dildo.webp?v=2000'), auto;
					}
				</style>
			{% elif v.css %}
				<style>
					{{v.css | safe}}
				</style>
			{% endif %}
		{% else %}
			<style>:root{--primary:#{{DEFAULT_COLOR}}</style>
			<link rel="stylesheet" href="{{'css/main.css' | asset}}">
			<link rel="stylesheet" href="{{('css/'~DEFAULT_THEME~'.css') | asset}}">
		{% endif %}
	{% endblock %}
</head>

<body id="submit" {% if SITE_NAME == 'rDrama' and v and (v.is_banned or v.agendaposter) %}style="overflow-x: hidden;background:url(/assets/images/backgrounds/anime/1.webp?v=3) center center fixed; background-color: var(--background)"{% elif v and v.background %}style="overflow-x: hidden; background:url(/assets/images/backgrounds/{{v.background}}?v=3) center center fixed; background-color: var(--background)display: block{% if 'anime' not in v.background %};background-size: cover{% endif %}"{% endif %}>

				{% include "header.html" %}

		{% block form %}

		
		<div class="submit-grid-view">
			<form id="submitform" action="{% if sub %}/h/{{sub}}{% endif %}/submit" method="post" enctype="multipart/form-data" style="grid-column: 2">

				<div class="container">

						<div class="row justify-content-center mb-5">

								<div class="col p-3 py-md-0">

										<h2 class="mt-3">Create a post</h2>

										<div class="body">

												<input type="hidden" name="formkey" value="{{v.formkey}}">

												<label class='mt-4' for="title">{{HOLE_NAME|capitalize}}</label>

												<div class="input-group mb2">
													{%- set hole_placeholder = 'Required' if HOLE_REQUIRED else 'Optional' -%}
													<input list="subs" autocomplete="off" id='sub' class="form-control" form="submitform" name="sub" oninput="savetext()" {% if sub %}value="{{sub}}"{% endif %} placeholder="{{hole_placeholder}}">
													<datalist id="subs">
														{% for s in SUBS %}
															<option value="{{s}}"></option>
														{% endfor %}
													</datalist>
													
												</div>

												<label class='mt-4' for="title">Post Title</label>


												<input autocomplete="off" class="form-control allow-emojis" id="post-title" aria-describedby="titleHelpRegister" type="text" name="title" placeholder="Required" value="{{title}}" minlength="1" maxlength="500" required oninput="checkForRequired();savetext()">

												<div onclick="loadEmojis('post-title')" class="btn btn-secondary format d-inline-block m-0" id="emoji-reply-btn-2" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"><i class="fas fa-smile-beam"></i></div>												

												<div id="urlblock">
														<label for="URL" class="mt-3">URL</label>
														<input autocomplete="off" class="form-control" id="post-url" aria-describedby="URLHelp" name="url" type="url" placeholder="Optional if you have text." value="{{request.values.get('url','')}}" required oninput="checkForRequired();hide_image();savetext();checkRepost(){% if SITE_NAME != 'PCM' %};autoSuggestTitle(){% endif %}">
														<small id="system" class="form-text text-muted">To post an image, use a direct image link such as i.imgur.com</small>
												</div>
												<div id="image-upload-block">
													<div><label class="mt-3">Attachment Upload</label></div>

													<img loading="lazy" id="image-preview" style="max-width:50%">
													<label class="btn btn-secondary m-0" for="file-upload">
														<div id="filename-show">Select File</div>
														<input autocomplete="off" id="file-upload" accept="image/*, video/*, audio/*" type="file" name="file-url" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} hidden>
													</label>
													<small class="form-text text-muted">Optional if you have text.</small>
													<small class="form-text text-muted">You can upload images or videos.</small>
												</div>
												</div>

												<label for="body" class="mt-3">Text<i class="fas fa-info-circle text-gray-400 ml-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Uses markdown. Limited to 20000 characters."></i></label>

												<textarea form="submitform" id="post-text" class="form-control rounded" aria-label="With textarea" placeholder="Optional if you have a link or an image." rows="7" name="body" data-preview="preview" oninput="markdown(this);charLimit('post-text','character-count-submit-text-form');checkForRequired();savetext()" {% if v.longpost %}minlength="280"{% endif %} maxlength="{% if v.bird %}140{% else %}20000{% endif %}" required></textarea>
												<div class="ghostdiv" style="display:none;"></div>

												<div class="text-small font-weight-bold mt-1" id="character-count-submit-text-form" style="right: 1rem; bottom: 0.5rem; z-index: 3;"></div>

												<p></p>

												<div class="btn btn-secondary fl-r" onclick="document.getElementById('preview').classList.toggle('d-none');">
													Toggle preview
												</div>

												<small onclick="makeBold('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-bold" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bold"></i>
												</small>
												&nbsp; 
												<small onclick="makeItalics('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-italic" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Italicize"></i>
												</small>
												&nbsp; 
												<small onclick="makeQuote('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-quote-right" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Quote"></i>
												</small>
												&nbsp;
												<small class="btn btn-secondary format d-inline-block m-0"><span class="font-weight-bolder text-uppercase" aria-hidden="true" onclick="getGif();commentForm('post-text')" data-bs-toggle="modal" data-bs-target="#gifModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add GIF">GIF</span></small>
												&nbsp;
												<div onclick="loadEmojis('post-text')" class="btn btn-secondary format d-inline-block m-0" id="emoji-reply-btn" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"><i class="fas fa-smile-beam"></i></div>
																
												<label class="format btn btn-secondary m-0 ml-1 {% if v %}d-inline-block{% else %}d-none{% endif %}" for="file-upload-submit">
													<div id="filename-show-submit"><i class="fas fa-file"></i></div>
													<input autocomplete="off" id="file-upload-submit" multiple="multiple" accept="image/*, video/*, audio/*" type="file" name="file" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} onchange="changename('filename-show-submit','file-upload-submit');checkForRequired()" hidden>
												</label>		

												<div id="preview" class="preview my-3"></div>

												<pre></pre>
												<div class="form-text text-small"><a href="/formatting" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>Formatting help</a></div>
												<pre></pre>

												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="post-notify" name="notify" onchange="savetext()" checked>
													<label class="custom-control-label" for="post-notify">Notify followers</label>
												</div>

												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="post-new" name="new" onchange="savetext()">
													<label class="custom-control-label" for="post-new">Make the default comment sorting "new"</label>
												</div>

												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="post-nsfw" name="over_18" onchange="savetext()">
													<label class="custom-control-label" for="post-nsfw">+18</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input onchange='draft(this);' autocomplete="off" type="checkbox" class="custom-control-input" id="post-private" name="private" onchange="savetext()">
													<label class="custom-control-label" for="post-private">Draft</label>
												</div>

												{% if FEATURES['COUNTRY_CLUB'] -%}
												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="post-club" name="club" onchange="savetext()">
													<label class="custom-control-label" for="post-club">{{CC_TITLE}} thread {% if DUES <= 0 %}(hides threads from logged-out users){% endif %}</label>
												</div>
												{%- endif %}

												<div class="custom-control custom-checkbox">
													<input onchange='draft(this);' autocomplete="off" type="checkbox" class="custom-control-input" id="post-ghost" name="ghost" {% if v.coins < 100 %}disabled{% endif %}>
													<label class="custom-control-label" for="post-ghost">Ghost thread (cost: 100 coins)</label>
												</div>

												<pre>






												</pre>
										</div>

								</div>

						</div>

				<div class="container">
						<div class="row fixed-bottom bg-white border-top p-3" id="" style="z-index: 100; bottom: 0px; transition: bottom 220ms cubic-bezier(0, 0, 0.2, 1) 0s;">
								<div class="col">
										<a href="/" class="btn btn-secondary">Cancel</a>
								</div>
								<div class="col text-right">
										{% if error %}<span class="text-danger text-large mr-2">{{error}}</span>{% endif %}
										<button class="btn btn-primary" id="create_button" type="submit" onclick="disable(this)" disabled>Post</button>
								</div>
						</div>
				</div>

			</form>

		</div>
		{% endblock %}

		{% if request.path == '/submit' %}
			<script>
				let sub = document.getElementById('sub')
				if (sub) sub.value = localStorage.getItem("sub")
			</script>
		{% endif %}

		<script defer src="{{'js/marked.js' | asset}}"></script>
		<script defer src="{{'js/formatting.js' | asset}}"></script>
		<script defer src="{{'js/submit.js' | asset}}"></script>
		{% include "emoji_modal.html" %}
		{% include "gif_modal.html" %}

</body>

</html>
