{% macro userBanBlock(deviceType) -%}
	{% if u.is_suspended %}
		<h5 class="text-primary" id="profile-{{deviceType}}--banned">BANNED USER
		{% if u.ban_reason %}:
			{{u.ban_reason | safe}}
		{% endif %}
		(by <a href="{{u.banned_by.url}}">@{{u.banned_by.username}}</a>)
		</h5>
		{% if u.unban_utc %}
			<h5 class="text-primary" id="profile--unban">{{u.unban_string}}</h5>
		{% endif %}
	{% endif %}
	{% if v and v.admin_level >= PERMS['USER_SHADOWBAN'] and u.shadowbanned %}
		<h5 class="text-primary" id="profile-{{deviceType}}--shadowbanned">SHADOWBANNED USER
		{% if u.ban_reason %}:
			{{u.ban_reason | safe}}
		{% endif %}
		(by <a href="/@{{u.shadowbanned}}">@{{u.shadowbanned}}</a>)
		</h5>
	{% endif %}
{%- endmacro %}

{% macro userAdminToolsLower(deviceType) -%}
	{% if v and v.id != u.id and v.admin_level >= PERMS['USER_MODERATION_TOOLS_VISIBLE'] %}
		<div class="admintools-user-lower-{{deviceType}}">
			<br><br>
			{% if v.admin_level >= PERMS['USER_TITLE_CHANGE'] %}
				<div class="body d-lg-flex border-bottom">
					<div class="w-lg-100">
						<form action="/admin/title_change/{{u.id}}" method="post">
							<input type="hidden" name="formkey" value="{{v.formkey}}">
							<input maxlength=100 autocomplete="off" id="customtitlebody-{{deviceType}}" type="text" name="title" class="form-control" placeholder='Enter a flair here' value="{% if u.customtitleplain %}{{u.customtitleplain}}{% endif %}">
							<div class="d-flex mt-2">
								<a class="format" role="button"><i class="btn btn-secondary format d-inline-block m-0 fas fa-smile-beam" onclick="loadEmojis('customtitlebody-{{deviceType}}')" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"></i></a>
								&nbsp;&nbsp;&nbsp;
								<div class="custom-control custom-checkbox">
									<input autocomplete="off" type="checkbox" class="custom-control-input" id="locked" name="locked" {% if u.flairchanged %}checked{% endif %}>
									<label class="custom-control-label" for="locked">locked</label>
								</div>
								&nbsp;&nbsp;&nbsp;
								<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" onclick="disable(this)" value="Change Flair">
							</div>
						</form>
					</div>
				</div>
				<pre></pre>
				<pre></pre>
			{% endif %}
			{% if v.admin_level >= PERMS['USER_BAN'] %}
				{% if u.is_suspended %}
					<form action="/unban_user/{{u.id}}" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<input type="hidden" name="redir" value="true">
						<input type="submit" onclick="disable(this)" class="btn btn-success" value="Unban user">
					</form>
				{% else %}
					<form action="/ban_user/{{u.id}}" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<input type="hidden" name="redir" value="true">
						<input autocomplete="off" style="font-size:11px" type="text" class="form-control" maxlength="256" name="reason" placeholder="Ban Reason" oninput="document.getElementById('user-ban-submit-{{deviceType}}').disabled=false" required>
						<input autocomplete="off" style="font-size:11px" type="number" step="any" class="form-control" name="days" placeholder="Days (blank = permanent)">
						<div class="custom-control custom-checkbox mb-1">
							<input autocomplete="off" type="checkbox" id="alts-2-{{deviceType}}" class="custom-control-input" name="alts" value="1">
							<label class="custom-control-label" for="alts-2-{{deviceType}}">Include alts</label>
						</div>
						<input autocomplete="off" id="user-ban-submit-{{deviceType}}" type="submit" onclick="disable(this)" class="btn btn-danger" value="Ban user" disabled>
					</form>
				{% endif %}
				<pre></pre>
				<pre></pre>
			{% endif %}
			{% if v.admin_level >= PERMS['USER_SHADOWBAN'] %}
				{% if u.shadowbanned %}
					<form action="/unshadowban/{{u.id}}" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<input type="submit" onclick="disable(this)" class="btn btn-success" value="Unshadowban user">
					</form>
				{% else %}
					<form action="/shadowban/{{u.id}}" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<input autocomplete="off" style="font-size:11px" type="text" class="form-control" maxlength="256" name="reason" placeholder="Shadowban Reason" oninput="document.getElementById('user-shadowban-submit-{{deviceType}}').disabled=false" required>
						<div class="custom-control custom-checkbox mb-1">
							<input autocomplete="off" type="checkbox" id="shadowban-alts-{{deviceType}}" class="custom-control-input" name="alts" value="1">
							<label class="custom-control-label" for="shadowban-alts-{{deviceType}}">Include alts</label>
						</div>
						<input autocomplete="off" id="user-shadowban-submit-{{deviceType}}" type="submit" onclick="disable(this)" class="btn btn-danger" value="Shadowban user" disabled>
					</form>
				{% endif %}
				<pre></pre>
				<pre></pre>
			{% endif %}
			{% if v.admin_level >= PERMS['USER_AGENDAPOSTER'] %}
				<form id="agendaposter-{{deviceType}}" class="{% if u.agendaposter %}d-none{% endif %}" action="/agendaposter/{{u.id}}" method="post">
					<input type="hidden" name="formkey", value="{{v.formkey}}">
					<input autocomplete="off" type="number" step="any" name="days" class="form-control" placeholder="Days (0 or blank = permanent)">
					<input type="submit" onclick="disable(this)" class="btn btn-danger" value="Lock Chud Theme">
				</form>
				<pre></pre>
				<a id="unagendaposter-{{deviceType}}" class="{% if not u.agendaposter %}d-none{% endif %} btn btn-success" role="button" onclick="post_toast(this,'/unagendaposter/{{u.id}}','agendaposter-{{deviceType}}','unagendaposter-{{deviceType}}','d-none')">Disable Chud Theme</a>
			{% endif %}
			{% if v.admin_level >= PERMS['USER_BAN'] %}
				<a id="mute-user-{{deviceType}}" class="{% if u.is_muted %}d-none{% endif %} btn btn-danger" role="button" onclick="post_toast(this,'/mute_user/{{u.id}}/1','mute-user-{{deviceType}}','unmute-user-{{deviceType}}','d-none')">Mute</a>
				<a id="unmute-user-{{deviceType}}" class="{% if not u.is_muted %}d-none{% endif %} btn btn-success" role="button" onclick="post_toast(this,'/mute_user/{{u.id}}/0','mute-user-{{deviceType}}','unmute-user-{{deviceType}}','d-none')">Unmute</a>
				<pre></pre>
			{% endif %}
			{% if v and v.admin_level >= PERMS['POST_COMMENT_MODERATION'] %}
				<form action="/admin/unnuke_user" method="post">
					<input type="hidden" name="formkey", value="{{v.formkey}}">
					<input type="hidden" name="user" value="{{u.username}}">
					<input type="submit" onclick="disable(this)" class="btn btn-success" value="Approve User's Content">
				</form>
				<pre></pre>
				<form action="/admin/nuke_user" method="post">
					<input type="hidden" name="formkey", value="{{v.formkey}}">
					<input type="hidden" name="user" value="{{u.username}}">
					<input type="submit" onclick="disable(this)" class="btn btn-danger" value="Remove User's Content">
				</form>
			{% endif %}
			{% if FEATURES['COUNTRY_CLUB'] and v and v.admin_level >= PERMS['USER_CLUB_ALLOW_BAN'] %}
				<pre></pre>
				<button id="grant-{{device}}" class="{% if u.paid_dues %}d-none{% endif %} btn btn-success" onclick="post_toast(this,'/@{{u.username}}/club_allow','grant-{{device}}','bar-{{device}}','d-none')">Grant club access</button>
				<button id="bar-{{device}}" class="{% if u.club_allowed == False %}d-none{% endif %} btn btn-danger" onclick="post_toast(this,'/@{{u.username}}/club_ban','grant-{{device}}','bar-{{device}}','d-none')">Bar from club</button>
			{% endif %}
		</div>
	{% endif %}
{%- endmacro %}