{% extends "default.html" %}
{% block content %}
<pre></pre>
<h5 class="mt-2">Users who viewed your profile</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th>Last visit</th>
	</tr>
</thead>
{% for view in viewers %}
	<tr>
		<td>
			{% with user=view.viewer %}
				{% include "user_in_table.html" %}
			{% endwith %}
		</td>
		<td>{{view.last_view_string}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}