{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}}</title>

{% endblock %}

{% block content %}

{% if thing %}

<pre>

</pre>
<h1>Info</h1>
<p><a href="{{thing.permalink}}">{{thing.permalink}}</a></p>
<p><b>Author:</b> <a href="{{thing.author.url}}">@{{thing.author.username}}</a></p>
<p><b>Author Created At:</b> <span data-time="{{thing.author.created_utc}}"></span></p>
<p><b>Author Truescore:</b> {{thing.author.truecoins}}</p>
<p><b>Upvotes: </b>{{ups | length}}</p>
<p><b>Downvotes: </b>{{downs | length}}</p>

{% if v.admin_level and (total_ups and patrons_ups) %}
	<p><b>Total Truescore: </b>{{total_ups}}</p>
	<p><b>Total Paypigs: </b>{{patrons_ups}}</p>
{% endif %}

<h2>Upvotes</h2>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>User</th>
				<th onclick="sort_table(1)">User Truescore</th>
				<th onclick="sort_table(2)">Vote Time</th>
			</tr>
		</thead>

		{% for vote in ups %}
			<tr>
				<td>
					<a style="color:#{{vote.user.name_color}};font-weight:bold" href="/@{{vote.user.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{vote.user.profile_url}}" class="pp20">
							{% if vote.user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{vote.user.hat_active}}?v=1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{vote.user.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if vote.user.patron %}class="patron" style="background-color:#{{vote.user.name_color}}"{% endif %} data-user-id="{{vote.user.id}}">
							{{vote.user.username}}
						</span>
					</a>
				</td>
				<td>{{vote.user.truecoins}}</td>
				<td data-time="{{vote.created_utc}}"></td>
			</tr>
		{% endfor %}
	</table>
</div>

<h2>Downvotes</h2>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>User</th>
				<th onclick="sort_table(1)">User Truescore</th>
				<th onclick="sort_table(2)">Vote Time</th>
			</tr>
		</thead>

		{% for vote in downs %}
			<tr>
				<td>
					<a style="color:#{{vote.user.name_color}};font-weight:bold" href="/@{{vote.user.username}}">
						<div class="profile-pic-20-wrapper">
							<img loading="lazy" src="{{vote.user.profile_url}}" class="pp20">
							{% if vote.user.hat_active -%}
							<img class="profile-pic-20-hat hat" loading="lazy" src="/i/hats/{{vote.user.hat_active}}?v=1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{vote.user.hat_tooltip(v)}}">
							{%- endif %}
						</div>
						<span {% if vote.user.patron %}class="patron" style="background-color:#{{vote.user.name_color}}"{% endif %} data-user-id="{{vote.user.id}}">
							{{vote.user.username}}
						</span>
					</a>
				</td>
				<td>{{vote.user.truecoins}}</td>
				<td data-time="{{vote.created_utc}}"></td>
			</tr>
		{% endfor %}
	</table>
</div>

<script src="{{asset('js/sort_table.js')}}"></script>

{% endif %}


{% endblock %}
