<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="description" content="People die and this is the place to see it. You only have one life, don't make the mistakes seen here.">
		<style>
			:root{--primary:#ff66ac}
			body {
				padding-top: 54px !important;
			}
			@media (max-width: 767.98px) {
				body {
					padding-top: 44px !important;
				}
			}
			@media (min-width: 380px) {
				#logo {
					width: 100px;
					margin-left: 0.5rem !important;
				}
			}
			.pad {
				padding-bottom: 7.4px;
				padding-top: 7.4px;
			}
		</style>
		<link rel="stylesheet" href="/assets/css/main.css?v=4032">
		<link rel="stylesheet" href="/assets/css/midnight.css?v=4000">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="thumbnail" content="/i/WPD/site_preview.webp?v=3009">

		<link rel="icon" type="image/webp" href="/i/WPD/icon.webp?v=3009">

		<title>rip</title>

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-title" content="WPD">
		<meta name="application-name" content="WPD">
		<meta name="msapplication-TileColor" content="#ff66ac">
		<meta name="msapplication-config" content="/assets/browserconfig.xml?v=3009">
		<meta name="theme-color" content="#ff66ac">
	</head>

	<body id="rip">
		<div class="container">
			<div class="row justify-content-around" id="main-content-row">
				<div class="col h-100 custom-gutters" id="main-content-col">
					<div class="row justify-content-center">
						<div class="col-10 col-md-5">
                            <div class="center">
                                <div class="col-10 col-md-5">
                                    <div class="text-center px-3 my-8">
                                        <img src="assets/images/WPDBYE_w_text_2.png">
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>