{% extends "default.html" %}

{% block title %}
<title>WEBM videos are not allowed</title>
{% endblock %}

{% block pagetype %}error-418{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
		<img alt=":#marseyretard:" loading="lazy" src="/e/marseyretard.webp">
		<pre></pre>
		<h1 class="h5">WEBM videos are not allowed</h1>
		<div><a href="/" class="btn btn-primary">please convert your video to MP4 and re-upload it!</a></div>
		</div>
	</div>
</div>
{% endblock %}