{% extends "default.html" %}

{% block title %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block pagetype %}error-500{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			{% if SITE_NAME == 'PCM' %}
				<img alt="wholesome" loading="lazy" src="/i/wholesome.webp">
			{% else %}
				<img alt=":#marseycarp3:" loading="lazy" src="/e/marseycarp3.webp">
			{% endif %}
			<pre></pre>
			<h1 class="h5">500 Internal Server Error</h1>
			<p class="text-muted mb-5">
				{% if SITE_NAME == 'PCM' %}
					Hiiiii it's <b>nigger</b>! I think this error means that there's a <b>nigger</b> error. And I think that means something took too long to load so it decided to be a <b>nigger</b>. If you keep seeing this on the same page but not other pages, then something its probably a <b>niggerfaggot</b>. It may not be called a <b>nigger</b>, but that sounds right to me. Anyway, ping me and I'll whine to someone smarter to fix it. Don't bother them. Thanks ily &lt;3
				{% else %}
					Hiiiii it's carp! I think this error means that there's a timeout error. And I think that means something took too long to load so it decided not to work at all. If you keep seeing this on the same page <I>but not other pages</I>, then something is probably wrong with that specific function. It may not be called a function, but that sounds right to me. Anyway, ping me and I'll whine to someone smarter to fix it. Don't bother them. Thanks ily &lt;3
				{% endif %}
			</p>
			<div><a href="/" class="btn btn-primary">Go to the frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
