<html lang="en">
	<head>
		<meta name="description" content="rdrama.net caters to drama in all forms such as: Real life, videos, photos, gossip, rumors, news sites, Reddit, and Beyond™. There isn't drama we won't touch, and we want it all!" />
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ajax.cloudflare.com; connect-src 'self'; object-src 'none';" />
		<style>
			:root {
				--primary: #ff66ac;
			}
		</style>
		<link rel="stylesheet" href="/assets/css/main.css?v=4032" />
		<link rel="stylesheet" href="/assets/css/midnight.css?v=4000" />
		<link rel="stylesheet" href="/assets/css/awards.css?v=4000" />
		<style>
			.mod:before {
				content: "(((";
			}
			.mod:after {
				content: ")))";
			}
		</style>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="thumbnail" content="/i/rDrama/site_preview.webp?v=3009" />
		<link rel="icon" type="image/webp" href="/i/rDrama/icon.webp?v=3009" />
		<title>500 Internal Server Error</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="apple-touch-icon" sizes="180x180" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="manifest" href="/assets/manifest_rDrama.json?v=6" />
		<link rel="mask-icon" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="shortcut icon" href="/i/rDrama/icon.webp?v=3009" />
		<meta name="apple-mobile-web-app-title" content="rDrama" />
		<meta name="application-name" content="rDrama" />
		<meta name="msapplication-TileColor" content="#ff66ac" />
		<meta name="msapplication-config" content="/assets/browserconfig.xml?v=3009" />
		<meta name="theme-color" content="#ff66ac" />
		<link rel="apple-touch-startup-image" sizes="320x480" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="640x960" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-icon" sizes="640x1136" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-icon" sizes="750x1334" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="768x1004" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="768x1024" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="828x1792" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1024x748" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1024x768" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1125x2436" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1242x2208" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1242x2688" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1334x750" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1536x2008" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1536x2048" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1668x2224" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1792x828" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x1496" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x1536" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x2732" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2208x1242" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2224x1668" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2436x1125" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2668x1242" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2737x2048" href="/i/rDrama/icon.webp?v=3009" />
	</head>

	<body id="error-500">
		<a href="https://secure.transequality.org/site/Donation2?df_id=1480">
			<img alt="site banner" src="/i/rDrama/cached.webp?v=3009" width="100%" />
		</a>
		<nav class="shadow-md fixed-top">
			<style>
				body {
					padding-top: 83px !important;
				}
				@media (max-width: 767.98px) {
					body {
						padding-top: 63px !important;
					}
				}
			</style>
			<style>
				body {
					padding-top: 54px !important;
				}
				@media (max-width: 767.98px) {
					body {
						padding-top: 44px !important;
					}
				}
			</style>
			<div class="navbar navbar-expand-md navbar-light" id="navbar">
				<div class="container-fluid" style="padding: 0;">
					<a href="/" class="navbar-brand mr-auto">
						<img id="header--icon" alt="header icon" src="/i/rDrama/headericon.webp?v=3009" />
					</a>
					<style>
						@media (min-width: 380px) {
							#logo {
								width: 100px;
								margin-left: 0.5rem !important;
							}
						}
					</style>
					<div id="logo-container" class="flex-grow-1 logo-container">
						<a href="/">
							<img class="ml-1" id="logo" alt="logo" src="/i/rDrama/logo.webp?v=3009" width="70" />
						</a>
					</div>
					<div class="flex-grow-1 d-fl d-none d-md-block pad">
						<form class="form-inline search flex-nowrap mx-0 mx-lg-auto" style="margin-right: 40rem !important;" action="/search/posts/" method="get">
							<input autocomplete="off" class="form-control w-100" type="search" placeholder="Search" aria-label="Search" name="q" value="" />
							<span class="input-group-append">
								<span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
									<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</span>
						</form>
					</div>
				</div>
			</div>
		</nav>
		<style>
			.pad {
				padding-bottom: 7.4px;
				padding-top: 7.4px;
			}
		</style>
		<div class="container">
			<div class="row justify-content-around" id="main-content-row">
				<div class="col h-100 custom-gutters" id="main-content-col">
					<div class="row justify-content-center">
						<div class="col-10 col-md-5">
							<div class="text-center px-3 my-8">
								<img alt=":#marseydead:" loading="lazy" src="/e/marseycarp3.webp" />
								<pre></pre>
								<h1 class="h5">500 Internal Server Error</h1>
								<p class="text-muted mb-5">
									Hiiiii it's carp! I think this error means that there's a timeout error. And I think that means something took too long to load so it decided not to work at all. If you keep seeing this on the same page
									<i>but not other pages</i>, then something is probably wrong with that specific function. It may not be called a function, but that sounds right to me. Anyway, ping me and I'll whine to someone smarter to
									fix it. Don't bother them. Thanks ily &lt;3
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container d-inline-flex d-lg-none">
			<div class="row fixed-bottom bg-white border-top p-2" id="mobile-bottom-navigation-bar" style="z-index: 100; bottom: 0px; transition: bottom cubic-bezier(0, 0, 0.2, 1) 220ms;">
				<button class="col px-0 ml-3 btn btn-dead m-0" style="background: None !important; border: None;">
					<a href="/" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-home-alt text-lg"></i>
							<div class="text-small">Home</div>
						</div>
					</a>
				</button>
				<button class="col px-0 btn btn-dead m-0" style="background: None !important; border: None;">
					<a href="/?sort=new&amp;t=all" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-sparkles text-lg"></i>
							<div class="text-small">New</div>
						</div>
					</a>
				</button>
				<button class="col px-2 btn btn-dead m-0" style="background: None !important; border: None;">
					<a href="/comments" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-comment-dots text-lg"></i>
							<div class="text-small">Comments</div>
						</div>
					</a>
				</button>
				<button class="col px-0 btn btn-dead m-0" style="background: None !important; border: None;">
					<a href="/leaderboard" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-trophy text-lg"></i>
							<div class="text-small">Users</div>
						</div>
					</a>
				</button>
				<button class="col px-0 mr-3 btn btn-dead m-0" style="background: None !important; border: None;">
					<a href="/signup" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-user-plus text-lg"></i>
							<div class="text-small">Sign Up</div>
						</div>
					</a>
				</button>
			</div>
		</div>
		<script defer="" src="/assets/js/mobile_navigation_bar.js?v=4000"></script>
	</body>
</html>