<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="description" content="rdrama.net caters to drama in all forms such as: Real life, videos, photos, gossip, rumors, news sites, Reddit, and Beyond™. There isn&#39;t drama we won&#39;t touch, and we want it all!" />

		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ajax.cloudflare.com; connect-src 'self'; object-src 'none';" />

		<style>
			:root{--primary:#ff66ac}
			.mod:before {
				content: "(((";
			}
			.mod:after {
				content: ")))";
			}
			body {
				padding-top: 54px !important;
			}
			@media (max-width: 767.98px) {
				body {
					padding-top: 44px !important;
				}
			}
			@media (min-width: 380px) {
				#logo {
					width: 100px;
					margin-left: 0.5rem !important;
				}
			}
			.pad {
				padding-bottom: 7.4px;
				padding-top: 7.4px;
			}
		</style>
		<link rel="stylesheet" href="/assets/css/main.css?v=4032" />
		<link rel="stylesheet" href="/assets/css/midnight.css?v=4000" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<meta name="thumbnail" content="/i/rDrama/site_preview.webp?v=3009" />

		<link rel="icon" type="image/webp" href="/i/rDrama/icon.webp?v=3009" />

		<title>500 Bad Gateway</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="apple-touch-icon" sizes="180x180" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="manifest" href="/assets/manifest_rDrama.json?v=6" />
		<link rel="mask-icon" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="shortcut icon" href="/i/rDrama/icon.webp?v=3009" />
		<meta name="apple-mobile-web-app-title" content="rDrama" />
		<meta name="application-name" content="rDrama" />
		<meta name="msapplication-TileColor" content="#ff66ac" />
		<meta name="msapplication-config" content="/assets/browserconfig.xml?v=3009" />
		<meta name="theme-color" content="#ff66ac" />

		<link rel="apple-touch-startup-image" sizes="320x480" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="640x960" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-icon" sizes="640x1136" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-icon" sizes="750x1334" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="768x1004" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="768x1024" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="828x1792" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1024x748" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1024x768" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1125x2436" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1242x2208" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1242x2688" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1334x750" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1536x2008" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1536x2048" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1668x2224" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="1792x828" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x1496" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x1536" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2048x2732" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2208x1242" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2224x1668" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2436x1125" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2668x1242" href="/i/rDrama/icon.webp?v=3009" />
		<link rel="apple-touch-startup-image" sizes="2737x2048" href="/i/rDrama/icon.webp?v=3009" />
	</head>

	<body id="error-502">
		<a href="https://secure.transequality.org/site/Donation2?df_id=1480">
			<img alt="site banner" src="/i/rDrama/cached.webp?v=3009" width="100%" />
		</a>

		<nav class="shadow-md fixed-top">
			<div class="navbar navbar-expand-md navbar-light" id="navbar">
				<div class="container-fluid" style="padding: 0;">
					<a href="/" class="navbar-brand mr-auto">
						<img id="header--icon" alt="header icon" src="/i/rDrama/headericon.webp?v=3009" />
					</a>

					<div id="logo-container" class="flex-grow-1 logo-container">
						<a href="/">
							<img class="ml-1" id="logo" alt="logo" src="/i/rDrama/logo.webp?v=3009" width="70" />
						</a>
					</div>

					<div class="flex-grow-1 d-fl d-none d-md-block pad">
						<form class="form-inline search flex-nowrap mx-0 mx-lg-auto" style="margin-right: 40rem !important;" action="/search/posts/" method="get">
							<input autocomplete="off" class="form-control w-100" type="search" placeholder="Search" aria-label="Search" name="q" value="" />
							<span class="input-group-append">
								<span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
									<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</span>
						</form>
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row justify-content-around" id="main-content-row">
				<div class="col h-100 custom-gutters" id="main-content-col">
					<div class="row justify-content-center">
						<div class="col-10 col-md-5">
							<div class="text-center px-3 my-8">
								<img alt=":#marseycapysorenjump2:" loading="lazy" src="/e/marseycapysorenjump2.webp" />
								<pre></pre>
								<h1 class="h5">502 Bad Gateway</h1>
								<p class="text-muted mb-3">
									aevann is probably restarting server or sum shit, just keep refreshing lmao
								</p>
								<div><a href="/" class="btn btn-primary">Refresh</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>