@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ChatMessage {
  position: relative;
  animation: fading-in 0.3s ease-in-out forwards;
  padding: 1rem;
  padding-right: 3rem;
}

.ChatMessage .btn {
  border: none !important;
}

.ChatMessage-top {
  display: flex;
  align-items: center;
}

.ChatMessage-timestamp {
  margin-left: 0.5rem;
}

.ChatMessage-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.ChatMessage-content {
  margin-right: 0.5rem;
  word-wrap: break-word;
  display: inline-block;
}

.ChatMessage-button {
  background: transparent !important;
}

.ChatMessage-button__confirmed i {
  color: red !important;
}

.ChatMessage-delete {
  position: absolute;
  top: 4px;
  right: 4px;
}

/* List */
.ChatMessageList {
  flex: 1;
}