@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ChatMessage {
  position: relative;
  animation: fading-in 0.3s ease-in-out forwards;
  padding-right: 1.5rem;
  min-height: 28px;
}

.ChatMessage p {
  margin: 0;
}

.ChatMessage__showingUser:not(:first-child) {
  margin-top: 2rem;
}

.ChatMessage:not(.ChatMessage__showingUser) {
  padding-bottom: 0;
}

.ChatMessage .btn {
  border: none !important;
}

.ChatMessage-top {
  display: flex;
  align-items: center;
}

.ChatMessage-timestamp {
  margin-left: 0.5rem;
  opacity: 0.5;
  font-size: 10px;
}

.ChatMessage-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.ChatMessage-content {
  margin-right: 0.5rem;
  word-wrap: break-word;
  display: inline-block;
}

.ChatMessage-button {
  margin: 0 0.5rem;
}

.ChatMessage-button i {
  margin-right: 0.5rem;
}

.ChatMessage-button__confirmed {
  color: red !important;
}

.ChatMessage-actions-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ChatMessage-actions {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.85);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 3rem;
  animation: fading-in 0.3s ease-in-out forwards;
}

.ChatMessage-actions button {
  font-size: 10px;
  background: none !important;
}

/* List */
.ChatMessageList {
  flex: 1;
  padding-bottom: 2rem;
}