.Chat {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 350px;
  max-width: 1200px;
}

.Chat-mobile-top {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.Chat-mobile-top i {
  margin-right: 0.25rem;
  position: relative;
  top: -1px;
}

.Chat-mobile-top span {
  font-size: 18px;
}

.Chat-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media screen and (max-width: 1180px) {
  .Chat-mobile-top {
    display: flex;
  }
  .Chat-side {
    display: none;
  }
}

.Chat-drawer {
  padding-right: 1rem;
}

.Chat-typing {
  height: 18px;
  display: inline-block;
}


.Chat-window {
  width: 100%;
}