@keyframes sliding-up {
    from {
        top: 50px;
    }
    to {
        top: 0;
    }
}

.QuotedMessage {
    position: relative;
    padding: 0.5rem 0;
    border-top: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: sliding-up 0.3s forwards;
}

.QuotedMessage-content {
    margin-left: 1rem;
    flex: 1;
    max-width: 420px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}